<app-homenavbar></app-homenavbar>
<section id="landingpage">
    <div class="w-75">
        <p class="fs-48 ff-n text-white fw-9 text-center"><span class="fc-yellow">Over 150</span> management features
            into <span class="fc-yellow">ONE</span> database, unifying school and home.</p>

    </div>
    <div class="w-50">
        <p class="text-white ff-n fs-18 text-center">
            SchoolTrack is an all-inclusive and ubiquitous shared educational technology<br> infrastructure that confers
            affordability and unbeatable capability on member schools...
        </p>

    </div>
    <div class="mt-3">
        <div class="d-flex justify-content between">
            <button class="btn btn-outline-orange px-5 mx-2 mx-lg-3">Learn more</button>
            <button class="btn btn-orange-two mx-2 mx-lg-3 px-3">
                Request a demo
            </button>
        </div>
    </div>
</section>

<section id="thewhy">

</section>

<section id="products">
    <div class="inn">
        <div class="container">
            <div class="row">
                <div class="col-lg-9">
                    <div class="py-lg-5 py-3">
                        <div class="row">
                            <div class="col-12 mb-3">
                                <p class="text-center fs-48 fw-9 fc-dark ff-n mb-2">Product features</p>
                                <p class="text-center">
                                    <img src="assets/images/svg/divider2.svg" alt="">
                                </p>
                                <div class="px-lg-5">
                                    <div class="px-lg-5">
                                        <p class="text-center fc-dark fs-16 ff-n">
                                            <span class="fw-6">SchoolTrack</span> offers you the following features
                                            which
                                            puts it miles ahead of any other
                                            educational package on the market.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 mb-3 pr-lg-5">
                                <p class="fw-6 ff-n fs-16">STUDENTS MODULE</p>
                                <div class="d-flex">
                                    <div>
                                        <div class="features">
                                            <img src="assets/images/svg/students.svg" alt="">
                                        </div>
                                    </div>
                                    <p class="fw-3 ff-n fs-14 ml-3">
                                        Manage existing subjects, add new subjects, assign subjects to classes, group
                                        subjects, manage subjects and learning targets.
                                        <span class="float-right fc-orange ff-n fs-14 fw-6"><a href="#"
                                                class="fc-orange">Full Texts</a></span>
                                    </p>
                                </div>
                            </div>
                            <div class="col-lg-6 mb-3 pr-lg-5">
                                <p class="fw-6 ff-n fs-16">PARENT MODULE</p>
                                <div class="d-flex">
                                    <div>
                                        <div class="features">
                                            <img src="assets/images/svg/parents.svg" alt="">
                                        </div>
                                    </div>
                                    <p class="fw-3 ff-n fs-14 ml-3">
                                        Give parents secured access to their children’s progress from home to enable
                                        them
                                        proactively participate in the children’s educa...
                                        <span class="float-right fc-orange ff-n fs-14 fw-6"><a href="#"
                                                class="fc-orange">Full Texts</a></span>
                                    </p>
                                </div>
                            </div>
                            <div class="col-lg-6 mb-3 pr-lg-5">
                                <p class="fw-6 ff-n fs-16">TEACHER MODULE</p>
                                <div class="d-flex">
                                    <div>
                                        <div class="features">
                                            <img src="assets/images/svg/teacher.svg" alt="">
                                        </div>
                                    </div>
                                    <p class="fw-3 ff-n fs-14 ml-3">
                                        Offers teachers immeasurable empowerments to not only efficiently deliver
                                        educational contents but also to enjoy...
                                        <span class="float-right fc-orange ff-n fs-14 fw-6"><a href="#"
                                                class="fc-orange">Full Texts</a></span>
                                    </p>
                                </div>
                            </div>
                            <div class="col-lg-6 mb-3 pr-lg-5">
                                <p class="fw-6 ff-n fs-16">SCHOOL ADMINISTRATION</p>
                                <div class="d-flex">
                                    <div>
                                        <div class="features">
                                            <img src="assets/images/svg/school.svg" alt="">
                                        </div>
                                    </div>
                                    <p class="fw-3 ff-n fs-14 ml-3">
                                        School administrators can easily and seamlessly manage their student
                                        administration
                                        and academics, school accounting & finan...
                                        <span class="float-right fc-orange ff-n fs-14 fw-6"><a href="#"
                                                class="fc-orange">Full Texts</a></span>
                                    </p>
                                </div>
                            </div>

                            <div class="col-lg-6 mb-3 pr-lg-5">
                                <p class="fw-6 ff-n fs-16">ONLINE LEARNING CENTER</p>
                                <div class="d-flex">
                                    <div>
                                        <div class="features">
                                            <img src="assets/images/svg/online.svg" alt="">
                                        </div>
                                    </div>
                                    <p class="fw-3 ff-n fs-14 ml-3">
                                        Schooltrack provides Online Resources for Teachers and Students to further
                                        enhance
                                        their learning experience...
                                        <span class="float-right fc-orange ff-n fs-14 fw-6"><a href="#"
                                                class="fc-orange">Full Texts</a></span>
                                    </p>
                                </div>
                            </div>
                            <div class="col-lg-6 mb-3 pr-lg-5">
                                <p class="fw-6 ff-n fs-16">GOVT. EDUCATION AUTHORITY</p>
                                <div class="d-flex">
                                    <div>
                                        <div class="features">
                                            <img src="assets/images/svg/govt.svg" alt="">
                                        </div>
                                    </div>
                                    <p class="fw-3 ff-n fs-14 ml-3">
                                        Provides a vehicle for public school administration, as well as a rich source of
                                        diverse and reliable data for education authorities...
                                        <span class="float-right fc-orange ff-n fs-14 fw-6"><a href="#"
                                                class="fc-orange">Full Texts</a></span>
                                    </p>
                                </div>
                            </div>
                            <div class="col-lg-6 mb-3 pr-lg-5">
                                <p class="fw-6 ff-n fs-16">24/7 SUPPORT</p>
                                <div class="d-flex">
                                    <div>
                                        <div class="features">
                                            <img src="assets/images/svg/headset.svg" alt="">
                                        </div>
                                    </div>
                                    <p class="fw-3 ff-n fs-14 ml-3">
                                        Schooltrack guarantees four(4) levels of charge-free user support. Beyond the
                                        initial training and handholding exercise...
                                        <span class="float-right fc-orange ff-n fs-14 fw-6"><a href="#"
                                                class="fc-orange">Full Texts</a></span>
                                    </p>
                                </div>
                            </div>
                            <div class="col-lg-6 mb-3 pr-lg-5">
                                <p class="fw-6 ff-n fs-16">REPORTS</p>
                                <div class="d-flex">
                                    <div>
                                        <div class="features">
                                            <img src="assets/images/svg/reports (2).svg" alt="">
                                        </div>
                                    </div>
                                    <p class="fw-3 ff-n fs-14 ml-3">
                                        Over 60 standard reports, and the flexibility to build additional custom reports
                                        when needed. Schooltrack™ offers you unrivalled capa...
                                        <span class="float-right fc-orange ff-n fs-14 fw-6"><a href="#"
                                                class="fc-orange">Full Texts</a></span>
                                    </p>
                                </div>
                            </div>
                            <div class="col-lg-12 mt-5">
                                <p class="text-center">
                                    <button class="btn btn-orange-two px-5">
                                        Request a demo
                                    </button>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 d-none d-md-block">
                    <div class="kid">

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section id="testimonial">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-10 m-auto">
                <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="test-box p-lg-5 p-2">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <img src="assets/images/svg/quote.svg" alt="">
                                            </div>
                                            <div class="col-lg-10 m-auto">
                                                <p class="text-white fs-15 ff-n">
                                                    <span class="fw-7">SchoolTrack</span> is an all-inclusive and
                                                    ubiquitous shared educational
                                                    technology infrastructure that confers affordability and unbeatable
                                                    capability on member schools as it guarantees:
                                                </p>
                                                <div class="d-flex justify-content-between">
                                                    <div>
                                                        <p class="text-white fs-15 ff-n fw-6 mb-1">
                                                            Adam Shelock
                                                        </p>
                                                        <p class="ff-n fs-13 fw-3 text-white">Principal, Angels’ College
                                                        </p>
                                                    </div>
                                                    <div>
                                                        <img src="assets/images/svg/star.svg" class="mr-2" alt="">
                                                        <img src="assets/images/svg/star.svg" class="mr-2" alt="">
                                                        <img src="assets/images/svg/star.svg" class="mr-2" alt="">
                                                        <img src="assets/images/svg/star.svg" class="mr-2" alt="">
                                                        <img src="assets/images/svg/star.svg" alt="">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="test-box p-lg-5 p-2">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <img src="assets/images/svg/quote.svg" alt="">
                                            </div>
                                            <div class="col-lg-10 m-auto">
                                                <p class="text-white fs-15 ff-n">
                                                    <span class="fw-7">SchoolTrack</span> is an all-inclusive and
                                                    ubiquitous shared educational
                                                    technology infrastructure that confers affordability and unbeatable
                                                    capability on member schools as it guarantees:
                                                </p>
                                                <div class="d-flex row px-3 justify-content-between">
                                                    <div>
                                                        <p class="text-white fs-15 ff-n fw-6 mb-1">
                                                            Adam Shelock
                                                        </p>
                                                        <p class="ff-n fs-13 fw-3 text-white">Principal, Angels’ College
                                                        </p>
                                                    </div>
                                                    <div class="pt-lg-3">
                                                        <img src="assets/images/svg/star.svg" class="mr-2" alt="">
                                                        <img src="assets/images/svg/star.svg" class="mr-2" alt="">
                                                        <img src="assets/images/svg/star.svg" class="mr-2" alt="">
                                                        <img src="assets/images/svg/star.svg" class="mr-2" alt="">
                                                        <img src="assets/images/svg/star.svg" alt="">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                            <div class="carousel-item">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="test-box p-lg-5 p-2">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <img src="assets/images/svg/quote.svg" alt="">
                                            </div>
                                            <div class="col-lg-10 m-auto">
                                                <p class="text-white fs-15 ff-n">
                                                    <span class="fw-7">SchoolTrack</span> is an all-inclusive and
                                                    ubiquitous shared educational
                                                    technology infrastructure that confers affordability and unbeatable
                                                    capability on member schools as it guarantees:
                                                </p>
                                                <div class="d-flex justify-content-between">
                                                    <div>
                                                        <p class="text-white fs-15 ff-n fw-6 mb-1">
                                                            Adam Shelock
                                                        </p>
                                                        <p class="ff-n fs-13 fw-3 text-white">Principal, Angels’ College
                                                        </p>
                                                    </div>
                                                    <div>
                                                        <img src="assets/images/svg/star.svg" class="mr-2" alt="">
                                                        <img src="assets/images/svg/star.svg" class="mr-2" alt="">
                                                        <img src="assets/images/svg/star.svg" class="mr-2" alt="">
                                                        <img src="assets/images/svg/star.svg" class="mr-2" alt="">
                                                        <img src="assets/images/svg/star.svg" alt="">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="test-box p-lg-5 p-2">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <img src="assets/images/svg/quote.svg" alt="">
                                            </div>
                                            <div class="col-lg-10 m-auto">
                                                <p class="text-white fs-15 ff-n">
                                                    <span class="fw-7">SchoolTrack</span> is an all-inclusive and
                                                    ubiquitous shared educational
                                                    technology infrastructure that confers affordability and unbeatable
                                                    capability on member schools as it guarantees:
                                                </p>
                                                <div class="d-flex row px-3 justify-content-between">
                                                    <div>
                                                        <p class="text-white fs-15 ff-n fw-6 mb-1">
                                                            Adam Shelock
                                                        </p>
                                                        <p class="ff-n fs-13 fw-3 text-white">Principal, Angels’ College
                                                        </p>
                                                    </div>
                                                    <div class="pt-lg-3">
                                                        <img src="assets/images/svg/star.svg" class="mr-2" alt="">
                                                        <img src="assets/images/svg/star.svg" class="mr-2" alt="">
                                                        <img src="assets/images/svg/star.svg" class="mr-2" alt="">
                                                        <img src="assets/images/svg/star.svg" class="mr-2" alt="">
                                                        <img src="assets/images/svg/star.svg" alt="">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="test-box p-lg-5 p-2">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <img src="assets/images/svg/quote.svg" alt="">
                                            </div>
                                            <div class="col-lg-10 m-auto">
                                                <p class="text-white fs-15 ff-n">
                                                    <span class="fw-7">SchoolTrack</span> is an all-inclusive and
                                                    ubiquitous shared educational
                                                    technology infrastructure that confers affordability and unbeatable
                                                    capability on member schools as it guarantees:
                                                </p>
                                                <div class="d-flex justify-content-between">
                                                    <div>
                                                        <p class="text-white fs-15 ff-n fw-6 mb-1">
                                                            Adam Shelock
                                                        </p>
                                                        <p class="ff-n fs-13 fw-3 text-white">Principal, Angels’ College
                                                        </p>
                                                    </div>
                                                    <div>
                                                        <img src="assets/images/svg/star.svg" class="mr-2" alt="">
                                                        <img src="assets/images/svg/star.svg" class="mr-2" alt="">
                                                        <img src="assets/images/svg/star.svg" class="mr-2" alt="">
                                                        <img src="assets/images/svg/star.svg" class="mr-2" alt="">
                                                        <img src="assets/images/svg/star.svg" alt="">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="test-box p-lg-5 p-2">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <img src="assets/images/svg/quote.svg" alt="">
                                            </div>
                                            <div class="col-lg-10 m-auto">
                                                <p class="text-white fs-15 ff-n">
                                                    <span class="fw-7">SchoolTrack</span> is an all-inclusive and
                                                    ubiquitous shared educational
                                                    technology infrastructure that confers affordability and unbeatable
                                                    capability on member schools as it guarantees:
                                                </p>
                                                <div class="d-flex row px-3 justify-content-between">
                                                    <div>
                                                        <p class="text-white fs-15 ff-n fw-6 mb-1">
                                                            Adam Shelock
                                                        </p>
                                                        <p class="ff-n fs-13 fw-3 text-white">Principal, Angels’ College
                                                        </p>
                                                    </div>
                                                    <div class="pt-lg-3">
                                                        <img src="assets/images/svg/star.svg" class="mr-2" alt="">
                                                        <img src="assets/images/svg/star.svg" class="mr-2" alt="">
                                                        <img src="assets/images/svg/star.svg" class="mr-2" alt="">
                                                        <img src="assets/images/svg/star.svg" class="mr-2" alt="">
                                                        <img src="assets/images/svg/star.svg" alt="">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
            <div class="col-12 mt-5  ">
                <p class="text-center m-0 testimonialtext">
                    <img src="assets/images/svg/testt.svg" class="img-fluid" alt="">
                </p>
            </div>
        </div>
    </div>
</section>


<section id="faq" class="mb-lg-5 mb-3">
    <div class="inn">
        <div class="container">
            <div class="row py-lg-5 py-3">
                <div class="col-12 mb-lg-5 mb-3">
                    <p class="text-center fs-48 fw-9 fc-dark ff-n mb-2">Got <span class="fc-orange">Questions</span> for
                        us?</p>
                    <p class="text-center">
                        <img src="assets/images/svg/divider2.svg" alt="">
                    </p>
                    <p class="text-center fc-dark fs-16 ff-n">
                        <span class="fw-6">SchoolTrack</span> is an all-inclusive and ubiquitous shared
                        educational technology infrastructure that <br>confers affordability and unbeatable capability
                        on member
                        schools as it guarantees:
                    </p>
                </div>
                <div class="col-lg-6"></div>
                <div class="col-lg-6 mb-3">
                    <div id="accordion">
                        <div class="card mb-2">
                            <div class="card-header" id="heading1" data-toggle="collapse" data-target="#collapse1">
                                <p class="m-0 ml-3 ff-n fs-16 fw-6 fc-lblue">What kind of reports does SchoolTrack use?
                                </p>
                            </div>

                            <div id="collapse1" class="collapse" aria-labelledby="heading1" data-parent="#accordion">
                                <div class="card-body">
                                    <p class="fw-3 fs-14 ff-n m-0">
                                        This feature helps you identify trends and changes as your students are growing
                                        using the inbuilt monitoring pointers.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="card mb-2">
                            <div class="card-header" id="heading2" data-toggle="collapse" data-target="#collapse2">
                                <p class="m-0 ml-3 ff-n fs-16 fw-6 fc-lblue">What kind of reports does SchoolTrack use?
                                </p>
                            </div>

                            <div id="collapse2" class="collapse" aria-labelledby="heading2" data-parent="#accordion">
                                <div class="card-body">
                                    <p class="fw-3 fs-14 ff-n m-0">
                                        This feature helps you identify trends and changes as your students are growing
                                        using the inbuilt monitoring pointers.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="card mb-2">
                            <div class="card-header" id="heading3" data-toggle="collapse" data-target="#collapse3">
                                <p class="m-0 ml-3 ff-n fs-16 fw-6 fc-lblue">What kind of reports does SchoolTrack use?
                                </p>
                            </div>

                            <div id="collapse3" class="collapse" aria-labelledby="heading3" data-parent="#accordion">
                                <div class="card-body">
                                    <p class="fw-3 fs-14 ff-n m-0">
                                        This feature helps you identify trends and changes as your students are growing
                                        using the inbuilt monitoring pointers.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="card mb-2">
                            <div class="card-header" id="heading4" data-toggle="collapse" data-target="#collapse4">
                                <p class="m-0 ml-3 ff-n fs-16 fw-6 fc-lblue">What kind of reports does SchoolTrack use?
                                </p>
                            </div>

                            <div id="collapse4" class="collapse" aria-labelledby="heading4" data-parent="#accordion">
                                <div class="card-body">
                                    <p class="fw-3 fs-14 ff-n m-0">
                                        This feature helps you identify trends and changes as your students are growing
                                        using the inbuilt monitoring pointers.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="card mb-2">
                            <div class="card-header" id="heading5" data-toggle="collapse" data-target="#collapse5">
                                <p class="m-0 ml-3 ff-n fs-16 fw-6 fc-lblue">What kind of reports does SchoolTrack use?
                                </p>
                            </div>

                            <div id="collapse5" class="collapse" aria-labelledby="heading5" data-parent="#accordion">
                                <div class="card-body">
                                    <p class="fw-3 fs-14 ff-n m-0">
                                        This feature helps you identify trends and changes as your students are growing
                                        using the inbuilt monitoring pointers.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>