body {
  overflow-y: scroll;
}
#announcement {
  position: fixed;
  height: 100vh;
  z-index: 9;
  margin: 0 auto;
  right: -81px;
  margin-right: auto;
}

.banner {
  width: 100%;
  background: url("../../../assets/images/svg/assignment-bg.svg") top left
      no-repeat,
    url("../../../assets/images/svg/assignment-bg2.svg") top left no-repeat;
  background-repeat: no-repeat;

  background-size: cover;
  background-position: center;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0 1.5rem;
  color: #ffffff;
  position: relative;
  background-blend-mode: multiply;
  mix-blend-mode: multiply;
  backdrop-filter: opacity(0.4);
}

.banner__text-primary {
  font-size: 36px;
}

.btn-orange-two {
  background: #04aed4;
  border-radius: 5px;
  height: 44px;
  font-family: Nunito;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  color: #ffffff;
}

.search {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.has-search .form-control {
  padding-left: 2.375rem;
}

.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}

input[type="text"] {
  width: 125%;
}

.form-row {
  align-items: center;
}

/* ================= table ====================== */
table.client-table {
  border-collapse: separate;
  border-spacing: 0 1em;
}

.list .table thead {
  color: #155b75;
}

.list .table thead tr th {
  font-weight: 600;
  padding-bottom: 0;
}

.list .table thead .head {
  /* display: flex;
  align-items: center;
  color: #0a1128;
  font-weight: 600; */
  /* padding-left: 3.5rem; */
}

.list .table tbody .school-logo {
  /* display: flex;
    align-items: center; */
  color: #0a1128;
  font-weight: 600;
  padding-left: 1.5rem;
  /* padding-left: 3.5rem; */
  position: relative;
  opacity: none;
}

.list .table tbody .school-logo span {
  position: absolute;
  bottom: 20px;
  left: 15px;
}

.list .table th,
td {
  padding: 15px 15px;
}

.list .table tbody tr {
  background: #ffffff;
  box-shadow: 10px 10px 30px rgba(211, 220, 231, 0.4);
  border-radius: 5px;
}

.list .table tbody td:not(:first-child) {
  color: #0a1128;
  /* opacity: 0.6; */
}

.list .table tbody .status {
  background: #ebfffa;
  border-radius: 10px;
  color: #09b78a;
  font-weight: 600;
  width: 110px;
  height: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 17px 40px;
}

.list .table tbody .status:hover {
  background: #04aed4;
  border-radius: 10px;
  color: #ffffff;
  font-weight: 600;
  width: 110px;
  height: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 17px 40px;
}

.btn-link {
  color: #014d94;
  opacity: 0.6;
  text-decoration: underline;
  font-weight: bold;
  font-size: 14px;
  padding: 0;
}

.notice-board {
  position: relative;
}

.notice-board .info {
  border-bottom: 1px solid #abc3df;
}

.dropdown-item:hover {
  background: #fff7f0 !important;
}
