.login {
  background: url(../../../assets/images/kids.png);
  background-size: cover;
  min-height: 93vh;
}

.whitediv {
  margin-top: 6rem !important;
}

.btn-blue {
  background: #155b75;
  color: #ffffff;
  height: 48px;
  font-family: Nunito;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
  border-radius: 5px;
}

.foot {
  height: 7vh;
}

.school-logo {
  max-width: 150px;
  max-height: 60px;
}
