.banner {
    width: 100%;
    background-image: url("../../../../assets/images/svg/bank-acc.png");
    background-repeat: no-repeat;
    background-color: #1d4e4d;

    background-size: cover;
    background-position: center;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0 1.5rem;
    color: #ffffff;
    position: relative;
    background-blend-mode: multiply;
    mix-blend-mode: multiply;
    backdrop-filter: opacity(.4);
}



.banner__text-primary {
    font-size: 36px;
}


.btn-orange-two {
    background: #fb882c;
    border-radius: 5px;
    height: 44px;
    font-family: Nunito;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    color: #ffffff;
}

.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

.has-search  input[type="text"] {
    width: 125%;
}






/* ================= table ====================== */
table.client-table {
    border-collapse: separate;
    border-spacing: 0 1em;
}

.list .table thead {
    color: #4c75bd;
}

.list .table thead tr th {
    font-weight: 600;
    padding-bottom: 0;
}

table tr,
td {
    padding: 15px;
}
.list .table thead .head {
    /* display: flex;
      align-items: center;
      color: #0a1128;
      font-weight: 600; */
    padding-left: 3.5rem;
}

.list .table tbody .check {
    padding-left: 1.5rem;
    padding-left: 3.5rem;
}

.list .table tbody .user span {
    position: absolute;
    bottom: 20px;
    left: 15px;
}



.list .table tbody .user div h6 {
    color: #355691;
    font-size: 14px;
    /* opacity: none; */
}



.list .table tbody tr {
    background: #ffffff;
    box-shadow: 10px 10px 30px rgba(211, 220, 231, 0.4);
    border-radius: 5px;
}

.list .table tbody td:not(:first-child) {
    color: #0a1128;
    /* opacity: 0.6; */
}

.list .table tbody .status_active {
    background: #ebfffa;
    border-radius: 10px;
    color: #09b78a;
    font-weight: 600;
    width: 110px;
    height: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 17px 40px;
}

.list .table tbody .status_inactive {
    background: #fae5e7;
    border-radius: 10px;
    color: #d72638;
    font-weight: 600;
    width: 110px;
    height: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 17px 40px;
}


.modal-content {
    border-radius: 0 !important;
    border: none;
    position: relative;

}


.modal-head {
    padding: 20px 40px;
    background: #EBF0F5;
    /* display: flex;
    justify-content: space-between; */
}



.client-modal {
    display: flex;
    flex-direction: column;

    padding: 0px 40px;

}

form {
    width: 100%;
}



.close {
    cursor: pointer;
}