<section class="client" >
    <img src="assets/images/svg/institution.svg" alt="new client" class="">
    <h3 class="pt-5">Coming soon</h3>
    <!-- <p class="text-center pt-1">It looks like you haven’t created a client yet. Get started by <br> clicking the button
      below.</p> -->
    <!-- <button class="btn btn-orange-two mx-2 mx-lg-3 px-5 mb-4 mt-3" [routerLink]="['/admin/create-client']">
      Add New </button>
    <button class="btn btn-outline-orange  mx-2 mx-lg-3" data-toggle="modal" data-target="#exampleModalCenterUpload">Bulk
      Upload</button> -->
  </section>