<div class=" main  ">
    <section class="banner mb-4 d-flex justify-content-between">
        <p class="banner__text-primary py-4 pl-5"> {{greet}} <br> <span> {{adminDetails.given_name}} </span></p>
        <div class="justify-content-end">
            <p class="last-login pt-3 pr-5 fw-6">Last Login: {{adminDetails.last_login_time | date: 'medium'}}</p>
        </div>
    </section>

    <section class="cards mb-4">
        <div class="revenue">
            <img src="assets/images/svg/revenue.svg" alt="card revenue icon">
            <div class="revenue__text pt-4">
                <h6 class=" pr-4">0</h6>
                <p class="pt-1">NGN</p> 
            </div>
            <p>Revenue Generated</p>
        </div>
        <div class="schools">
            <img src="assets/images/svg/schools.svg" alt="card school icon">
            <div class="revenue__text ">
                <h6 class="pt-3 pr-4"> 0 </h6>
            </div>
            <p>Registered Schools</p>
        </div>
        <div class="students">
            <img src="assets/images/svg/students-number.svg" alt="number of students icon">
            <div class="revenue__text ">
                <!-- <h6 class="pt-3 pr-4"></h6> -->
                <h6 class="pt-3 pr-4">0</h6>
            </div>
            <p>No. of students</p>
        </div>
        <div class="sms">
            <img src="assets/images/svg/sms-used.svg" alt="total sms used icon">
            <div class="revenue__text ">
                <h6 class="pt-3 pr-4">0</h6>
            </div>
            <p>SMS Units Sold</p>
        </div>
    </section>

    <section class="info">
        <div class="info__school">
            <div class="info__school-info">
                <div class="line">
                    <h6> Recent School</h6>
                    <p>See most recent subscriptions on the application</p>
                </div>
                <button class=" btn-see-all" routerLink="/admin/clients">See all</button>
            </div>

            <table class="table table-borderless">
                <thead>
                  <tr>
                    <th scope="col" class="head" >Client</th>
                    <th scope="col">Code</th>
                    <th scope="col">Users</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  
                  
                  
                </tbody>
              </table>
            
           
        </div>
        <div class="info__chart">
            <div class="info__chart-info">
                <div class="line2">
                    <h6> Revenue by Schools</h6>
                    <p>See the top grossing schools across the application</p>
                    <div> &nbsp;</div>
                </div>
            </div>
        </div>
    </section>
</div>
