<div class="container-fluid ">
  <div class="row">
    <div class="col-md-3 bg-white  px-4 pt-4  notice-board d-flex flex-column " id="announcement">

      <div class="d-flex flex-column  mt-3 h-100">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <img src="assets/images/svg/breadcrumb.svg" class="mr-3" alt="..." />
            <li class="breadcrumb-item a1 " aria-current="page" (click)="back()">
              <a class="fc-lblue">Back</a>
            </li>
          </ol>


        </nav>

        <div class="information">
          <div class="d-flex flex-column  justify-content-start mb-3">
            <p class="mb-0 pb-1 topic fw-6 ">
              {{savedDetails?.name}}
            </p>
            <div class="d-flex">
              <span class="subject-holder px-2 mr-2">{{fileDetails?.subjectName | titlecase }}</span>
              <p class="mb-0 attachment">
                <img src="assets/images/svg/attachment.svg" alt="new client" class="mr-1">
                1 Attachment</p>
            </div>
          </div>
          <div class="d-flex  ">
            <div class="d-flex w-50">
                <img src="assets/images/svg/g-calendar.svg" alt="" class="mr-3">
                <div class="d-flex flex-column justify-content-center">
                    <p class="mb-0 fs-14">{{savedDetails?.dueDate | date: 'mediumDate'}}</p>
                    <p class="mb-0 fs-13">Due Date</p>
                </div>
            </div>
            <div class="d-flex  w-50">
                <img src="assets/images/svg/g-time.svg" alt="" class="mr-3">
                <div class="d-flex flex-column justify-content-center">
                    <p class="mb-0 fs-14">{{savedDetails?.dueDate | date: 'shortTime'}}</p>
                    <p class="mb-0 fs-13">Due Time</p>
                </div>
            </div>
        </div>

          
        </div>

      </div>
    </div>
    <div class="col-md-9 mt-3 p-4">



      <div class="col-md-12" *ngIf="fileDetails?.fileType === 'image/png'">
        <iframe class="file-viewer p-3 bg-white w-100 "
          [src]="' data:image/png;base64,' + fileDetails?.fileName | trustedUrl" style="height: 85vh; width: 100%;">
          <p>dOCUMENT VIEWR GOES HERE</p>
        </iframe>
      </div>

      <div class="col-md-12" *ngIf="fileDetails?.fileType === 'image/jpeg'">
        <iframe class="file-viewer p-3 bg-white w-100 "
          [src]="' data:image/png;base64,' + fileDetails?.fileName | trustedUrl" style="height: 85vh; width: 100%;">
          <p>dOCUMENT VIEWR GOES HERE</p>
        </iframe>
      </div>

      <div class="col-md-12" *ngIf="fileDetails?.fileType === 'application/pdf'">
        <iframe class="file-viewer p-3 bg-white w-100 "
          [src]="'data:application/pdf;base64,' + fileDetails?.fileName | trustedUrl"
          style="height: 85vh; width: 100%;">
          <p>dOCUMENT VIEWR GOES HERE</p>
        </iframe>
      </div> 

      <div class="col-md-12"
        *ngIf="fileDetails?.fileType === 'application/vnd.openxmlformats-officedocument.wordprocessingml.document' || fileDetails?.fileType === 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet'">
        <div class="file-viewer d-flex justify-content-center align-items-center p-3 bg-white w-100 "
          style="height: 85vh; width: 100%;">
          <div class="d-flex flex-column text-center">
            <img src="assets/images/svg/sad-face.svg" alt="table sort icon" class="mb-3">
            <p class="fw-6">Sorry, you cant preview this file but you can download.</p>
            <p> <a href="" download=""> Click here to download</a></p>
          </div>
        </div>
      </div>
      



    </div>


  </div>




</div>
