<div class="">
    <div class="kids">
        <div class="container">
            <div class="row">
                <div class="col-12 pt-lg-4 pt-2 mb-lg-5 mb-3">
                    <img src="assets/images/svg/logo.svg" alt="">
                </div>
                <div class="col-lg-6 m-auto">
                    <div class="whitediv p-lg-5 p-3 mt-lg-5 mt-3">
                        <div class="row" *ngIf="notSent" >
                            <div class="col-lg-7 mb-3">
                                <p class="fs-30 ff-n fw-6">Forgotten your password?</p>
                            </div>
                            <div class="col-lg-12">
                                <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()">
                                    <div class="col-lg-12 mb-5">
                                        <p for="" class="fs-16 ff-n fw-6 fc-dark m-0">Email address</p>
                                        <small class="fs-12 ff-n fc-dark mb-3">Please enter your email address in the box
                                            below.</small>
                                        <input type="text" class="form-control reg-form" formControlName = "email">
                                        <div *ngIf="submitted && resetPasswordForm.controls.email.errors" class="error">
                                            <div *ngIf="resetPasswordForm.controls.email.errors.required" class="text-danger">Email is required</div>
                                            <div *ngIf="resetPasswordForm.controls.email.errors.email" class="text-danger">Invalid email pattern</div>
                                          </div>
                                    </div>
                                    <div class="col-lg-12 mb-5">
                                        <button class="btn btn-orange w-100">
                                            Reset Password
                                        </button>
        
                                    </div>
                                </form>
                            </div>
                            <div class="col-12">
                                <p class="text-center">
                                    <a routerLink="/" class="fc-lblue fs-14 fw-6 ff-n">Go Back home</a>
                                </p>
                            </div>
                        </div>
                        <div class="resetdiv " *ngIf="sent">
                            <img src="assets/images/svg/svg-reset.svg" alt="" class="mb-5">
                            <p class="text-center fc-dark fs-30 ff-n fw-6 mb-5">A password reset link has been sent to
                                your email.</p>
                            <p class="text-center">
                                <a routerLink="/" class="fc-lblue fs-14 fw-6 ff-n">Log into Your Account</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="foot bg-dark py-3">
        <p class="fc-grey ff-a fs-12 m-0 text-center">© 2020. <span class="fw-6 ls-7">SchoolTrack</span> - All rights
            reserved </p>
    </div>
</div>