<div class="container-fluid">
  <div class="row ">
    <div class="col-md-9 mt-5 pr-3 ">
      <div class="profile mb-5">
        <div class="profile__teacher bg-white p-4">
          <div class="d-flex mb-5">
            <img src="assets/images/svg/dummy_user.png" alt="new client" class="mr-2 image-rounded" >

            <div class="ml-3">
              <p class="mb-0 fw-6">{{teacherDetails?.given_name}} <br> {{teacherDetails?.family_name }}</p>
              <p class="mb-0">{{teacherDetails?.name}}</p>
              <p class="mb-0 fc-lblue fw-6"> &nbsp; </p>
            </div>
          </div>
          <!-- <button class="bg-lblue-2 btn-block  btn-teacher p-2">View Profile</button> -->
        </div>
        <div class="profile__hero">
          <div class="profile__hero--intro bg-white br-10 pt-4 pb-2 px-3 mb-3">
            <h5 class="fs-32 fc-lblue intro-text">Hello {{teacherDetails?.given_name}}!</h5>
            <p>You have just <b class="text-danger">{{subjectAndTime?.length}}</b> classes to teach today and pending
              assignments to mark.</p>
          </div>
          <div class="profile__cards">
            <div class="card1 d-flex py-4 px-3 align-item-center justify-content-center profile__cards--card"
            [routerLink]="['/teacher/attendance']">
              <img src="assets/images/svg/attendance.svg" alt="student card" class="mr-2">
              <p class="mb-0 fw-6">Attendance </p>
            </div>
            <div class="card2 d-flex py-4 px-3 align-item-center justify-content-center profile__cards--card"
              [routerLink]="['/teacher/score-sheet']">
              <img src="assets/images/svg/assignment.svg" alt="student card" class="mr-2">
              <p class="mb-0 fw-6">Grade Book</p>
            </div>
            <div class="card3 d-flex py-4 px-3 align-item-center justify-content-center profile__cards--card"
              [routerLink]="['/teacher/filemanager']">
              <img src="assets/images/svg/upload.svg" alt="student card" class="mr-2">
              <p class="mb-0 fw-6">File Manager</p>
            </div>

          </div>
        </div>
      </div>

      <div class="classes mb-5">
        <div class="classes__upcoming p-4 pt-4 ">
          <div class="d-flex justify-content-between">
            <h6 class="fw-6">Upcoming Class</h6>
            <p class="fc-lblue view" [routerLink]="['/teacher/schedule']">View All</p>
          </div>

          <div *ngFor="let table of subjectAndTime | slice:0:5; let i = index" class="dropright">
            <div class="px-4 py-2 mb-4 bg-lblue-2 class br-10 d-flex justify-content-between align-items-center pop-card2"
              id="dropdownMenuButton{{i}}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <div class="">
                <p class="mb-0">{{table?.className}} </p>
                <p class="fw-6 mb-0">{{table?.subjectName | titlecase}}</p>
                <div class="d-flex">
                  <!-- <p class="mb-0">09:00 - 10:00 </p> -->
                  <p class="mb-0">{{table?.timeFrom.hours}}:{{table?.timeFrom.minutes}} -
                    {{table?.timeTo.hours}}:{{table?.timeTo.minutes}} </p>
                  <img src="assets/images/svg/class-period3.svg" alt="new client" class="ml-4"
                    *ngIf="table?.hasVirtual == true">
                  <img src="assets/images/svg/physical-class.svg" alt="new client" class="ml-4"
                    *ngIf="table?.hasVirtual == false">
                </div>
              </div>
              <div class="d-flex">
                <p class="mb-0">{{table?.periodName}}</p>
                <img src="assets/images/svg/period.svg" alt="new client" class="ml-4">
              </div>

              <!-- <div class="pop-card-holder2 " *ngIf="table?.hasVirtual == true"  >
                                <div class="d-flex justify-content-between align-items-center mb-4">
                                    <img src="assets/images/svg/student-class-status.svg" alt="" class="mr-3">
                                    <p class="mb-0 fw-6"> {{table?.subjectName | titlecase}}</p>    {{i}} 
                                </div>
                                <div class="br-10 bg-white p-3 mb-2 teacher-card d-flex align-items-center">
                                        <img src="assets/images/svg/teacher-img.svg" alt="new client" class="">
                                        <div class="ml-3">
                                            <p class="mb-0 fw-6 fc-lblue">Samuel Aliu</p>
                                            <p class="mb-0  ">English Teacher</p>
                                        </div>
                                </div>
                                <div class="d-flex justify-content-start align-items-center mt-5 mb-4">
                                    <p class="mb-0">Classmates:</p>
                                    <div class="d-flex ml-3 images mx-3">
                                        <img src="assets/images/svg/student.svg" alt="" class="student-img">
                                        <img src="assets/images/svg/student2.svg" alt="" class="student-img2">
                                        <img src="assets/images/svg/student3.svg" alt="" class="student-img3">
                                        <img src="assets/images/svg/student4.svg" alt="" class="student-img4">
                                    </div>
                                    <p class="mb-0">{{table?.noOfStudent}} Others</p>
    
                                </div>
                                <div class="d-flex align-items-center mt-3 mb-3">
                                    <div class="d-flex mr-4">
                                        <img src="assets/images/svg/calendar.svg" alt="" class="mr-3">
                                        <div class="d-flex flex-column">
                                            <h6 class="fw-6 mb-0">{{myDate | date : 'mediumDate'}}</h6>
                                            <p class="caption mb-0">Date</p>
                                        </div>
                                    </div>
                                    <div class="d-flex mr-5">
                                        <img src="assets/images/svg/time.svg" alt="" class="mr-3">
                                        <div class="d-flex flex-column">
                                            <h6 class="fw-6 mb-0">{{table?.timeFrom.hours}}:{{table?.timeFrom.minutes}}</h6>
                                            <p class="caption mb-0">Time</p>
                                        </div>
                                    </div>
                                    <div class="d-flex">
                                        <img src="assets/images/svg/duration.svg" alt="new client" class="mr-3">
                                        <div class="d-flex flex-column">
                                            <h6 class="fw-6 mb-0">{{timeConvert(table?.durationInMinutes)}}</h6>
                                            <p class="caption mb-0">Duration</p>
                                        </div>
                                    </div>
                                </div>
    
                                <div class="d-flex justify-content-center align-items-center">
                                    <button class="btn btn-orange-two mx-2 mx-lg-3 px-5 mb-4 mt-3" [routerLink]="['/teacher','class']" > Join Class </button>
    
                                </div>
    
                               
                      
                            </div> -->

              <div class="dropdown-menu p-3" aria-labelledby="dropdownMenuButton">
                <div class="d-flex justify-content-between align-items-center mb-4">
                  <img src="assets/images/svg/class-period3.svg" alt="new client" class="ml-4"
                    *ngIf="table?.hasVirtual == true">
                  <img src="assets/images/svg/class-period.svg" alt="new client" class="ml-4"
                    *ngIf="table?.hasVirtual == false">
                  <p class="mb-0 fw-6"> {{table?.subjectName | titlecase}}</p>
                </div>
                <div class="d-flex justify-content-start align-items-center mt-5 mb-4">
                  <p class="mb-0">Classmates:</p>
                  <div class="d-flex ml-3 images mx-3">
                    <img src="assets/images/svg/student.svg" alt="" class="student-img">
                    <img src="assets/images/svg/student2.svg" alt="" class="student-img2">
                    <img src="assets/images/svg/student3.svg" alt="" class="student-img3">
                    <img src="assets/images/svg/student4.svg" alt="" class="student-img4">
                  </div>
                  <p class="mb-0">{{table?.noOfStudent}} Others</p>

                </div>
                <div class="d-flex align-items-center mt-3 mb-3">
                  <div class="d-flex mr-4">
                    <img src="assets/images/svg/calendar.svg" alt="" class="mr-3">
                    <div class="d-flex flex-column">
                      <h6 class="fw-6 mb-0">{{myDate | date : 'mediumDate'}}</h6>
                      <p class="caption mb-0">Date</p>
                    </div>
                  </div>
                  <div class="d-flex mr-5">
                    <img src="assets/images/svg/time.svg" alt="" class="mr-3">
                    <div class="d-flex flex-column">
                      <h6 class="fw-6 mb-0">{{table?.timeFrom.hours}}:{{table?.timeFrom.minutes}}</h6>
                      <p class="caption mb-0">Time</p>
                    </div>
                  </div>
                  <div class="d-flex">
                    <img src="assets/images/svg/duration.svg" alt="new client" class="mr-3">
                    <div class="d-flex flex-column">
                      <h6 class="fw-6 mb-0">{{timeConvert(table?.durationInMinutes)}}</h6>
                      <p class="caption mb-0">Duration</p>
                    </div>
                  </div>
                </div>

                <div class="d-flex justify-content-center align-items-center">
                  <button class="btn btn-orange-two mx-2 mx-lg-3 px-5 mb-4 mt-3" [routerLink]="['/teacher','class']"
                    (click)="save(i)" [disabled]="table?.hasVirtual === false"> Join Class </button>

                </div>

              </div>
            </div>

            <!-- <div
                            class="px-4 py-2 mb-4 bg-classes-white br-10 d-flex justify-content-between align-items-center">
                            <div class="">
                                <p class="mb-0">JSS3</p>
                                <p class="fw-6 mb-0">English Language</p>
                                <div class="d-flex">
                                    <p class="mb-0">09:00 - 10:00 </p>
                                    <img src="assets/images/svg/class-period2.svg" alt="new client" class="ml-4">
                                </div>
                            </div>
                            <div class="d-flex">
                                <p class="mb-0">2nd Period</p>
                                <img src="assets/images/svg/period-2.svg" alt="new client" class="ml-4">
                            </div>
                        </div> -->

            <!-- <div class="px-4 py-2 mb-4 bg-classes-white br-10 d-flex justify-content-between align-items-center pop-card"
                            (click)="showPop()">
                            <div class="">
                                <p class="mb-0">JSS3</p>
                                <p class="fw-6 mb-0">English Language</p>
                                <div class="d-flex">
                                    <p class="mb-0">09:00 - 10:00 </p>
                                    <img src="assets/images/svg/class-period.svg" alt="new client" class="ml-4">
                                </div>
                            </div>
                            <div class="d-flex">
                                <p class="mb-0">6th Period</p>
                                <img src="assets/images/svg/period-2.svg" alt="new client" class="ml-4">
                            </div>
    
                            <div class="pop-card-holder  p-3">
                                <div class="d-flex justify-content-between align-items-center mb-4">
                                    <div class="d-flex">
                                        <img src="assets/images/svg/pop-house.svg" alt="" class="mr-3">
                                        <p class="mb-0 fw-6">Class 101</p>
                                    </div>
                                    <p class="mb-0 fw-6"> English Langauage</p>
                                </div>
                                <div class="d-flex align-items-center mb-4">
                                    <p class="mb-0">Students:</p>
                                    <div class="d-flex ml-3 images mx-3">
                                        <img src="assets/images/svg/student.svg" alt="" class="student-img">
                                        <img src="assets/images/svg/student2.svg" alt="" class="student-img2">
                                        <img src="assets/images/svg/student3.svg" alt="" class="student-img3">
                                        <img src="assets/images/svg/student4.svg" alt="" class="student-img4">
                                    </div>
                                    <p class="mb-0">+20 others</p>
    
                                </div>
                                <div class="d-flex align-items-center mt-3
                                ">
                                    <div class="d-flex mr-4">
                                        <img src="assets/images/svg/calendar.svg" alt="" class="mr-3">
                                        <div class="d-flex flex-column">
                                            <h6 class="fw-6 mb-0">28th June, 2020</h6>
                                            <p class="caption mb-0">Date</p>
                                        </div>
                                    </div>
                                    <div class="d-flex mr-5">
                                        <img src="assets/images/svg/time.svg" alt="" class="mr-3">
                                        <div class="d-flex flex-column">
                                            <h6 class="fw-6 mb-0">9 am</h6>
                                            <p class="caption mb-0">Time</p>
                                        </div>
                                    </div>
                                    <div class="d-flex">
                                        <img src="assets/images/svg/duration.svg" alt="new client" class="mr-3">
                                        <div class="d-flex flex-column">
                                            <h6 class="fw-6 mb-0">1 hr</h6>
                                            <p class="caption mb-0">Duration</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> -->
          </div>

          <div class="pop br-10">

          </div>
        </div>



        <div class="classes__notification p-4 pt-4">
          <div class="d-flex justify-content-between mb-3">
            <h6 class="fw-6">Notification</h6>
            <img src="assets/images/svg/notifications_24px.svg" alt="new client" class="">

          </div>

          <!-- <div class="d-flex align-items-start notification-card mb-3 ">
            <img src="assets/images/svg/class-user.svg" alt="new client" class="mr-3">
            <div class="pb-3">
              <p class="mb-0">Samuel made as submission of Assignment</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="d-flex assignment-file px-3 py-2 mt-2">
                  <img src="assets/images/svg/pdf-file.svg" alt="new client" class="mr-3">
                  <p class="mb-0">Assignment.pdf</p>
                </div>
                <p class="mb-0">07:45</p>
              </div>
            </div>
          </div> -->

          <!-- <div class="d-flex align-items-start notification-card mb-3 ">
            <img src="assets/images/svg/class-user.svg" alt="new client" class="mr-3">
            <div class="pb-3">
              <p class="mb-0">Samuel made as submission of Assignment</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="d-flex assignment-file px-3 py-2 mt-2">
                  <img src="assets/images/svg/pdf-file.svg" alt="new client" class="mr-3">
                  <p class="mb-0">Assignment.pdf</p>
                </div>
                <p class="mb-0">07:45</p>
              </div>
            </div>
          </div> -->
        </div>
      </div>
    </div>
    <div class="col-md-3 bg-white notice-board " id="announcement">
      <h5 class="fc-lblue mt-4 pb-1 "> 
        <span *ngIf="sessionList?.name">{{sessionList?.name + ' ' + currentTerm}}</span>
        <span *ngIf="sessionList?.name === null">Session not found </span>
       </h5>

      <div class="mb-5">
        <ejs-calendar></ejs-calendar>
      </div>

      <div class="notice-board-card ml-2 mr-3 mt-5 p-3 br-10">
        <div class="d-flex mb-4">
          <img src="assets/images/svg/notice-board.svg" alt="new client" class="mr-4">
          <p class="fw-6 mb-0">Announcement</p>
        </div>
        <!-- <div class="d-flex mb-3 announcement-card py-4 pl-3">
          <p class="fw-6 mb-0 fs-14">Countdown to CA Test</p>
        </div> -->
        <div class="d-flex mb-3 announcement-card py-4 pl-3">
          <p class="fw-6 mb-0 fs-14">No announcement yet</p>
        </div> 
      </div>
    </div>


  </div>
</div>
