<app-homenavbar></app-homenavbar>
<section id="top">
    <div class="container">
        <p class="text-center fs-48 text-white ff-n fw-9">Try it out for <span class="fc-orange">FREE!</span></p>
        <p class="text-white ff-n fs-18 text-center">
            Request a demo by filling out the form below.
        </p>
    </div>
</section>
<section id="demorequest">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 m-auto py-lg-5 py-3">
                <div class="form py-lg-4 px-lg-5">
                    <div class="row">
                        <div class="col-lg-12 mb-3">
                            <label for="" class="fs-16 ff-n fw-6 fc-dark">Tell us your name</label>
                            <input type="text" placeholder="Enter full name" class="form-control demo-form">
                        </div>
                        <div class="col-lg-12 mb-3">
                            <label for="" class="fs-16 ff-n fw-6 fc-dark">Email address</label>
                            <input type="email" placeholder="Enter valid email address" class="form-control demo-form">
                        </div>
                        <div class="col-lg-12 mb-3">
                            <label for="" class="fs-16 ff-n fw-6 fc-dark">Phone number</label>
                            <input type="tel" placeholder="Enter phone number" class="form-control demo-form">
                        </div>
                        <div class="col-lg-12 mb-3">
                            <label for="" class="fs-16 ff-n fw-6 fc-dark">Institution Name</label>
                            <input type="text" placeholder="Enter your institution name" class="form-control demo-form">
                        </div>
                        <div class="col-lg-12 mb-3">
                            <label for="" class="fs-16 ff-n fw-6 fc-dark">Institution Size (By number of
                                students)</label>
                            <input type="text" placeholder="Enter your institution size" class="form-control demo-form">
                        </div>
                        <div class="col-lg-12 mb-3">
                            <label for="" class="fs-16 ff-n fw-6 fc-dark">How soon do you plan to join
                                Schooltrack?</label>
                            <input type="text" placeholder="Enter Comment" class="form-control demo-form">
                        </div>
                        <div class="col-lg-12 mb-3">
                            <label for="" class="fs-16 ff-n fw-6 fc-dark">Choose Preferred Demo Type</label>
                            <form class="d-flex row px-3" action="#">
                                <p>
                                    <input type="radio" id="test1" name="radio-group"/>
                                    <label for="test1" class="">
                                        <span class="px-2 fs-16 ff-n fw-6 fc-dark">Online Demo</span>
                                    </label>
                                </p>
                                <p class="">
                                    <input type="radio" id="test2" name="radio-group"/>
                                    <label for="test2" class="">
                                        <span class="px-2 fs-16 ff-n fw-6 fc-dark">Live Demo</span>
                                    </label>
                                </p>
                                
                            </form>
                        </div>
                        <div class="col-lg-12 mb-3">
                            <label for="" class="fs-16 ff-n fw-6 fc-dark">Enter Venue Address</label>
                            <input type="text" placeholder="Enter Address" class="form-control demo-form">
                        </div>
                        <div class="col-lg-6 mb-3">
                            <label for="" class="fs-16 ff-n fw-6 fc-dark">Pick a Date</label>
                            <input type="date" placeholder="DD / MM / YYYY" class="form-control demo-form">
                        </div>
                        <div class="col-lg-6 mb-3">
                            <label for="" class="fs-16 ff-n fw-6 fc-dark">Pick a Time</label>
                            <input type="time" placeholder="00 : 00 " class="form-control demo-form">
                        </div>
                        <div class="col-lg-12 mt-3">
                            <p class="text-right">
                                <button class="btn btn-submit px-5">
                                    Submit
                                </button>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>