<div class="container-fluid">
    <div class="row " *ngIf="gradeAssignment">
        <div class="col-md-8 file-reader">
            <div class="row">
                <div class="col-md-12 top-bar p-3">
                    <div class="row align-items-center">
                        <div class="col-md-10 ">
                            <div class="d-flex align-items-center cursor-pointer" (click)="back()">
                                <img src="assets/images/svg/breadcrumb.svg" class="mr-3" alt="..." />
                                <p class="mb-0">Back</p>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="d-flex align-items-center">
                                <p class="mb-0">Score</p>
                                <form class="pl-2" [formGroup]="scoreForm" (ngSubmit)="submitScore()">
                                    <input type="number" id="" class="form-control"  formControlName="score">
                                </form>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-md-12 document-viewer p-3">
                    <div class="document-pages p-3">
                        Document reader goes here
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-1 actions px-0" >
            <div class="d-flex justify-content-center align-items-center pt-5 pb-4 comment dropleft">
                <img src="assets/images/svg/add_comment.svg" class="dropdown-toggle" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false" alt="..." />
                <div class="dropdown-menu px-3 pt-3 pb-3">
                    <p>Make Comment</p>
                    <form [formGroup]="extraCommentForm" (ngSubmit)="submitComment()">
                        <div class="form-group">
                            <textarea class="form-control" formControlName="comment"></textarea>
                        </div>
                        <div class="d-flex justify-content-start mb-3   ">
                            <button class="pop-left btn-blue mr-3">Comment</button>
                            <button class="pop-left btn-clear">Cancel</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="d-flex justify-content-center align-items-center pt-5 pb-4 download">
                <img src="assets/images/svg/download-grading.svg" class="" alt="..." />
            </div>
        </div>
        <div class="col-md-3 notice-board p-3">
            <button class="btn btn-orange-two px-5 mb-4 mt-3"> Return </button>
            <div class="assignment-info">
                <p class="fs-14 fw-6 text-white">Title</p>
                <p class="fw-6 fs-18 ">How I Learnt Swimming</p>
                <p class="date fs-12 mb-0 pb-1">Submitted 07 Aug 2020 </p>
                <p class="fw-6 mb-0 ">Miss Cynthia Godbless</p>
                <p class="fs-12"> AMI/ST/2020/002</p>
            </div>

        </div>
    </div>

    <div class="row" *ngIf="hideSide">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12 top-bar p-3">
                    <div class="row align-items-center">
                        <div class="col-md-10 ">
                            <div class="d-flex align-items-center cursor-pointer" (click)="back()">
                                <img src="assets/images/svg/breadcrumb.svg" class="mr-3" alt="..." />
                                <p class="mb-0">Back</p>
                            </div>
                        </div>
                        
                    </div>

                </div>
                <div class="col-md-12 document-viewer p-3">
                    <div class="document-pages p-3">
                        Document reader goes here
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>