<app-homenavbar></app-homenavbar>
<section id="top">
    <div class="container">
        <p class="fs-48 ff-n fw-9 text-white">FAQs</p>
    </div>
</section>
<section id="faqs">
    <div class="py-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 mb-3">
                    <p class="text-center fs-48 fw-9 fc-dark ff-n mb-2">Got <span class="fc-orange">Questions</span> for
                        us?</p>
                    <p class="text-center">
                        <img src="assets/images/svg/divider2.svg" alt="">
                    </p>
                    <p class="text-center fc-dark fs-16 ff-n">
                        <span class="fw-6">SchoolTrack</span> is an all-inclusive and ubiquitous shared
                        educational technology infrastructure that <br>confers affordability and unbeatable capability
                        on member
                        schools as it guarantees:
                    </p>
                </div>
                <div class="col-lg-12"> 
                    <div id="accordion">
                        <div class="card">
                            <div class="card-header" id="headingOne" data-toggle="collapse" data-target="#collapseOne">
                                <p class="m-0 ml-3 ff-n fs-16 fw-6 fc-lblue">As a frequent traveller, how does
                                    Schooltrack™ help me stay abreast of activities in my school?</p>
                            </div>

                            <div id="collapseOne" class="collapse" aria-labelledby="headingOne"
                                data-parent="#accordion">
                                <div class="card-body">
                                    <p class="fw-3 fs-14 ff-n m-0">
                                        This feature helps you identify trends and changes as your students are growing
                                        using the inbuilt monitoring pointers.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="heading1" data-toggle="collapse" data-target="#collapse1">
                                <p class="m-0 ml-3 ff-n fs-16 fw-6 fc-lblue">In summary, why MUST I prefer  <span class="fw-6">SchoolTrack</span>  to other school automation systems?</p>
                            </div>

                            <div id="collapse1" class="collapse" aria-labelledby="heading1"
                                data-parent="#accordion">
                                <div class="card-body">
                                    <p class="fw-3 fs-14 ff-n m-0">
                                        This feature helps you identify trends and changes as your students are growing
                                        using the inbuilt monitoring pointers.
                                    </p>
                                </div>
                            </div> 
                        </div>
                        <div class="card">
                            <div class="card-header" id="heading2" data-toggle="collapse" data-target="#collapse2">
                                <p class="m-0 ml-3 ff-n fs-16 fw-6 fc-lblue">What kind of reports does  <span class="fw-6">SchoolTrack</span>  use?</p>
                            </div>

                            <div id="collapse2" class="collapse" aria-labelledby="heading2"
                                data-parent="#accordion">
                                <div class="card-body">
                                    <p class="fw-3 fs-14 ff-n m-0">
                                        This feature helps you identify trends and changes as your students are growing
                                        using the inbuilt monitoring pointers.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="heading3" data-toggle="collapse" data-target="#collapse3">
                                <p class="m-0 ml-3 ff-n fs-16 fw-6 fc-lblue">Why is  <span class="fw-6">SchoolTrack</span>  different from other schools administrative systems?</p>
                            </div>

                            <div id="collapse3" class="collapse" aria-labelledby="heading3"
                                data-parent="#accordion">
                                <div class="card-body">
                                    <p class="fw-3 fs-14 ff-n m-0">
                                        This feature helps you identify trends and changes as your students are growing
                                        using the inbuilt monitoring pointers.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="heading4" data-toggle="collapse" data-target="#collapse4">
                                <p class="m-0 ml-3 ff-n fs-16 fw-6 fc-lblue">We already have a student’s database and a school administration system. Is it possible to import our database to  SchoolTrack  service?</p>
                            </div>

                            <div id="collapse4" class="collapse" aria-labelledby="heading4"
                                data-parent="#accordion">
                                <div class="card-body">
                                    <p class="fw-3 fs-14 ff-n m-0">
                                        This feature helps you identify trends and changes as your students are growing
                                        using the inbuilt monitoring pointers.
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-header" id="heading5" data-toggle="collapse" data-target="#collapse5">
                                <p class="m-0 ml-3 ff-n fs-16 fw-6 fc-lblue">Do I need to invest in servers and technical resources for my school to run on  Schooltrack™ ?</p>
                            </div>

                            <div id="collapse5" class="collapse" aria-labelledby="heading5"
                                data-parent="#accordion">
                                <div class="card-body">
                                    <p class="fw-3 fs-14 ff-n m-0">
                                        This feature helps you identify trends and changes as your students are growing
                                        using the inbuilt monitoring pointers.
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-header" id="heading6" data-toggle="collapse" data-target="#collapse6">
                                <p class="m-0 ml-3 ff-n fs-16 fw-6 fc-lblue">Can we buy the  <span class="fw-7">Schooltrack™</span>  Integrated School Management System and run it on our own server?</p>
                            </div>

                            <div id="collapse6" class="collapse" aria-labelledby="heading6"
                                data-parent="#accordion">
                                <div class="card-body">
                                    <p class="fw-3 fs-14 ff-n m-0">
                                        This feature helps you identify trends and changes as your students are growing
                                        using the inbuilt monitoring pointers.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</section>
<app-footer></app-footer>