<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <img src="assets/images/svg/breadcrumb.svg" class="mr-3" alt="..." />
    <li class="breadcrumb-item a1 " aria-current="page" (click)="back()">
      <a>Back</a>
    </li>
  </ol>


</nav>


<div class=" ">

  <div class="invoice bg-white">

    <div class="p-5">
        <div class="d-flex justify-content-between align-items-center mb-2 px-4">
            <div>
                <img src="assets/images/svg/logo.svg" alt="">
                <div>
                  <p>
                    www.myschooltrack.com
                    <br>
                    info@myschooltrack.com
                  </p>
                </div>
            </div>
            <h4 class="fw-6 invoice-title">School Invoice</h4>
        </div>
        <div class="invoice-line mb-4">&nbsp;</div>
        
        <div class="d-flex justify-content-between px-4">
          <div>
            <h5> Invoice to: </h5>
            <p class="fw-6"> {{unpaidInvoice?.schoolName}}</p>
          </div>
          <div>
            <p class="invoice-p mb-0"> Invoice Date: {{unpaidInvoice?.dueDate | date: 'medium'}} </p>
            <p class="invoice-p mb-0"> Invoice Due Date:{{unpaidInvoice?.dueDate | date: 'medium'}} </p>
            <!-- <p class="invoice-p mb-0"> Session: studentInvoicePreview?.session}} </p> -->
          </div>
        </div>
        <div class="invoice table-responsive px-2 mt-2">
          <table class="table table-borderless">
            <thead>
              <tr>
                <th class="border-bottom" scope="col">School Name</th>
                <th class="border-bottom" scope="col">End Date</th>
                <th class="border-bottom " scope="col">Expected No. Students</th>
                <th class="border-bottom text-right" scope="col">Price Per User</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td> {{unpaidInvoice?.schoolName}}</td>
                <td> {{unpaidInvoice?.dueDate | date: 'medium'}}</td>
                <td> {{unpaidInvoice?.numberOfStudent}}</td>
                <td class="text-right"> {{unpaidInvoice?.amountPerStudent}}</td>
              </tr>
              <tr class="totals">
                <td class="border-top">&nbsp;</td>
                <td class="border-top">&nbsp;</td>
                <td class="border-top">Subtotal</td>
                <td class="border-top text-right"> {{unpaidInvoice?.amountToBePaid}}</td>
              </tr>
              <tr class="totals">
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td class="subtotal">Total</td>
                <td class="subtotal text-right"> {{unpaidInvoice?.amountToBePaid}} </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="d-flex justify-content-center align-items-center py-4 invoice-footer">
            <p> <span class="fw-6">Need Help?</span> info@myschooltrack.com </p>
        </div>
    </div>

    <div class="d-flex justify-content-center align-items-center">
              <button class="btn btn-orange mx-2 mx-lg-3 px-5 mb-4 mt-3" data-toggle="modal" data-target="#selectionModal" [disabled]="unpaidInvoice?.paid === true"  > Mark as Paid </button>

    </div>


  </div>

</div>


<!-- school selection Modal -->
<div class="modal fade" id="selectionModal" tabindex="-1" role="dialog"
  aria-labelledby="selectionModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-length" role="document">
    <div class="modal-content">

      <div class="modal-head mb-4">
        <div class="d-flex justify-content-between align-items-center ">
          <h6 class="modal-title fc-lblue">Mark Invoice as Paid</h6>
          <img src="assets/images/svg/close-modal.svg" alt="modal close button" id="close" data-dismiss="modal"
            aria-label="Close" class="close">

        </div>

      </div>
      <div class="modal-body client-modal">
        <p>Are you sure you want to mark this invoice as paid? </p>
       
        <div class="d-flex justify-content-center mb-3">
          <button type="button " class="btn btn-outline-orange  px-5 mb-4 mt-3  mb-3 mr-3 "
            data-dismiss="modal">Cancel
          </button>
          <button class="btn btn-orange-two px-5 mb-4 mt-3" (click)="markPaid()" > Yes, continue</button>
        </div>
      </div>



    </div>
  </div>
</div>
<!-- end of time table modal -->