.alumni-holder {
    /* background: #E5E5E5; */
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0 auto;
    z-index: 999;
  }
  
  .main-head{
    background: #FEFEFF;
    align-items: center ;
    box-shadow: 0px 1px 21px rgba(119, 119, 119, 0.21);
    background: #0052B4;

}



.header-items a.active {
  color: #EB6B04;
  font-weight: bold;
}
.header-items a.active::before {
  position: absolute;
  top: -10px;
  left: 0;
  content: '';
background: #EB6B04;
width: 100%;
height: 5px;
}

.card-b {
    border-radius: 8px;
    box-shadow: 0px 20px 40px #edf0f5;

}

.alumi-body {
    max-width: 115rem;
    background: #EBF0F5;
    padding: 0px 1.9rem;
    display: flex;
    
    margin: 0 auto;
}

#sidebar {
    width: 280px;
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0px 20px 40px #edf0f5;
    z-index: 22;
    height: 55vh;
    position: fixed;

}

#sidebar ul {
    list-style-type: none;
  }
  
  #sidebar ul li a.nav-link {
    font-family: Nunito;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
  
    color: #2D3A4F;
    ;
  
    /* width: 100%; */
    padding-top: 12px;
    padding-bottom: 12px;
    transition: 0.3s ease-in-out;
  }
  
  #sidebar ul li a.nav-link.active {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
  
    color: #1666C5;
    border-radius: 5px;
    width: 100%;
    padding-top: 12px;
    padding-bottom: 12px;
    transition: 0.3s ease-in-out;
  }
  
  #sidebar ul li a.nav-link .ico {
    margin-right: 20px;
    width: 24px;
  }
  
  #sidebar ul li a.nav-link.active svg path,
  svg g#icon,
  svg circle {
    fill: #1666C5;
    transition: 0.3s ease-in-out;
  }

.main {
    margin-left: auto;
    width: calc(100% - 280px);
    transition: margin-left 0.3s !important;
}

.schoolLogo {
  height: 50px;
} 

.image-rounded {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}