<section class="add-student" *ngIf="studentList?.length === 0">
    <img src="assets/images/svg/add-student.svg" alt="new student" class="">
    <p class="text-center fw-6 pt-5">It looks like you are yet to create a student.You can do <br> that by clicking any of the buttons below.
        below.</p>
    <button class="btn btn-orange-two mx-2 mx-lg-3 px-5 mb-4 mt-3" [routerLink]="['/school/add-student']">
        Add New </button>
    <button class="btn btn-outline-orange  mx-2 mx-lg-3" data-toggle="modal"
        data-target="#exampleModalCenterUpload">Bulk
        Upload</button>
</section>






<div *ngIf="studentList?.length !== 0">
    
    <section class="banner mb-4 pb-3">
        <div class="pt-5 pl-3 content ">
            <h6 class="banner__text-primary fw-6 "> Students </h6>
            <p class="text-white"> Directory of all registered students </p>
        </div>
        <div class="d-flex">
            <button class="btn btn-outline-orange  mx-2 mx-lg-3 px-5 mb-4 mt-3" data-toggle="modal"
                data-target="#exampleModalCenterUpload">Bulk
                Upload</button>
            <button class="btn btn-orange-two mx-2 mx-lg-3 px-5 mb-4 mt-3" routerLink="/school/add-student" (click)="clearData()"> Add New </button>
        </div>
    
    </section>
    
    <section class="d-flex align-items-center justify-content-between mb-4 mt-5">
        <div class="search__input has-search">
            <span class="fa fa-search form-control-feedback"></span>
            <input type="text" class="form-control" placeholder="Search" [(ngModel)]="searchString">
        </div>
        <button class="btn btn-outline-orange mx-2 mx-lg-3 px-5 mb-4 mt-3"> Bulk Actions </button>
    
    </section>
    
    
    
    
    <section class="list">
        <table class="table table-borderless client-table">
            <thead>
                <tr>
                    <th scope="col" class="head ">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="customCheckTh">
                            <label class="custom-control-label" for="customCheckTh"></label>
                        </div>
                    </th>
                    <th scope="col" class="text-center" >Student Name <img src="assets/images/svg/table-sort.svg"
                            alt="table sort icon" class="dropdown-toggle" type="button" id="dropdownMenuButton"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <!-- ================ DROPDOWN ==================== -->
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            
                            <a class="dropdown-item fc-orange" href="#">All </a>
                            <a class="dropdown-item" href="#">A - Z </a>
                            <a class="dropdown-item" href="#">Z - A </a>
                        </div>
                    </th>
                    <th scope="col">Student Number </th>
                   
                    <th scope="col">Sex <img src="assets/images/svg/table-sort.svg" alt="table sort icon"></th>
                    <th scope="col">Date of Birth <img src="assets/images/svg/table-sort.svg" alt="table sort icon"></th>
                    <th scope="col">Level <img src="assets/images/svg/table-sort.svg" alt="table sort icon"></th>
                    <th scope="col">Class <img src="assets/images/svg/table-sort.svg" alt="table sort icon"></th>
    
                    <th scope="col">Status <img src="assets/images/svg/table-sort.svg" alt="table sort icon"
                            class="dropdown-toggle" type="button" id="dropdownMenuButton4" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                        <!-- ================ DROPDOWN ==================== -->
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton4">
                            
                            <a class="dropdown-item fc-orange" href="#">All </a>
                            <a class="dropdown-item" href="#">Active </a>
                            <a class="dropdown-item" href="#">Inactive </a>
                        </div>
                    </th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr class="pb-1" *ngFor="let student of studentList | tableSearch : 'firstName' : searchString | paginate: { itemsPerPage: itemsPerPage, currentPage: p, totalItems: studentCount }">
                    <td scope="row" class="check rounded-left">
                        <div class="custom-control custom-checkbox" >
                            <input type="checkbox" class="custom-control-input" id="{{student?.id}}">
                            <label class="custom-control-label" for="{{student?.id}}"></label>
                        </div>
                    </td>
                    <td class="user" >
                        
                        <div class="d-flex align-items-center">
                            <img src="assets/images/svg/companyalt.svg" alt="schools log" class="mr-3  image-rounded">
                            <h6 class="fw-6 mb-0" >{{student?.firstName}} {{student?.lastName}} </h6>
                        </div>
                    </td>
                    <td>{{student?.studentNumber}}</td>
                    <td>{{student?.sex | titlecase}}</td>
                    <td class="">{{student?.dateOfBirth | date : 'mediumDate'}}</td>
                    <td class="">{{student?.section}}</td>
                    <td class="">{{student?.class}}</td>
                    <td><span class="status_active">Active</span></td>
                    <td class="rounded-right "><img src="assets/images/svg/more-action.svg"
                            alt="schools log" class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> 
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="#" [routerLink]="['/school', 'student-detail', student?.id]">View</a>
                                <a class="dropdown-item" (click)="editStudent(student.id)" >Edit</a>
                                <!-- <a class="dropdown-item" href="#" data-toggle="modal" data-target="#exampleModalCenter3">Send SMS</a>
                                <a class="dropdown-item"  >Send Email</a>
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#exampleModalCenterPromote">Promote</a>
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#exampleModalCenterDemote">Deactivate</a> -->
                              </div>
                        </td>
                </tr>
    
                
    
    
    
            </tbody>
        </table>
        <div class="d-flex justify-content-end">
            <pagination-controls (pageChange)="getPage(p = $event)" class="text-center"></pagination-controls>
          </div>
    
    </section>
</div>



    <!-- send sms Modal -->
    <div class="modal fade" id="exampleModalCenter3" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalCenter3Title" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-length" style="max-width: 45%;" role="document">
            <div class="modal-content">

                <div class="modal-head mb-4">
                    <div class="d-flex justify-content-start align-items-center ">
                        <img src="assets/images/svg/sms.svg" alt="schools log" class="mr-3">
                        <h6 class="modal-title fc-lblue">New SMS</h6>
                    
                    </div>
                    
                </div>
                <div class="modal-body client-modal">
                    <form>


                        <div class="form-group mb-4">
                            <label for="message" class="fw-6">Recipients</label>
                            <textarea name="" id="message" class="form-control"></textarea>
                            <p class="mb-0  form-count">Recipients: <span class="text-black">0</span> </p>
                        </div>
                        <div class="form-group mb-5">
                            <label for="message" class="fw-6">Message:</label>
                            <textarea name="" id="message" class="form-control" placeholder="Type your message"></textarea>
                            <div class="d-flex">
                                <p class="mb-0 mr-3 form-count">Message length: <span class="text-black">0/160</span> </p>
                                <p class="mb-0 form-count">SMS Count: <span class="text-black">0</span> </p>
                            </div>
                        </div>

                        
                    </form>
                            <div class="d-flex justify-content-end mb-3">
                                <button type="button " class="btn btn-outline-orange  px-5 mb-4 mt-3  mb-3 mr-3 " data-dismiss="modal">Cancel </button>
                                <button class="btn btn-orange-two px-5 mb-4 mt-3" data-toggle="modal" data-target="#exampleModalCenterSuccess" > Send Message </button>
                            </div>
                </div>

            </div>
        </div>
    </div>
    <!-- end of send sms modal -->



    <!-- promote Modal -->
    <div class="modal fade" id="exampleModalCenterPromote" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalCenterPromoteTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-length" style="max-width: 38%;" role="document">
            <div class="modal-content">

               
                <div class="modal-body client-modal bordered br-10">
                    <div class="d-flex flex-column justify-content-center align-items-center mt-5 ">
                        <img src="assets/images/svg/promote.svg" alt="schools log" class="mb-5 mt-5">
                        <h6 class="fs-24 text-center">Are you sure you want to promote  <br> <span class="fw-6">John Boyega?</span></h6>
                        <div class="d-flex justify-content-center my-5">
                            <button type="button " class="btn btn-outline-orange  px-5 mb-4 mt-3  mb-3 mr-3 " data-dismiss="modal">No, cancel </button>
                            <button class="btn btn-orange-two px-5 mb-4 mt-3" > Yes, promote  </button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- end of promote modal -->


    <!-- demote Modal -->
    <div class="modal fade" id="exampleModalCenterDemote" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalCenterDemoteTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-length" style="max-width: 38%;" role="document">
            <div class="modal-content">

               
                <div class="modal-body client-modal bordered br-10">
                    <div class="d-flex flex-column justify-content-center align-items-center mt-5 ">
                        <img src="assets/images/svg/promote.svg" alt="schools log" class="mb-5 mt-5">
                        <h6 class="fs-24 text-center">Are you sure you want to deactivate  <br> <span class="fw-6">John Boyega?</span></h6>
                        <div class="d-flex justify-content-center my-5">
                            <button type="button " class="btn btn-outline-orange  px-5 mb-4 mt-3  mb-3 mr-3 " data-dismiss = "modal">No, cancel </button>
                            <button class="btn btn-orange-two px-5 mb-4 mt-3" > Yes, deactivate  </button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    
    <!-- end of demote modal -->

    
    <!-- success Modal -->
    <div class="modal fade" id="exampleModalCenterSuccess" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalCenterSuccessTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-length" style="max-width: 38%;" role="document">
            <div class="modal-content">

               
                <div class="modal-body client-modal bordered br-10">
                    <div class="d-flex flex-column justify-content-center align-items-center mt-5 ">
                        <img src="assets/images/svg/success.svg" alt="schools log" class="mb-5 mt-5">
                        <h6 class="fs-24 fw-6 text-center">Your messsage was sent <br>successfully  </h6>
                        <div class="d-flex justify-content-center my-5">
                            <button class="btn btn-orange-two px-5 mb-4 mt-3" > Continue  </button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- end of success modal -->





    <!-- Bulk uplaod Modal -->
<div class="modal fade" id="exampleModalCenterUpload" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalCenterUploadTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-length" style="max-width: 45%;" role="document">
            <div class="modal-content">

                <div class="modal-head ">
                    <div class="d-flex justify-content-between mb-3">
                        <h6 class="modal-title">Upload Files</h6>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    
                </div>
                <div class="modal-body client-modal">
                    <form [formGroup]=studentBulkUploadForm (ngSubmit)="createStudentBulkUpload()">
                        <div class="form-group file-upload mt-4 mb-3">
                            <label for="fileupload">Drag files to upload or click</label>
                            <input type="file" class="file-input" id="fileupload"
                            accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
                            (change)="handleBulkUpload($event)">
                            <!-- <button type="button " class="btn-upload  mb-3 ">Upload Files </button> -->
                            <p class="caption">You can import up to 5000 records through an .xls, .xlsx, .vcf, or .csv
                                file. To import
                                more than 5000 records at a time, use a .csv file.</p>
                        </div>

                        <a class="mb-5 download" href="" download="SchoolTrack Bulk Upload">Click
                            <span class="download fc-lblue">here</span> to download sample file</a>

                        <div class="modal-btn d-flex justify-content-end mb-5">
                            <button class="btn btn-outline-orange  px-5 mb-4 mt-3 mr-3" data-dismiss="modal"> Cancel </button>
                            <button class="btn btn-orange-two  px-5 mb-4 mt-3"> Add New </button>
                        </div>

                    </form>
                </div>

            </div>
        </div>
    </div>

    <!-- end of Bulk uplaod modal -->


