<div class="Personal information">

    <form [formGroup]="personalDetailsForm" (ngSubmit)="submitPersonalDetails()" >
      <div class="form-row mb-5 ">
        <div class="col-sm-12 ">
          <label for="fname" class="fw-6">First Name <span class="text-danger">*</span></label>
          <input 
          type="text" 
          class="form-control form-control-lg" 
          id="fname" 
          placeholder="Enter first Name"
          formControlName="FirstName" required>
          <div *ngIf="personalDetailsForm.controls.FirstName.touched && personalDetailsForm.controls.FirstName.errors" class="error">
            <small *ngIf="personalDetailsForm.controls.FirstName.errors.required" class="text-danger">Field is required</small>
            <!-- <small *ngIf="basicInfoForm.controls.countryOfOrigin.errors.email" class="text-danger">Invalid email pattern</small> -->
          </div>
        </div>

        <div class="col-sm-12 ">
          <label for="lname" class="fw-6">Last Name <span class="text-danger">*</span></label>
          <input 
          type="text" 
          class="form-control form-control-lg" 
          id="lname" 
          placeholder="Enter Last Name"
          formControlName="LastName" required>
          <div *ngIf="personalDetailsForm.controls.LastName.touched && personalDetailsForm.controls.LastName.errors" class="error">
            <small *ngIf="personalDetailsForm.controls.LastName.errors.required" class="text-danger">Field is required</small>
            <!-- <small *ngIf="basicInfoForm.controls.countryOfOrigin.errors.email" class="text-danger">Invalid email pattern</small> -->
          </div>
        </div>

      </div>

      <div class="form-row mb-5 ">
        
        <div class=" col-sm-12 ">
          <label for="others" class="fw-6">Other Names </label>

          <input type="text" class="form-control form-control-lg" 
          id="others" 
          placeholder="Enter other names" formControlName="OtherNames" >

        </div>

        <div class=" ">
            <label for="others" class="fw-6">Gender <span class="text-danger">*</span></label>

           <select name="" id="othes" class="form-control form-control-lg" formControlName="Sex" >
               <option value="" selected> select sex</option>
               <option value="male">Male</option>
               <option value="female">Female</option>
           </select>
           <div *ngIf="personalDetailsForm.controls.Sex.touched && personalDetailsForm.controls.Sex.errors" class="error">
            <small *ngIf="personalDetailsForm.controls.Sex.errors.required" class="text-danger">Field is required</small>
            <!-- <small *ngIf="basicInfoForm.controls.countryOfOrigin.errors.email" class="text-danger">Invalid email pattern</small> -->
          </div>
        </div>
      </div>

      <div class="form-row mb-5 ">
        
        <div class="  ">
          <label for="dob" class="fw-6">Date of Birth <span class="text-danger">*</span></label>

          <input type="date" class="form-control form-control-lg" 
          id="dob" formControlName="DateOfBirth"
          placeholder="Enter other names"  required>
           <div *ngIf="personalDetailsForm.controls.DateOfBirth.touched && personalDetailsForm.controls.DateOfBirth.errors" class="error">
            <small *ngIf="personalDetailsForm.controls.DateOfBirth.errors.required" class="text-danger">Field is required</small>
            <!-- <small *ngIf="basicInfoForm.controls.countryOfOrigin.errors.email" class="text-danger">Invalid email pattern</small> -->
          </div>
        </div>

        <div class=" ">
            <label for="others" class="fw-6">Marital Status <span class="text-danger">*</span></label>

           <select name="" id="othes" class="form-control form-control-lg" formControlName="MaritalStatus">
               <option value="" selected> select status</option>
               <option value="married" > Married</option>
               <option value="single" > Single</option>
               <option value="engaged" > Engaged</option>
               <option value="divorced" > Divorced </option>
           </select>
            <div *ngIf="personalDetailsForm.controls.MaritalStatus.touched && personalDetailsForm.controls.MaritalStatus.errors" class="error">
            <small *ngIf="personalDetailsForm.controls.MaritalStatus.errors.required" class="text-danger">Field is required</small>
            <!-- <small *ngIf="basicInfoForm.controls.countryOfOrigin.errors.email" class="text-danger">Invalid email pattern</small> -->
          </div>
        </div>
      </div>

      
      <div class="form-row mb-5">
        <div class=" ">
            <label for="blood" class="fw-6">Blood Group <span class="text-danger">*</span></label>

           <select name="" id="blood" class="form-control form-control-lg" formControlName="BloodGroup">
               <option value="" selected> select status</option>
               <option value="A+">A+</option>
               <option value="A-">A-</option>
               <option value="B+">B+</option>
               <option value="B-">B-</option>
               <option value="O+">O+</option>
               <option value="O-">O-</option>
               <option value="AB+">AB+</option>
               <option value="AB-">AB-</option>
           </select>
           <div *ngIf="personalDetailsForm.controls.BloodGroup.touched && personalDetailsForm.controls.BloodGroup.errors" class="error">
            <small *ngIf="personalDetailsForm.controls.BloodGroup.errors.required" class="text-danger">Field is required</small>
            <!-- <small *ngIf="basicInfoForm.controls.countryOfOrigin.errors.email" class="text-danger">Invalid email pattern</small> -->
          </div>
        </div>

      
        <div class=" ">
            <label for="religion" class="fw-6">Religion <span class="text-danger">*</span></label>

           <select name="" id="religion" class="form-control form-control-lg" formControlName="Religion">
               <option value="" selected> select status</option>
               <option value="Christianity">Christianity</option>
               <option value="Islam">Islam</option>
               <option value="Buddhism">Buddhism</option>
               <option value="Judaism">Judaism</option>
           </select>
           <div *ngIf="personalDetailsForm.controls.Religion.touched && personalDetailsForm.controls.Religion.errors" class="error">
            <small *ngIf="personalDetailsForm.controls.Religion.errors.required" class="text-danger">Field is required</small> 
            <!-- <small *ngIf="basicInfoForm.controls.countryOfOrigin.errors.email" class="text-danger">Invalid email pattern</small> -->
          </div>
        </div>

      </div>


      <div class="form-row mb-5">

        <div class="  ">
            <label for="nationality" class="fw-6">Nationality <span class="text-danger">*</span></label>

           <select name="" id="nationality" class="form-control form-control-lg" formControlName="Nationality" (change)="getState($event.target.value)">
               <option value="" selected> select </option>
               <option [value]="country.country" *ngFor = "let country of countries">{{country.country}}</option>

           </select>
           <div *ngIf=" personalDetailsForm.controls.Nationality.touched && personalDetailsForm.controls.Nationality.errors" class="error">
            <small *ngIf="personalDetailsForm.controls.Nationality.errors.required" class="text-danger">Field is required</small>
            <!-- <small *ngIf="basicInfoForm.controls.countryOfOrigin.errors.email" class="text-danger">Invalid email pattern</small> -->
          </div>
          </div>

        <div class=" ">
            <label for="origin" class="fw-6">State of origin <span class="text-danger">*</span></label>

           <select name="" id="origin" class="form-control form-control-lg" formControlName="StateOfOrigin">
               <option value="" selected> select </option>
               <option [value]="unit" *ngFor="let unit of states" >{{unit}}</option>

           </select>
           <div *ngIf="personalDetailsForm.controls.StateOfOrigin.touched && personalDetailsForm.controls.StateOfOrigin.errors" class="error">
            <small *ngIf="personalDetailsForm.controls.StateOfOrigin.errors.required" class="text-danger">Field is required</small>
            <!-- <small *ngIf="basicInfoForm.controls.countryOfOrigin.errors.email" class="text-danger">Invalid email pattern</small> -->
          </div>
        </div>

       

      </div>

      <div class="form-row mb-5">

        <!-- <div class="  ">
            <label for="nationality" class="fw-6">Local Government <span class="text-danger">*</span></label>

           <select name="" id="nationality" class="form-control form-control-lg" formControlName="LocalGovernment">
               <option value="" selected> select </option>
           </select>
          </div> -->

        <div class="d-flex align-items-end ">
          <div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input" id="customSwitch1" formControlName="IsActive" (change)="getStatus($event.target.checked)">
            <label class="custom-control-label" for="customSwitch1" *ngIf = "toggleState === false; then inactive; else active;"   > {{toggleState}} </label>
              <ng-template #active>
                <label class="custom-control-label" for="customSwitch1" >Active </label>
              </ng-template>
              <ng-template #inactive>
                <label class="custom-control-label" for="customSwitch1" > Inactive </label>
              </ng-template>
        </div>
        </div>

       

      </div>
      


    </form>


    <div class=" d-flex justify-content-center mt-5 mb-5">
      <button class="btn btn-outline-orange mx-2 mx-lg-3 px-5 mb-4 mt-3"> Cancel </button>
      <button class="btn btn-orange-two mx-2 mx-lg-3 px-5 mb-4 mt-3" (click)='nextStep() ' [disabled]="personalDetailsForm.invalid" > Next </button>

    </div>
  </div>
