<!-- <header class="main-head sticky-top py-lg-2">
    <div class="container-fluid">
        <div class="row lang d-flex justify-content-between align-items-center">
            <div class=" d-flex pl-4">
                <img src="assets/images/svg/flask.svg" alt="new client" class="">
                <p class="mb-0 ml-3">AMERICAN <br> INTERNATIONAL</p>

            </div>


            <div class="d-flex row align-center justify-content-end align-items-center ">
                <img src="assets/images/svg/student-img-nav.svg" alt="new client" class="mr-2">
                <div class="info">
                    <p class="mb-0">Adeyemi Samuel</p>
                    <small>HIS/ST/2020/0001</small>
                </div>
                <img src="assets/images/svg/caret.svg" alt="country flag" class="ml-2 dropdown-toggle" type="button"
                    id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#"><img src="assets/images/svg/profile-pop.svg" alt="new client"
                            class="pr-2 mb-2"> Profile </a>
                    <a class="dropdown-item" href="#"><img src="assets/images/svg/logout-pop.svg" alt="new client"
                            class="pr-2 mb-2"> Logout </a>
                </div>



            </div>
        </div>
    </div>
</header> -->

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 attendee d-flex justify-content-center align-items-center py-4 px-4">
            <img src="assets/images/svg/student-prev.svg" alt="new client" class=" mr-3">
            <div class="d-flex">
                <div class="attendee-image-holder">
                    <img src="assets/images/svg/student-at1.svg" alt="new client" class=" attendee-image mr-2">
                    <span>
                        <p class="mb-0">Olamilekan Soliu</p>
                    </span>
                </div>
                <div class="attendee-image-holder">
                    <img src="assets/images/svg/student-at2.svg" alt="new client" class="attendee-image  mr-2">
                    <span>
                        <p class="mb-0">Emmanuel Fadare</p>
                    </span>
                </div>
                <div class="attendee-image-holder">
                    <img src="assets/images/svg/student-at3.svg" alt="new client" class="attendee-image  mr-2">
                    <span>
                        <p class="mb-0">Lanre Fadire</p>
                    </span>
                </div>
                <div class="attendee-image-holder">
                    <img src="assets/images/svg/student-at4.svg" alt="new client" class=" attendee-image mr-2">
                    <span>
                        <p class="mb-0">Emmanuel Rex</p>
                    </span>
                </div>
                <div class="attendee-image-holder">
                    <img src="assets/images/svg/student-at5.svg" alt="new client" class=" attendee-image mr-2">
                    <span>
                        <p class="mb-0">Oluwaseun Ayeni</p>
                    </span>
                </div>
                <div class="attendee-image-holder">
                    <img src="assets/images/svg/student-at6.svg" alt="new client" class=" attendee-image mr-2">
                    <span>
                        <p class="mb-0">Oluwaseun Ayeni</p>
                    </span>
                </div>
                <div class="attendee-image-holder">
                    <img src="assets/images/svg/student-at1.svg" alt="new client" class=" attendee-image mr-2">
                    <span>
                        <p class="mb-0">Oluwaseun Ayeni</p>
                    </span>
                </div>
            </div>
            <img src="assets/images/svg/Subtract.svg" alt="new client" class=" ml-3">
        </div>
        <!-- <div>
            <video #video class="vid screen" autoplay></video>
            <div class="d-flex flex-column justify-content-center align-items-center info p-2">
                <div class="d-flex justify-content-center my-3">
                    <button class="class-btn" (click)="openSomething(classDetails?.zoomId)" >Join with computer Audio</button>
                </div>
                <div class="d-flex justify-content-center">
                    <p class="text-white fw-6">Test speaker and microphone</p>
                </div>
            </div>
        </div> -->
        <div class="col-md-12 screen">

            <div class="d-flex flex-column justify-content-center align-items-center info p-2">
                <div class="d-flex justify-content-center my-3">
                    <button class="class-btn" (click)="openSomething(classDetails?.zoomId)" >Join with computer Audio</button>
                </div>
                <div class="d-flex justify-content-center">
                    <p class="text-white fw-6">Test speaker and microphone</p>
                </div>
            </div>

            <!-- <div class="col-md-12  py-4 d-flex justify-content-center align-items-center py-4  ">
              <div class="d-flex mr-auto">
                <img src="assets/images/svg/mic.svg" alt="new client" class="mr-3 dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <img src="assets/images/svg/camera.svg" alt="new client" class="mr-3">
                <img src="assets/images/svg/screen.svg" alt="new client" class="mr-3">
                <img src="assets/images/svg/control.svg" alt="new client" class="mr-3">
    
               
              </div>

              <div class="d-flex">
                <img src="assets/images/svg/hand.svg" alt="new client" class="mr-3 dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <img src="assets/images/svg/comment.svg" alt="new client" class="mr-3">
                <img src="assets/images/svg/virtual-control4.svg" alt="new client" class="mr-3">
                <img src="assets/images/svg/virtual-control3.svg" alt="new client" class="mr-3">
    
                
              </div>
              <div class="d-flex">
                <img src="assets/images/svg/logout-vc.svg" alt="new client" class="mr-3 dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               
              </div>
              
            </div> -->

        </div>

    </div>
</div>