.main-head {
  background: #fefeff;
  align-items: center;
  box-shadow: 0px 1px 21px rgba(119, 119, 119, 0.21);
}

.hamburger {
  padding-left: 1.5rem;
}

.lang {
  padding-right: 4rem;
}

.attendee {
  background: #155b75;
}

.attendee .attendee-image {
  /* width: 120px; */
  position: relative;
}

.attendee-image-holder {
  position: relative;
}

.attendee-image-holder span {
  position: absolute;
  font-size: 13px;
  color: #ffffff;
  background: rgba(0, 0, 0, 0.74);
  border-radius: 0px 0px 5px 5px;
  bottom: 7px;
  left: 6px;
  padding: 3px;
}

.screen {
  background: #1b2d3e;
  height: 80vh;
}

.screen .info {
  background: rgba(0, 0, 0, 0.28);
  border-radius: 5px;
  width: 22%;
  margin: 15% auto 10%;
}

.screen .info .class-btn {
  padding: 11px 50px;
  border-radius: 2.5px;
  background: #155b75;
  color: #fff;
  /* font-weight: 600; */
  border-radius: 10px;
  border: none;
  outline: none;
}
