<nav aria-label="breadcrumb">
  <ol class="breadcrumb" (click)="back()">
    <img src="assets/images/svg/breadcrumb.svg" class="mr-3" alt="..." />
    <li class="breadcrumb-item a1 " aria-current="page">
      <a>Back</a>
    </li>


  </ol>


</nav>

<div class="mb-3">
  <h6 class="fw-6 fs-18">Create New Role</h6>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-3 bg-white pt-5 px-3">
      <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <a class="nav-link active mb-2" id="v-pills-record-tab" data-toggle="pill" href="#v-pills-record" role="tab"
          aria-controls="v-pills-record" aria-selected="true">Records</a>
        <a class="nav-link mb-2" id="v-pills-schedule-tab" data-toggle="pill" href="#v-pills-schedule" role="tab"
          aria-controls="v-pills-schedule" aria-selected="false">Schedule</a>
        <a class="nav-link mb-2" id="v-pills-resource-tab" data-toggle="pill" href="#v-pills-resource" role="tab"
          aria-controls="v-pills-resource" aria-selected="false">Human Resources</a>
        <a class="nav-link mb-2" id="v-pills-finance-tab" data-toggle="pill" href="#v-pills-finance" role="tab"
          aria-controls="v-pills-finance" aria-selected="false">Finance Settings</a>
        <a class="nav-link mb-2" id="v-pills-finance2-tab" data-toggle="pill" href="#v-pills-finance2" role="tab"
          aria-controls="v-pills-finance2" aria-selected="false">Finance </a>
        <a class="nav-link mb-2" id="v-pills-library-tab" data-toggle="pill" href="#v-pills-library" role="tab"
          aria-controls="v-pills-library" aria-selected="false">Library</a>
        <a class="nav-link mb-2" id="v-pills-facility-tab" data-toggle="pill" href="#v-pills-facility" role="tab"
          aria-controls="v-pills-facility" aria-selected="false">Facility Manager</a>
        <a class="nav-link mb-2" id="v-pills-report-tab" data-toggle="pill" href="#v-pills-report" role="tab"
          aria-controls="v-pills-report" aria-selected="false">Report</a>
        <a class="nav-link mb-2" id="v-pills-enrollment-tab" data-toggle="pill" href="#v-pills-enrollment" role="tab"
          aria-controls="v-pills-enrollment" aria-selected="false">Enrollment</a>
      </div>
    </div>
    <div class="col-md-9">
      <div class="user__select mb-3">
        <form>
          <label for="roleTitle" class="fw-6">Role Title</label>
          <input type="text" class="form-control" placeholder="Admin">
        </form>
        <div>

        </div>
      </div>

      <div class="tab-content" id="v-pills-tabContent">
        <div class="tab-pane fade show active" id="v-pills-record" role="tabpanel" aria-labelledby="v-pills-record-tab">
          <div class="user__permission">
            <table class="table table-borderless client-table">
              <thead>
                <tr>
                  <th scope="col" class="head ">PERMISSION
                  </th>
                  <th scope="col"> Access </th>
                  <th scope="col"> Modify </th>
                  <th scope="col"> Delete </th>
                </tr>
              </thead>
              <tbody>
                <tr class="pb-2">
                  <td scope="row" class="user rounded-left">
                    Students
                  </td>
                  <td class="">
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" id="customCheck1">
                      <label class="custom-control-label " for="customCheck1"></label>
                    </div>
                  </td>
                  <td class="">
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" id="customCheck2">
                      <label class="custom-control-label " for="customCheck2"></label>
                    </div>
                  </td>
                  <td class="">
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" id="customCheck3">
                      <label class="custom-control-label " for="customCheck3"></label>
                    </div>
                  </td>


                </tr>





                <tr class="pb-2">
                  <td scope="row" class="user rounded-left">
                    Parents
                  </td>
                  <td class="">
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" id="customCheckPlan">
                      <label class="custom-control-label " for="customCheckPlan"></label>
                    </div>
                  </td>
                  <td class="">
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" id="customCheckPlan2">
                      <label class="custom-control-label " for="customCheckPlan2"></label>
                    </div>
                  </td>


                  <td class="rounded-right action">
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" id="customCheckPlan4">
                      <label class="custom-control-label " for="customCheckPlan4"></label>
                    </div>
                  </td>
                </tr>






              </tbody>
            </table>

            <div class="d-flex justify-content-center align-items-center">
              <button class="btn btn-outline-orange mx-2 mx-lg-3 px-5 mb-4 mt-3"> Cancel </button>
              <button class="btn btn-orange-two mx-2 mx-lg-3 px-5 mb-4 mt-3"
                [routerLink]="['/main', 'admin-dashboard', 'user-role']"> Create </button>

            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="v-pills-schedule" role="tabpanel" aria-labelledby="v-pills-schedule-tab">
          <div class="user__permission">
            <table class="table table-borderless client-table">
              <thead>
                <tr>
                  <th scope="col" class="head ">PERMISSION
                  </th>
                  <th scope="col"> Access </th>
                  <th scope="col"> Modify </th>
                  <th scope="col"> Delete </th>
                </tr>
              </thead>
              <tbody>
                <tr class="pb-2">
                  <td scope="row" class="user rounded-left">
                    Time Table
                  </td>
                  <td class="">
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" id="customCheck1">
                      <label class="custom-control-label " for="customCheck1"></label>
                    </div>
                  </td>
                  <td class="">
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" id="customCheck2">
                      <label class="custom-control-label " for="customCheck2"></label>
                    </div>
                  </td>
                  <td class="">
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" id="customCheck3">
                      <label class="custom-control-label " for="customCheck3"></label>
                    </div>
                  </td>


                </tr>





                <tr class="pb-2">
                  <td scope="row" class="user rounded-left">
                    School Calander
                  </td>
                  <td class="">
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" id="customCheckPlan">
                      <label class="custom-control-label " for="customCheckPlan"></label>
                    </div>
                  </td>
                  <td class="">
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" id="customCheckPlan2">
                      <label class="custom-control-label " for="customCheckPlan2"></label>
                    </div>
                  </td>


                  <td class="rounded-right action">
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" id="customCheckPlan4">
                      <label class="custom-control-label " for="customCheckPlan4"></label>
                    </div>
                  </td>
                </tr>






              </tbody>
            </table>

            <div class="d-flex justify-content-center align-items-center">
              <button class="btn btn-outline-orange mx-2 mx-lg-3 px-5 mb-4 mt-3"> Cancel </button>
              <button class="btn btn-orange-two mx-2 mx-lg-3 px-5 mb-4 mt-3"
                [routerLink]="['/main', 'admin-dashboard', 'user-role']"> Create </button>

            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="v-pills-resource" role="tabpanel" aria-labelledby="v-pills-resource-tab">
          <div class="user__permission">
            <table class="table table-borderless client-table">
              <thead>
                <tr>
                  <th scope="col" class="head ">PERMISSION
                  </th>
                  <th scope="col"> Access </th>
                  <th scope="col"> Modify </th>
                  <th scope="col"> Delete </th>
                </tr>
              </thead>
              <tbody>
                <tr class="pb-2">
                  <td scope="row" class="user rounded-left">
                    Employee
                  </td>
                  <td class="">
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" id="customCheck1">
                      <label class="custom-control-label " for="customCheck1"></label>
                    </div>
                  </td>
                  <td class="">
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" id="customCheck2">
                      <label class="custom-control-label " for="customCheck2"></label>
                    </div>
                  </td>
                  <td class="">
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" id="customCheck3">
                      <label class="custom-control-label " for="customCheck3"></label>
                    </div>
                  </td>


                </tr>
                <tr class="pb-2">
                  <td scope="row" class="user rounded-left">
                    Loan
                  </td>
                  <td class="">
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" id="customCheck1">
                      <label class="custom-control-label " for="customCheck1"></label>
                    </div>
                  </td>
                  <td class="">
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" id="customCheck2">
                      <label class="custom-control-label " for="customCheck2"></label>
                    </div>
                  </td>
                  <td class="">
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" id="customCheck3">
                      <label class="custom-control-label " for="customCheck3"></label>
                    </div>
                  </td>


                </tr>





                <tr class="pb-2">
                  <td scope="row" class="user rounded-left">
                    Loan
                  </td>
                  <td class="">
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" id="customCheckPlan">
                      <label class="custom-control-label " for="customCheckPlan"></label>
                    </div>
                  </td>
                  <td class="">
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" id="customCheckPlan2">
                      <label class="custom-control-label " for="customCheckPlan2"></label>
                    </div>
                  </td>


                  <td class="rounded-right action">
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" id="customCheckPlan4">
                      <label class="custom-control-label " for="customCheckPlan4"></label>
                    </div>
                  </td>
                </tr>






              </tbody>
            </table>

            <div class="d-flex justify-content-center align-items-center">
              <button class="btn btn-outline-orange mx-2 mx-lg-3 px-5 mb-4 mt-3"> Cancel </button>
              <button class="btn btn-orange-two mx-2 mx-lg-3 px-5 mb-4 mt-3"
                [routerLink]="['/main', 'admin-dashboard', 'user-role']"> Create </button>

            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="v-pills-finance" role="tabpanel" aria-labelledby="v-pills-finance-tab">
          <div class="user__permission">
            <table class="table table-borderless client-table">
              <thead>
                <tr>
                  <th scope="col" class="head ">PERMISSION
                  </th>
                  <th scope="col"> Access </th>
                  <th scope="col"> Modify </th>
                  <th scope="col"> Delete </th>
                </tr>
              </thead>
              <tbody>


                <tr class="pb-2">
                  <td scope="row" class="user rounded-left">
                    Fee Component
                  </td>
                  <td class="">
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" id="customCheck1">
                      <label class="custom-control-label " for="customCheck1"></label>
                    </div>
                  </td>
                  <td class="">
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" id="customCheck2">
                      <label class="custom-control-label " for="customCheck2"></label>
                    </div>
                  </td>
                  <td class="">
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" id="customCheck3">
                      <label class="custom-control-label " for="customCheck3"></label>
                    </div>
                  </td>


                </tr>
                <tr class="pb-2">
                  <td scope="row" class="user rounded-left">
                    Fee
                  </td>
                  <td class="">
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" id="customCheck1">
                      <label class="custom-control-label " for="customCheck1"></label>
                    </div>
                  </td>
                  <td class="">
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" id="customCheck2">
                      <label class="custom-control-label " for="customCheck2"></label>
                    </div>
                  </td>
                  <td class="">
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" id="customCheck3">
                      <label class="custom-control-label " for="customCheck3"></label>
                    </div>
                  </td>


                </tr>
                <tr class="pb-2">
                  <td scope="row" class="user rounded-left">
                    Payroll Accounts
                  </td>
                  <td class="">
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" id="customCheck1">
                      <label class="custom-control-label " for="customCheck1"></label>
                    </div>
                  </td>
                  <td class="">
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" id="customCheck2">
                      <label class="custom-control-label " for="customCheck2"></label>
                    </div>
                  </td>
                  <td class="">
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" id="customCheck3">
                      <label class="custom-control-label " for="customCheck3"></label>
                    </div>
                  </td>


                </tr>
                <tr class="pb-2">
                  <td scope="row" class="user rounded-left">
                    Vendor
                  </td>
                  <td class="">
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" id="customCheck1">
                      <label class="custom-control-label " for="customCheck1"></label>
                    </div>
                  </td>
                  <td class="">
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" id="customCheck2">
                      <label class="custom-control-label " for="customCheck2"></label>
                    </div>
                  </td>
                  <td class="">
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" id="customCheck3">
                      <label class="custom-control-label " for="customCheck3"></label>
                    </div>
                  </td>


                </tr>
                <tr class="pb-2">
                  <td scope="row" class="user rounded-left">
                    Chart of Account
                  </td>
                  <td class="">
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" id="customCheck1">
                      <label class="custom-control-label " for="customCheck1"></label>
                    </div>
                  </td>
                  <td class="">
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" id="customCheck2">
                      <label class="custom-control-label " for="customCheck2"></label>
                    </div>
                  </td>
                  <td class="">
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" id="customCheck3">
                      <label class="custom-control-label " for="customCheck3"></label>
                    </div>
                  </td>


                </tr>
                <tr class="pb-2">
                  <td scope="row" class="user rounded-left">
                    Discount
                  </td>
                  <td class="">
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" id="customCheck1">
                      <label class="custom-control-label " for="customCheck1"></label>
                    </div>
                  </td>
                  <td class="">
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" id="customCheck2">
                      <label class="custom-control-label " for="customCheck2"></label>
                    </div>
                  </td>
                  <td class="">
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" id="customCheck3">
                      <label class="custom-control-label " for="customCheck3"></label>
                    </div>
                  </td>


                </tr>
                <tr class="pb-2">
                  <td scope="row" class="user rounded-left">
                    Bank Accounts
                  </td>
                  <td class="">
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" id="customCheck1">
                      <label class="custom-control-label " for="customCheck1"></label>
                    </div>
                  </td>
                  <td class="">
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" id="customCheck2">
                      <label class="custom-control-label " for="customCheck2"></label>
                    </div>
                  </td>
                  <td class="">
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" id="customCheck3">
                      <label class="custom-control-label " for="customCheck3"></label>
                    </div>
                  </td>


                </tr>
                <tr class="pb-2">
                  <td scope="row" class="user rounded-left">
                    Fee Types
                  </td>
                  <td class="">
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" id="customCheck1">
                      <label class="custom-control-label " for="customCheck1"></label>
                    </div>
                  </td>
                  <td class="">
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" id="customCheck2">
                      <label class="custom-control-label " for="customCheck2"></label>
                    </div>
                  </td>
                  <td class="">
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" id="customCheck3">
                      <label class="custom-control-label " for="customCheck3"></label>
                    </div>
                  </td>


                </tr>



                <tr class="pb-2">
                  <td scope="row" class="user rounded-left">
                    Account Mapping
                  </td>
                  <td class="">
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" id="customCheckPlan">
                      <label class="custom-control-label " for="customCheckPlan"></label>
                    </div>
                  </td>
                  <td class="">
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" id="customCheckPlan2">
                      <label class="custom-control-label " for="customCheckPlan2"></label>
                    </div>
                  </td>


                  <td class="rounded-right action">
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" id="customCheckPlan4">
                      <label class="custom-control-label " for="customCheckPlan4"></label>
                    </div>
                  </td>
                </tr>






              </tbody>
            </table>

            <div class="d-flex justify-content-center align-items-center">
              <button class="btn btn-outline-orange mx-2 mx-lg-3 px-5 mb-4 mt-3"> Cancel </button>
              <button class="btn btn-orange-two mx-2 mx-lg-3 px-5 mb-4 mt-3"
                [routerLink]="['/main', 'admin-dashboard', 'user-role']"> Next </button>

            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="v-pills-finance2" role="tabpanel" aria-labelledby="v-pills-finance2-tab">
            <div class="user__permission">
                <table class="table table-borderless client-table">
                  <thead>
                    <tr>
                      <th scope="col" class="head ">PERMISSION
                      </th>
                      <th scope="col"> Access </th>
                      <th scope="col"> Modify </th>
                      <th scope="col"> Delete </th>
                    </tr>
                  </thead>
                  <tbody>
    
    
                    <tr class="pb-2">
                      <td scope="row" class="user rounded-left">
                        Run Payroll
                      </td>
                      <td class="">
                        <div class="custom-control custom-checkbox">
                          <input type="checkbox" class="custom-control-input" id="customCheck1">
                          <label class="custom-control-label " for="customCheck1"></label>
                        </div>
                      </td>
                      <td class="">
                        <div class="custom-control custom-checkbox">
                          <input type="checkbox" class="custom-control-input" id="customCheck2">
                          <label class="custom-control-label " for="customCheck2"></label>
                        </div>
                      </td>
                      <td class="">
                        <div class="custom-control custom-checkbox">
                          <input type="checkbox" class="custom-control-input" id="customCheck3">
                          <label class="custom-control-label " for="customCheck3"></label>
                        </div>
                      </td>
    
    
                    </tr>
                    <tr class="pb-2">
                      <td scope="row" class="user rounded-left">
                        Payroll
                      </td>
                      <td class="">
                        <div class="custom-control custom-checkbox">
                          <input type="checkbox" class="custom-control-input" id="customCheck1">
                          <label class="custom-control-label " for="customCheck1"></label>
                        </div>
                      </td>
                      <td class="">
                        <div class="custom-control custom-checkbox">
                          <input type="checkbox" class="custom-control-input" id="customCheck2">
                          <label class="custom-control-label " for="customCheck2"></label>
                        </div>
                      </td>
                      <td class="">
                        <div class="custom-control custom-checkbox">
                          <input type="checkbox" class="custom-control-input" id="customCheck3">
                          <label class="custom-control-label " for="customCheck3"></label>
                        </div>
                      </td>
    
    
                    </tr>
                    <tr class="pb-2">
                      <td scope="row" class="user rounded-left">
                        Journal
                      </td>
                      <td class="">
                        <div class="custom-control custom-checkbox">
                          <input type="checkbox" class="custom-control-input" id="customCheck1">
                          <label class="custom-control-label " for="customCheck1"></label>
                        </div>
                      </td>
                      <td class="">
                        <div class="custom-control custom-checkbox">
                          <input type="checkbox" class="custom-control-input" id="customCheck2">
                          <label class="custom-control-label " for="customCheck2"></label>
                        </div>
                      </td>
                      <td class="">
                        <div class="custom-control custom-checkbox">
                          <input type="checkbox" class="custom-control-input" id="customCheck3">
                          <label class="custom-control-label " for="customCheck3"></label>
                        </div>
                      </td>
    
    
                    </tr>
                    <tr class="pb-2">
                      <td scope="row" class="user rounded-left">
                        Billing
                      </td>
                      <td class="">
                        <div class="custom-control custom-checkbox">
                          <input type="checkbox" class="custom-control-input" id="customCheck1">
                          <label class="custom-control-label " for="customCheck1"></label>
                        </div>
                      </td>
                      <td class="">
                        <div class="custom-control custom-checkbox">
                          <input type="checkbox" class="custom-control-input" id="customCheck2">
                          <label class="custom-control-label " for="customCheck2"></label>
                        </div>
                      </td>
                      <td class="">
                        <div class="custom-control custom-checkbox">
                          <input type="checkbox" class="custom-control-input" id="customCheck3">
                          <label class="custom-control-label " for="customCheck3"></label>
                        </div>
                      </td>
    
    
                    </tr>
                    <tr class="pb-2">
                      <td scope="row" class="user rounded-left">
                        Expenses
                      </td>
                      <td class="">
                        <div class="custom-control custom-checkbox">
                          <input type="checkbox" class="custom-control-input" id="customCheck1">
                          <label class="custom-control-label " for="customCheck1"></label>
                        </div>
                      </td>
                      <td class="">
                        <div class="custom-control custom-checkbox">
                          <input type="checkbox" class="custom-control-input" id="customCheck2">
                          <label class="custom-control-label " for="customCheck2"></label>
                        </div>
                      </td>
                      <td class="">
                        <div class="custom-control custom-checkbox">
                          <input type="checkbox" class="custom-control-input" id="customCheck3">
                          <label class="custom-control-label " for="customCheck3"></label>
                        </div>
                      </td>
    
    
                    </tr>
                    <tr class="pb-2">
                      <td scope="row" class="user rounded-left">
                        Transaction
                      </td>
                      <td class="">
                        <div class="custom-control custom-checkbox">
                          <input type="checkbox" class="custom-control-input" id="customCheck1">
                          <label class="custom-control-label " for="customCheck1"></label>
                        </div>
                      </td>
                      <td class="">
                        <div class="custom-control custom-checkbox">
                          <input type="checkbox" class="custom-control-input" id="customCheck2">
                          <label class="custom-control-label " for="customCheck2"></label>
                        </div>
                      </td>
                      <td class="">
                        <div class="custom-control custom-checkbox">
                          <input type="checkbox" class="custom-control-input" id="customCheck3">
                          <label class="custom-control-label " for="customCheck3"></label>
                        </div>
                      </td>
    
    
                    </tr>
                    
    
    
    
                    <tr class="pb-2">
                      <td scope="row" class="user rounded-left">
                        Fund Transfer
                      </td>
                      <td class="">
                        <div class="custom-control custom-checkbox">
                          <input type="checkbox" class="custom-control-input" id="customCheckPlan">
                          <label class="custom-control-label " for="customCheckPlan"></label>
                        </div>
                      </td>
                      <td class="">
                        <div class="custom-control custom-checkbox">
                          <input type="checkbox" class="custom-control-input" id="customCheckPlan2">
                          <label class="custom-control-label " for="customCheckPlan2"></label>
                        </div>
                      </td>
    
    
                      <td class="rounded-right action">
                        <div class="custom-control custom-checkbox">
                          <input type="checkbox" class="custom-control-input" id="customCheckPlan4">
                          <label class="custom-control-label " for="customCheckPlan4"></label>
                        </div>
                      </td>
                    </tr>
    
    
    
    
    
    
                  </tbody>
                </table>
    
                <div class="d-flex justify-content-center align-items-center">
                  <button class="btn btn-outline-orange mx-2 mx-lg-3 px-5 mb-4 mt-3"> Cancel </button>
                  <button class="btn btn-orange-two mx-2 mx-lg-3 px-5 mb-4 mt-3"
                    [routerLink]="['/main', 'admin-dashboard', 'user-role']"> Next </button>
    
                </div>
              </div>
        </div>
        <div class="tab-pane fade" id="v-pills-library" role="tabpanel" aria-labelledby="v-pills-library-tab">...</div>
        <div class="tab-pane fade" id="v-pills-facility" role="tabpanel" aria-labelledby="v-pills-facility-tab">...
        </div>
        <div class="tab-pane fade" id="v-pills-report" role="tabpanel" aria-labelledby="v-pills-report-tab">...</div>
        <div class="tab-pane fade" id="v-pills-enrollment" role="tabpanel" aria-labelledby="v-pills-enrollment-tab">...
        </div>
      </div>


    </div>
  </div>
</div>