.breadcrumb {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0.75rem 0;
  margin-bottom: 1rem;
  list-style: none;
  background-color: transparent;
  border-radius: 0.25rem;
  cursor: pointer;
}

a {
  color: #1b5bac;
  font-weight: normal;
  cursor: pointer;
}

.breadcrumb-item + .breadcrumb-item::before {
  display: inline-block;
  padding-right: 0.5rem;
  color: #1b5bac;
  content: ">";
  font-size: 10px;
  display: none;
}

.user__select {
  display: flex;
  justify-content: space-between;
}

input[type="text"] {
  width: 125%;
}

/* ================= table ====================== */
table {
}

table.client-table {
  border-collapse: separate;
  border-spacing: 0 1em;
}

.user__permission .table thead {
  color: #4c75bd;
  background: transparent;
}

.user__permission .table thead tr th {
  font-weight: 600;
  padding-bottom: 0;
}

.user__permission .table thead .head {
  /* display: flex;
      align-items: center;
      color: #0a1128;
      font-weight: 600; */
  padding-left: 0rem;
  text-transform: uppercase;
}

.user__permission .table tbody {
  background: #ffffff;
}

.user__permission .table tbody .user {
  display: flex;
  align-items: center;
  color: #0a1128;
  font-weight: 600;
  /* padding-left: 3.5rem; */
  position: relative;
  opacity: none;
}

.user__permission .table tbody .user span {
  position: absolute;
  bottom: 20px;
  left: 15px;
}

.user__permission .table tbody .user div p,
h6 {
  margin-bottom: 0.1rem;
}

.user__permission .table tbody .user div h6 {
  color: #355691;
  font-size: 14px;
}

.user__permission .table tbody .user div p {
  color: #0a1128;
  font-size: 14px;
}

.user__permission .table tbody tr {
  background: #ffffff;
  box-shadow: 10px 10px 30px rgba(211, 220, 231, 0.4);
  border-radius: 5px;
}

table tr,
td {
  padding: 20px;
  color: #355691;
  font-weight: 600;
}

.btn-orange-two {
  background: #04aed4;
  border-radius: 5px;
  height: 44px;
  font-family: Nunito;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  color: #ffffff;
}

.btn-outline-orange {
  border: 1px solid #04aed4;
  box-sizing: border-box;
  border-radius: 5px;
  height: 44px;
  font-family: Nunito;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: #04aed4;
}

.nav-link {
  padding: 0.5rem 0.5rem;
}
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #000000;
  font-weight: 600;
  background: transparent;
  border-radius: 0;
  padding: 7px 5px;
  /* font-size: 13px; */
  font-family: nunito;
}

.nav-link.active::after {
  content: "";
  border-bottom: 3px solid #04aed4;
  width: 30%;
  display: block;
}
.nav-pills .nav-link,
.nav-pills .show > .nav-link {
  color: #a4a5a8;
  /* font-size: 13px; */
}

.tab-controller {
  position: fixed;
  margin-right: 123px;
}
