    <div class="school-details">
    
        <form [formGroup]="schooldetailsForm" >
            <div class="form-row my-5 ">
                <div class=" ">
                    <label for="domain" class="fw-6">Country <span class="text-danger">*</span> </label>
                    <select class="form-control form-control-lg" formControlName="Country" (change)="getState($event.target.value)"  >
                        <option value="" selected>Select Country</option>
                        <option [value]="country.country" *ngFor = "let country of countries">{{country?.country}}</option>
                    </select>
                </div>
                <div class=" ">
                    <label for="address" class="fw-6">Address <span>*</span> </label>
                    <input type="text" 
                    class="form-control form-control-lg" 
                    id="domain" 
                    placeholder="Enter school address"
                    formControlName="Address">
                </div>
                
         
            </div>
        
            <div class="form-row my-5 ">
        
                <div class=" ">
                    <label for="domain" class="fw-6">State</label>
                    <select class="form-control form-control-lg" formControlName="State">
                        <option value="" selected>Select state</option>
                        <option [value]="" *ngFor="let unit of states" >{{unit}}</option>
                    </select>
                </div>
                <div class=" ">
                    <label for="town" class="fw-6">City/Town</label>
                    <input type="text" 
                    class="form-control form-control-lg" 
                    id="town" 
                    placeholder="Enter Domain Name"
                    formControlName="City">
                </div>
        
            </div>
        </form>
    
        <div class=" d-flex justify-content-center mb-5">
            <button class="btn btn-outline-orange mx-2 mx-lg-3 px-5 mb-4 mt-3" (click)='prevStep() ' > Back </button>
            <button class="btn btn-orange-two mx-2 mx-lg-3 px-5 mb-4 mt-3" (click)='nextStep() ' [disabled]="schooldetailsForm.invalid"> Next </button>
    
        </div>
    </div>
