<section class="add-employee" *ngIf="employeeList?.length === 0" >
    <img src="assets/images/svg/add-student.svg" alt="new employee" class="">
    <p class="text-center fw-6 pt-5">It looks like you are yet to create an employee.You can do <br> that by clicking any of the buttons below.
        below.</p>
    <button class="btn btn-orange-two mx-2 mx-lg-3 px-5 mb-4 mt-3" [routerLink]="['/school/add-employee']">
        Add New </button>
    <button class="btn btn-outline-orange  mx-2 mx-lg-3" data-toggle="modal"
        data-target="#exampleModalCenterUpload">Bulk
        Upload</button>
</section>



<section class="banner mb-4 pb-3" *ngIf="employeeList?.length !== 0">
    <div class="pt-5 pl-3 content ">
        <h6 class="banner__text-primary fw-6 "> Employees </h6>
        <p class=""> Directory of all registered employees </p>
    </div>
    <div class="d-flex">
                    <button class="btn btn-outline-orange mx-2 mx-lg-3 px-5 mb-4 mt-3" data-toggle="modal"
            data-target="#exampleModalCenterUpload"> Bulk Upload </button>
        <button class="btn btn-orange-two mx-2 mx-lg-3 px-5 mb-4 mt-3" routerLink="/school/add-employee"> Add New </button>
    </div>

</section>

<section class="d-flex align-items-center justify-content-between mb-4 mt-5" *ngIf="employeeList?.length !== 0">
    <div class="search__input has-search">
        <span class="fa fa-search form-control-feedback"></span>
        <input type="text" class="form-control" placeholder="Search" [(ngModel)]="searchString">
    </div>
    <button class="btn btn-outline-orange mx-2 mx-lg-3 px-5 mb-4 mt-3"> Bulk Actions </button>

</section>




<section class="list" *ngIf="employeeList?.length !== 0">
    <table class="table table-borderless client-table">
        <thead>
            <tr>
                <th scope="col" class="head ">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="customCheckTh">
                        <label class="custom-control-label" for="customCheckTh"></label>
                    </div>
                </th>
                <th scope="col" >Full Name <img src="assets/images/svg/table-sort.svg"
                        alt="table sort icon" class="dropdown-toggle" type="button" id="dropdownMenuButton"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <!-- ================ DROPDOWN ==================== -->
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item fc-orange" href="#">All </a>
                        <a class="dropdown-item" href="#">A - Z </a>
                        <a class="dropdown-item" href="#">Z - A </a>
                    </div>
                </th>
                <th scope="col">Staff Number <img src="assets/images/svg/table-sort.svg" alt="table sort icon"></th>
                <th scope="col">Phone Number </th>
                <th scope="col">Email </th>
                <th scope="col">Status <img src="assets/images/svg/table-sort.svg" alt="table sort icon"
                        class="dropdown-toggle" type="button" id="dropdownMenuButton4" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                    <!-- ================ DROPDOWN ==================== -->
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton4">
                        
                        <a class="dropdown-item fc-orange" href="#">All </a>
                        <a class="dropdown-item" href="#">Active </a>
                        <a class="dropdown-item" href="#">Inactive </a>
                    </div>
                </th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr class="pb-1" *ngFor="let staff of employeeList | tableSearch : 'firstName' : searchString">
                <td scope="row" class="check rounded-left">
                    <div class="custom-control custom-checkbox" >
                        <input type="checkbox" class="custom-control-input" id="customCheck1">
                        <label class="custom-control-label" for="customCheck1"></label>
                    </div>
                </td>
                <td class="user" >
                    
                    <div class="d-flex align-items-center">
                        <img src="assets/images/svg/user-image.svg" alt="schools log" class="mr-3">
                        <h6 class="fw-6 mb-0" >{{staff?.firstName}} {{staff?.lastName}} </h6>
                    </div>
                </td>
                <td>AMI/ST/2020/001</td>
                <td>{{staff.phoneNumber}}</td>
                <td>{{staff?.email}}</td>
                
                <td><span class="status_active">Active</span></td>
                <td class="rounded-right "><img src="assets/images/svg/more-action.svg"
                        alt="schools log" class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#" routerLink="/school/employee-detail/{{staff?.id}}">View</a>
                            <a class="dropdown-item" href="#">Deactivate</a>
                          </div>
                     </td>
            </tr>

           


        </tbody>
    </table>

</section>



  <!-- Bulk uplaod Modal -->
  <div class="modal fade" id="exampleModalCenterUpload" tabindex="-1" role="dialog"
  aria-labelledby="exampleModalCenterUploadTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-length" style="max-width: 45%;" role="document">
      <div class="modal-content">

          <div class="modal-head ">
              <div class="d-flex justify-content-between mb-3">
                  <h6 class="modal-title mr-auto">Upload Files</h6>
                  <img src="assets/images/svg/close-modal.svg" alt="modal close button" data-dismiss="modal" aria-label="Close" class="close">

              </div>
              
          </div>
          <div class="modal-body client-modal">
              <form>
                  <div class="form-group file-upload mt-4 mb-3">
                      <label for="fileupload">Drag files to upload or click</label>
                      <input type="file" class="file-input" id="fileupload">
                      <button type="button " class="btn-upload  mb-3 ">Upload Files </button>
                      <p class="caption">You can import up to 5000 records through an .xls, .xlsx, .vcf, or .csv
                          file. To import
                          more than 5000 records at a time, use a .csv file.</p>
                  </div>

                  <p class="mb-5 download">Click <span class="fc-lblue">here</span> to download sample file</p>

                  <div class="modal-btn d-flex justify-content-end mb-5">
                      <button class="btn btn-outline-orange  px-5 mb-4 mt-3 mr-3" data-dismiss="modal"> Cancel </button>
                      <button class="btn btn-orange-two  px-5 mb-4 mt-3"> Add New </button>
                  </div>

              </form>
          </div>

      </div>
  </div>
</div>

<!-- end of Bulk uplaod modal -->
