<div class="row ml-3 ">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb" (click) = "back()">
        <img src="assets/images/svg/breadcrumb.svg" class="mr-3" alt="..." />
        <li class="breadcrumb-item a1 " aria-current="page">
            <a>Back</a>
        </li>


    </ol>


</nav>
  <div class="col-md-12 mb-3">
    <div class=" bg-white p-3  ">

      <div class="event-banner bg-white ">
        <img src="assets/images/svg/event-banner.png" alt="" class="br-8 banner-image">
      </div>
    </div>
  </div>

  <div class="col-md-12">
    <div class="row">
      <div class="col-md-8">
        <div class="row">
          <div class="col-md-12 mb-3">
            <div class="bg-white p-3 br-8">
              <p class="fw-6">About Event</p>

              <p class="mb-0 fs-5 event-detail"> {{eventDetails?.description}} </p>

              <p class="fw-6 my-3">Tags</p>
              <span class="badge tags fw-4 mr-2 badge-light px-3 py-2 br-8 fs-5">
                admission
              </span>
              <span class="badge tags fw-4 mr-2 badge-light px-3 py-2 br-8 fs-5">
                agm
              </span>
              <span class="badge tags fw-4 mr-2 badge-light px-3 py-2 br-8 fs-5">
                agm
              </span>
              <span class="badge tags fw-4 mr-2 badge-light px-3 py-2 br-8 fs-5">
                airhub
              </span>

            </div>
          </div>

          <!-- <div class="col-md-12 mb-3">
            <div class="bg-white br-8 p-3">
              <p class="fw-6">Host</p>
              <div class="d-flex justify-content-between align-items-center">
                <img src="assets/images/svg/host.jpg" alt="" class="host-avatar mr-3">
                <div>
                  <p class="fw-6 mb-0">Mfonobong Bella Umodia</p>
                  <p class="mb-0 fw-4 card-course mb-1">Mechanical Engineering, 2018</p>
                  <p class="mb-0 fw-4 fs-13 pb-2 ">Product Designer at Software Business Solutions Consulting (SBSC)</p>
                  <div class="d-flex align-items-center">
                    <span class="mr-3">
                      <svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#clip0)">
                          <path
                            d="M6.31579 7.93753C8.17347 7.93753 9.68421 6.42679 9.68421 4.5691C9.68421 2.71142 8.17347 1.20068 6.31579 1.20068C4.45811 1.20068 2.94737 2.71142 2.94737 4.5691C2.94737 6.42679 4.45811 7.93753 6.31579 7.93753ZM7.57895 8.77963H5.05263C2.26611 8.77963 0 11.0457 0 13.8323V14.6744H12.6316V13.8323C12.6316 11.0457 10.3655 8.77963 7.57895 8.77963Z"
                            fill="#2D3A4F" />
                          <path
                            d="M12.2985 7.13579C12.8114 6.26176 13.0329 5.24721 12.9309 4.23895C12.7802 2.73663 11.9415 1.40863 10.5705 0.5L9.64 1.90295C10.5823 2.52779 11.1558 3.4179 11.2552 4.40737C11.301 4.86724 11.2437 5.33154 11.0876 5.76651C10.9314 6.20148 10.6803 6.59617 10.3524 6.92189L9.34863 7.92568L10.7112 8.32569C14.2749 9.3699 14.3162 12.9539 14.3162 12.9901H16.0004C16.0004 11.4836 15.1954 8.53958 12.2985 7.13579Z"
                            fill="#2D3A4F" />
                        </g>
                        <defs>
                          <clipPath id="clip0">
                            <rect width="16" height="16" fill="white" transform="translate(0 0.5)" />
                          </clipPath>
                        </defs>
                      </svg>
                    </span>
                    <p class="mb-0 fs-13 fw-4 card-count">88 Mutual Circle</p>

                  </div>
                </div>

                <button class="btn btn-alumni w-25 ">
                  Message
                </button>
                <img src="assets/images/svg/more-action.svg" alt="">
              </div>
            </div>
          </div> -->
        </div>
      </div>
      <!-- <div class="col-md-4">
        <div class="row">
          <div class="col-md-12 mb-4">
            <div class="bg-white br-8 alumni__card-content px-3 pb-3 pt-3">
              <p class="mb-0 fw-7 card-name pb-1">THU, JAN 28 -JAN 29</p>
              <p class="mb-0 fw-7 card-name cursor-pointer" routerLink="/school/alumni/event-detail"
                routerLinkActive="active">Microsoft Excel and Data Analysis Office Hour</p>
              <p class="mb-0 fw-4 my-2 card-course">Mfonobong Bella Umodia</p>

              <div class="d-flex justify-content-between align-items-center mt-4  ">
                <button class="btn btn-alumni w-75">
                  Interested
                </button>
                <button class="btn btn-share ">
                  Int
                </button>
              </div>
            </div>
          </div>

          <div class="col-md-12 mb-4">
            <div class="bg-white br-8 p-3">
              <p class="fw-6">Host</p>

              <p class="mb-0 fw-7 card-name pb-1">THU, JAN 28 -JAN 29</p>
              <p class="mb-0 fw-7 card-name cursor-pointer" routerLink="/school/alumni/event-detail"
                routerLinkActive="active">Microsoft Excel and Data Analysis Office Hour</p>
              <p class="mb-0 fw-4 my-2 card-course">Mfonobong Bella Umodia</p>

              <div class="d-flex justify-content-between align-items-center mt-4  ">
                <button class="btn btn-alumni w-75">
                  Interested
                </button>
                <button class="btn btn-share ">
                  Int
                </button>
              </div>
            </div>
          </div>

         
        </div>

      </div> -->
    </div>
  </div>

</div>
