.breadcrumb {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0.75rem 0;
  margin-bottom: 1rem;
  list-style: none;
  background-color: transparent;
  border-radius: 0.25rem;
  cursor: pointer;
}

a {
  color: #1b5bac;
  font-weight: normal;
  cursor: pointer;
}

.breadcrumb-item + .breadcrumb-item::before {
  display: inline-block;
  padding-right: 0.5rem;
  color: #1b5bac;
  content: ">";
  font-size: 10px;
  display: none;
}

.activated {
  display: flex;
  justify-content: space-between;
  background: #fff;
  /* background: rgba(235, 240, 245, 0.1); */

  /* border: 1px solid #d3dde9; */
  box-sizing: border-box;
  border-radius: 10px;
  padding: 1rem 1.8rem;
  /* opacity: 0.5; */
  backdrop-filter: opacity(0.9);
}

.image-rounded {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
}

.thumb-logo {
  width: 90px;
  height: 50px;
}

.icon-logo {
  width: 50px;
  height: 50px;
}
.activated__image {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.activated__image p {
  margin-bottom: 0;
}

.activated__title {
  color: #355691;
}

.custom-control-label::before {
  background: #09b78a;
}

.custom-control-label::after {
  background: #ffffff;
}

.activated__code,
.active {
  color: #0a1128;
  opacity: 0.4;
}

.activated__date {
  display: flex;
  flex-direction: column;
}

.activated__date .activated__date-switch {
  display: flex;
}

.activated__date .activated__date-title {
  color: #0a1128;
  opacity: 0.7;
  font-size: 16px;
}

.cards,
.contact {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  justify-content: space-between;
}

.cards > div,
.contact > div {
  padding: 2rem 1.5rem 1rem;
  border: 1px solid #d3dde9;
  border-radius: 10px;
  background: #fff;
}

.cards .cards__profile {
  background: #fff;
  /* opacity: 0.5;  */
  /* backdrop-filter: opacity(.9); */
}

.cards__profile .cards__profile-info .line {
  position: relative;
  width: 80%;
}

.cards__profile .cards__profile-info,
.cards__plan .cards__plan-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cards__profile .cards__profile-info h6 {
  color: #0a1128;
  font-weight: 600;
  font-size: 18px;
}

.cards__profile .cards__profile-info .line::before {
  content: "";
  position: absolute;
  width: 80%;
  height: 2px;
  background: #04aed4;
  left: 0;
  bottom: -6px;
}

.cards__profile .cards__profile-info .line::after {
  content: "";
  position: absolute;
  width: 110%;
  height: 2px;
  background: rgba(251, 136, 44, 0.3);
  left: 0;
  bottom: -6px;
}

.card__profile-link {
  display: flex;
  width: 100%;
}

.link {
  width: 60%;
  word-break: break-all;
}

.link p:not(:last-child) {
  color: #0a1128;
  opacity: 0.4;
  margin-bottom: 0.5rem;
}

.link p:last-child {
  color: #0a1128;
}

.cards .cards__plan {
  background: #dde6ee;
  border-radius: 10px;
}

.cards__plan .cards__plan-chart {
  display: flex;
  justify-content: center;
}

.chart-keys {
  background: rgba(10, 17, 40, 0.1);
  /* opacity: 0.1; */
  border-radius: 10px;
}

.chart-keys {
  padding: 0.5rem 1rem;
  margin-left: 4rem;
}

.chart-keys div {
  display: flex;
  padding: 0.2rem 1rem;
}

.stats {
  display: flex;
  flex-direction: column;
}

.stats p {
  margin-bottom: 0.3rem;
}

.stats p:not(:last-child) {
  color: #0a1128;

  opacity: 0.6;
}

.stats p:last-child {
  color: #0a1128;
  font-size: 18px;
  font-weight: bold;
}

@media screen and (max-width: 900px) {
  .cards,
  .contact {
    display: grid;
    grid-template-columns: 1fr;
  }

  .activated__date {
    margin-right: 0 !important;
  }
}
