<div class="container-fluid">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb" (click)="back()">
      <img src="assets/images/svg/breadcrumb.svg" class="mr-3" alt="..." />
      <li class="breadcrumb-item a1 " aria-current="page" >
        <a class="fc-lblue">Back</a>
      </li>
      <!-- <li class="pl-3 fw-6">Descriptive Essay</li> -->
    </ol>


  </nav>


  <section class="search mt-5 mb-3">
    <div class="search__input has-search">
      <span class="fa fa-search form-control-feedback"></span>
      <input type="text" class="form-control" placeholder="Search">
    </div>

  </section>

  <div *ngIf="studentAssignmentList?.length === 0" class=" mh-100 bg-white d-flex flex-column justify-content-center align-items-center" style="height: 78vh"> 
    <img src="assets/images/svg/sad-face.svg" alt="table sort icon" class="mb-3">
    <p class="fw-6 cursor-pointer" (click)="back()">
    No assignment Submitted, click to go back
  </p></div>

  <section class="list" *ngIf="studentAssignmentList?.length >= 1">
    <table class="table table-borderless client-table">
      <thead>
        <tr>
          <th scope="col " class="head">
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="customCheck1">
              <label class="custom-control-label" for="customCheck1"></label>
            </div>
          </th>
          <th scope="col">Student Name <img src="assets/images/svg/table-sort.svg" alt="table sort icon"
              class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">


          </th>
          <th scope="col">Student Number <img src="assets/images/svg/table-sort.svg" alt="table sort icon">

          </th>
          <th scope="col">Class <img src="assets/images/svg/table-sort.svg" alt="table sort icon">

          </th>
          <th scope="col">Date <img src="assets/images/svg/table-sort.svg" alt="table sort icon">

          </th>
          <th scope="col"> Time <img src="assets/images/svg/table-sort.svg" alt="table sort icon"> </th>
          <th scope="col"> Status <img src="assets/images/svg/table-sort.svg" alt="table sort icon"
              class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">
            <!-- ================ DROPDOWN ==================== -->
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item filter-title" href="#">FILTER BY: STATUS</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item text-black " href="#">Submitted </a>
              <a class="dropdown-item text-black " href="#">Pending </a>
              <a class="dropdown-item text-black " href="#">Graded </a>
            </div>
          </th>

          <th scope="col"> </th>
          <th scope="col"> </th>

        </tr>
      </thead>
      <tbody>
        
        
        <tr class="pb-2" *ngFor="let assignment of studentAssignmentList">
          <td scope="row" class="school-logo rounded-left">
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="customCheck1">
              <label class="custom-control-label" for="customCheck1"></label>
            </div>
          </td>
          <td class="">
            <div class="d-flex  align-items-center justify-content-start">
              <img src="assets/images/svg/assignment-owner.svg" alt="schools log" class="mr-3">
              <p class="mb-0">
                {{assignment?.studentName}}
              </p>
            </div>
          </td>
          <td> {{assignment?.studentNumber}} </td>
          <td> {{assignment?.className}} </td>
          <td>{{assignment?.date | date : 'd/M/yyyy' }}</td>
          <td> {{assignment?.date | date : "shortTime"}} </td>
          <!-- <td><span class="status_pending">Pending</span></td> -->
          <td><span class="status_graded" *ngIf="assignment?.score">Graded</span></td>
          <td><button class="grade" routerLink = "/teacher/grade-assignment/{{assignment?.id}}" [disabled]="assignment?.score">Grade</button></td>
          <td><img src="assets/images/svg/more-action.svg" alt="schools log"></td>

        </tr>

        <!-- <tr class="pb-2" >
          <td scope="row" class="school-logo rounded-left">
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="customCheck2">
              <label class="custom-control-label" for="customCheck2"></label>
            </div>
          </td>
          <td class="">
            <div class="d-flex align-items-center justify-content-start">
              <img src="assets/images/svg/assignment-owner.svg" alt="schools log" class="mr-3">
              <p class="mb-0">
                Miss Cynthia Godbless
              </p>
            </div>
          </td>
          <td>AMI/ST/2020/002</td>
          <td>Jss 3A</td>
          <td>17/03/2020</td>
          <td>08:12 AM</td>
          <td><span class="status_submitted">Submitted</span></td>
          <td><span class="grade" routerLink = "/teacher/grade-assignment">Grade</span></td>
          <td><img src="assets/images/svg/more-action.svg" alt="schools log"></td>

        </tr> -->


      </tbody>
    </table>

  </section>
</div>
