<section class="banner mb-4 pb-3">
  <div class="pt-5 pl-3 text-content ">
    <h6 class="banner__text-primary fw-6 "> Gradebook </h6>
    <p class=""> View and publish grades of students </p>
  </div>

</section>

<div class="bg-white mt-5 px-3 pb-3">
  <div class="d-flex justify-content-between align-items-center  mb-4">
    <div>
      <form>
        <div class="row">
          <div class="col ">
            <label for="level" class="fs-12 fw-6">Session</label>
            <select name="" id="" class="form-control form-control-lg">
              <option value="">Select session</option>

              <!-- <option [value]="section?.id" *ngFor="let section of sections">{{section?.name}} </option> -->
            </select>
          </div>
          <div class="col ">
            <label for="class" class="fs-12 fw-6">Term</label>
            <select name="" id="" class="form-control form-control-lg">
              <option value="">Select term</option>
              <!-- <option [value]="class?.id" *ngFor="let class of classes">{{class?.name}}{{class?.classGroup}} </option> -->

            </select>
          </div>
          <div class="col ">
            <label for="class" class="fs-12 fw-6">Level</label>
            <select name="" id="" class="form-control form-control-lg">
              <option value="">Select level</option>
              <!-- <option [value]="class?.id" *ngFor="let class of classes">{{class?.name}}{{class?.classGroup}} </option> -->

            </select>
          </div>
          <div class="col ">
            <label for="class" class="fs-12 fw-6">Class</label>
            <select name="" id="" class="form-control form-control-lg">
              <option value="">Select class</option>
              <!-- <option [value]="class?.id" *ngFor="let class of classes">{{class?.name}}{{class?.classGroup}} </option> -->

            </select>
          </div>
        </div>
      </form>
    </div>


  </div>

  <table class="table">
    <thead>
      <tr>
        <th class="w-25"></th>
        <th class="vertical-header"><span>English Language</span></th>
        <th class="vertical-header"><span>Mathematics</span></th>
        <th class="vertical-header"><span>Intro technology</span></th>
        <th class="vertical-header"><span>Social Science</span></th>
        <th class="vertical-header"><span>Home Economcis</span></th>
        <th class="vertical-header"><span>Business Studies</span></th>
        <th class="vertical-header"><span>French Language</span></th>
        <th class="vertical-header"><span>French Language</span></th>
        <th class="vertical-header"><span>French Language</span></th>
        <th class="vertical-header"><span>French Language</span></th>
        <th class="vertical-header"><span>French Language</span></th>
        <th class="vertical-header"><span>French Language</span></th>
        <th class="vertical-header"><span>French Language</span></th>
        <th class="vertical-header"><span>Total Score Obtained</span></th>
        <th class="vertical-header"><span>Average Score</span></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="d-flex justify-content-between dropright align-items-center border-bottom border-top">
          <div class="d-flex text-left">
            <img src="assets/images/svg/teacher-grade.svg" alt="new client" class="mr-3">
            <div class="student-info">
              <p class="mb-0 cursor-pointer" routerLink = "/school/student-sheet">Miss Cynthia Godbless</p>
            </div>
          </div>



        </td>

        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
      </tr>
      <tr>
        <td class="d-flex justify-content-between dropright align-items-center border-bottom border-top">
          <div class="d-flex text-left">
            <img src="assets/images/svg/teacher-grade.svg" alt="new client" class="mr-3">
            <div class="student-info">
              <p class="mb-0 cursor-pointer">Miss Cynthia Godbless</p>
            </div>
          </div>



        </td>

        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
      </tr>
      <tr>
        <td class="d-flex justify-content-between dropright align-items-center border-bottom border-top">
          <div class="d-flex text-left">
            <img src="assets/images/svg/teacher-grade.svg" alt="new client" class="mr-3">
            <div class="student-info">
              <p class="mb-0 cursor-pointer">Miss Cynthia Godbless</p>
            </div>
          </div>



        </td>

        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
      </tr>
      <tr>
        <td class="d-flex justify-content-between dropright align-items-center border-bottom border-top">
          <div class="d-flex text-left">
            <img src="assets/images/svg/teacher-grade.svg" alt="new client" class="mr-3">
            <div class="student-info">
              <p class="mb-0 cursor-pointer">Miss Cynthia Godbless</p>
            </div>
          </div>



        </td>

        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
      </tr>
      <tr>
        <td class="d-flex justify-content-between dropright align-items-center border-bottom border-top">
          <div class="d-flex text-left">
            <img src="assets/images/svg/teacher-grade.svg" alt="new client" class="mr-3">
            <div class="student-info">
              <p class="mb-0 cursor-pointer">Miss Cynthia Godbless</p>
            </div>
          </div>



        </td>

        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
      </tr>
      <tr>
        <td class="d-flex justify-content-between dropright align-items-center border-bottom border-top">
          <div class="d-flex text-left">
            <img src="assets/images/svg/teacher-grade.svg" alt="new client" class="mr-3">
            <div class="student-info">
              <p class="mb-0 cursor-pointer">Miss Cynthia Godbless</p>
            </div>
          </div>



        </td>

        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
      </tr>
      <tr>
        <td class="d-flex justify-content-between dropright align-items-center border-bottom border-top">
          <div class="d-flex text-left">
            <img src="assets/images/svg/teacher-grade.svg" alt="new client" class="mr-3">
            <div class="student-info">
              <p class="mb-0 cursor-pointer">Miss Cynthia Godbless</p>
            </div>
          </div>



        </td>

        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
      </tr>
      <tr>
        <td class="d-flex justify-content-between dropright align-items-center border-bottom border-top">
          <div class="d-flex text-left">
            <img src="assets/images/svg/teacher-grade.svg" alt="new client" class="mr-3">
            <div class="student-info">
              <p class="mb-0 cursor-pointer">Miss Cynthia Godbless</p>
            </div>
          </div>



        </td>

        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
      </tr>
      <tr>
        <td class="d-flex justify-content-between dropright align-items-center border-bottom border-top">
          <div class="d-flex text-left">
            <img src="assets/images/svg/teacher-grade.svg" alt="new client" class="mr-3">
            <div class="student-info">
              <p class="mb-0 cursor-pointer">Miss Cynthia Godbless</p>
            </div>
          </div>



        </td>

        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
      </tr>







    </tbody>
  </table>

  <div class="d-flex justify-content-center align-items-center">
    <button class="btn btn-outline-orange mx-2 mx-lg-3 px-5 mb-4 mt-3"  data-toggle="modal"
    data-target="#exampleModalCenterReject" > Reject </button>
    <button class="btn btn-orange-two mx-2 mx-lg-3 px-5 mb-4 mt-3"  data-toggle="modal"
    data-target="#exampleModalCenterApprove"> Approve </button>

  </div>
</div>


<!-- Approve Modal -->
<div class="modal fade" id="exampleModalCenterApprove" tabindex="-1" role="dialog"
  aria-labelledby="exampleModalCenterApproveTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-length" style="width: 50%;" role="document">
    <div class="modal-content">

      <div class="modal-head mb-4">
        <div class="d-flex justify-content-between align-items-center ">
          <h6 class="modal-title fc-lblue">Approve Broadsheet</h6>
          

        </div>

      </div>
      <div class="modal-body client-modal">

        <p class=" fs-14">You are about to accept the broadsheet approval request for Primary 1A</p>
        <form >


          <div class="form-group mb-4">
            <input type="text" id="class" class="form-control w-75" placeholder="Enter a reason" >
          </div>

         
        </form>
              <div class="d-flex justify-content-start border-top ">
                <button type="button " class="btn btn-outline-orange mt-3  px-5  mb-3 mr-3 "
                  data-dismiss="modal">Cancel
                </button>
                <button class="btn btn-orange-two px-5 mt-3"> Approve</button>
              </div>
    </div>
    

    </div>
  </div>
</div>
<!-- end of Aprove modal -->


<!-- Reject Modal -->
<div class="modal fade" id="exampleModalCenterReject" tabindex="-1" role="dialog"
  aria-labelledby="exampleModalCenterApproveTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-length" style="width: 50%;" role="document">
    <div class="modal-content">

      <div class="modal-head mb-4">
        <div class="d-flex justify-content-between align-items-center ">
          <h6 class="modal-title fc-lblue">Reject Broadsheet</h6>
          

        </div>

      </div>
      <div class="modal-body client-modal">

        <p class=" fs-14">You are about to reject the broadsheet approval request for Primary 1A</p>
        <form >


          <div class="form-group mb-4">
            <input type="text" id="class" class="form-control w-75" placeholder="Enter a reason" >
          </div>

         
        </form>
              <div class="d-flex justify-content-start border-top ">
                <button type="button " class="btn btn-outline-orange mt-3  px-5  mb-3 mr-3 "
                  data-dismiss="modal">Cancel
                </button>
                <button class="btn btn-orange-two px-5 mt-3"> Approve</button>
              </div>
    </div>
    

    </div>
  </div>
</div>
<!-- end of Reject modal -->