<section class="banner mb-4 pb-3">
  <div class="pt-5 pl-3 text-content ">
    <h6 class="banner__text-primary fw-6 "> Gradebook </h6>
    <p class=""> View and publish grades of students </p>
  </div>

</section>




<div class="bg-white mt-5 px-3 pb-3">
  <div class="d-flex justify-content-between align-items-center  mb-4">
    <div>
      <form>
        <div class="row">
          <!-- <div class="col ">
            <label for="level" class="fs-12 fw-6">Session</label>
            <select name="" id="" class="form-control form-control-lg">
              <option value="">Select session</option>
              <option value="" *ngFor = "let session of sessionList"> {{session?.name}} </option>

            </select>
          </div>
          <div class="col ">
            <label for="class" class="fs-12 fw-6">Term</label>
            <select name="" id="" class="form-control form-control-lg">
              <option value="">Select term</option>
              <option value="" *ngFor = "let term of terms"> {{term?.name}} </option>


            </select>
          </div> -->
          <div class="col ">
            <label for="class" class="fs-12 fw-6">Level</label>
            <select name="" id="" class="form-control form-control-lg" (change)="getClassBySectionId($event.target.value )" >
              <option value="">Select level</option>
              <option [value]="level?.id" *ngFor="let level of levels; let u = index " >{{level?.name}}</option>


            </select>
          </div>
          <div class="col ">
            <label for="class" class="fs-12 fw-6">Class</label>
            <select name="" id="" class="form-control form-control-lg" (change)="getSubjectsAndStudents($event.target.value)">
              <option value="">Select class</option>
              <option [value]="class?.id" *ngFor="let class of classList; let u = index"> {{class.name}}{{class?.classGroup}}  </option>

            </select>
          </div>
        </div>
      </form>
    </div>


  </div>

  <div class="file-viewer d-flex justify-content-center align-items-center p-3 bg-white w-100 "
style="height: 85vh; width: 100%;" *ngIf="noData">
<div class="d-flex flex-column text-center">
  <img src="assets/images/svg/sad-face.svg" alt="table sort icon" class="mb-3">
  <p class="fw-6 fs-24" style="color:#BAB9C1;">Select level and class to display <br> information</p>
</div>
</div>

  <div *ngIf="displayData">
    <table class="table">
      <thead>
        <tr>
          <th class="w-25"></th>
          <th class="vertical-header" *ngFor = "let subject of subject; let u = index"><span>  {{subject?.subjectName | titlecase}}  </span></th>
          
          <th class="vertical-header"><span>Total Score Obtained</span></th>
          <th class="vertical-header"><span>Average Score</span></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Subject Lowest Score</td>
         
        </tr>
        <tr>
          <td>Subject Highest Score</td>
          
        </tr>
        <tr>
          <td>Subject Average</td>
        </tr>
        <tr *ngFor = "let student of studentData ; let i = index">
          <td class="d-flex justify-content-between dropright align-items-center border-bottom border-top">
            <div class="d-flex text-left">
              <img src="assets/images/svg/teacher-grade.svg" alt="new client" class="mr-3">
              <div class="student-info">
                <p class="mb-0 cursor-pointer" >{{student?.studentName}}</p>
              </div>
            </div>
  
  
  
          </td>
  
          <td *ngFor = "let assessment of studentData[i].assessmentAndScores"> {{assessment?.score}} </td>
          <td> {{student?.cummulative}} </td>
          <td> {{student?.averageScore}} </td>
          
        </tr>
  <!--      
        <tr>
          <td class="d-flex justify-content-between dropright align-items-center border-bottom border-top">
            <div class="d-flex text-left">
              <img src="assets/images/svg/teacher-grade.svg" alt="new client" class="mr-3">
              <div class="student-info">
                <p class="mb-0 cursor-pointer">Miss Cynthia Godbless</p>
              </div>
            </div>
  
  
  
          </td>
  
          <td> </td>
          <td> </td>
          <td> </td>
          <td> </td>
          <td> </td>
          <td> </td>
          <td> </td>
          <td> </td>
          <td> </td>
          <td> </td>
          <td> </td>
          <td> </td>
          <td> </td>
          <td> </td>
        </tr> -->
  
  
  
  
  
  
  
      </tbody>
    </table>
  
    <div class="d-flex justify-content-center align-items-center">
      <button class="btn btn-outline-orange mx-2 mx-lg-3 px-5 mb-4 mt-3"  data-toggle="modal"
      data-target="#exampleModalCenterReject" > Reject </button>
      <button class="btn btn-orange-two mx-2 mx-lg-3 px-5 mb-4 mt-3"  data-toggle="modal"
      data-target="#exampleModalCenterApprove"> Approve </button>
  
    </div>
  </div>

</div>


<!-- Approve Modal -->
<div class="modal fade" id="exampleModalCenterApprove" tabindex="-1" role="dialog"
  aria-labelledby="exampleModalCenterApproveTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-length" style="width: 50%;" role="document">
    <div class="modal-content">

      <div class="modal-head mb-4">
        <div class="d-flex justify-content-between align-items-center ">
          <h6 class="modal-title fc-lblue">Approve Broadsheet</h6>
          

        </div>

      </div>
      <div class="modal-body client-modal">

        <p class=" fs-14">You are about to accept the broadsheet approval request for {{className}}</p>
        <form [formGroup]="approvalForm" (ngSubmit) = "approvalResult()" >


          <div class="form-group mb-4">
            <input type="text" id="class" class="form-control w-75" placeholder="Enter a reason"
            formControlName="headTeacherApprovalComment" >
          </div>

         
          <div class="d-flex justify-content-start border-top ">
            <button type="button " class="btn btn-outline-orange mt-3  px-5  mb-3 mr-3 "
              data-dismiss="modal">Cancel
            </button>
            <button class="btn btn-orange-two px-5 mt-3" [disabled]="approvalForm.invalid"> Approve</button>
          </div>
        </form>
    </div>
    

    </div>
  </div>
</div>
<!-- end of Aprove modal -->


<!-- Reject Modal -->
<div class="modal fade" id="exampleModalCenterReject" tabindex="-1" role="dialog"
  aria-labelledby="exampleModalCenterApproveTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-length" style="width: 50%;" role="document">
    <div class="modal-content">

      <div class="modal-head mb-4">
        <div class="d-flex justify-content-between align-items-center ">
          <h6 class="modal-title fc-lblue">Reject Broadsheet</h6>
          

        </div>

      </div>
      <div class="modal-body client-modal">

        <p class=" fs-14">You are about to reject the broadsheet approval request for {{className}}</p>
        <form [formGroup]="rejectionForm" (ngSubmit) = "rejectResult()" >


          <div class="form-group mb-4">
            <input type="text" id="class" class="form-control w-75" 
            placeholder="Enter a reason"
            formControlName="headTeacherRejectionComment" >
          </div>

         
          <div class="d-flex justify-content-start border-top ">
            <button type="button " class="btn btn-outline-orange mt-3  px-5  mb-3 mr-3 "
              data-dismiss="modal">Cancel
            </button>
            <button class="btn btn-orange-two px-5 mt-3" [disabled]="rejectionForm.invalid"> Reject</button>
          </div>
        </form>
    </div>
    

    </div>
  </div>
</div>
<!-- end of Reject modal -->