<div class="container-fluid pl-4">

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb" (click) = "back()">
            <img src="assets/images/svg/breadcrumb.svg" class="mr-3" alt="..." />
            <li class="breadcrumb-item a1 " aria-current="page">
                <a>Back</a>
            </li>
    
    
        </ol>
    
    
    </nav>

    <div class="activated mb-4 mt-2 d-flex justify-content-between align-items-center align-items-center">
        <div class="activated__image ">
            <img src="assets/images/svg/american-man.svg" class="mr-3 avatar" alt="..." />
            <div>
                <p class="activated__title fw-6 fc-lblue">{{employeeDetails?.firstName}} {{employeeDetails?.lastName}} </p>
                <p class="activated__code">PRT/2016/001</p>
            </div>
        </div>
        <div class="activated__date mr-5 text-right">
            <p class="active">Created on 17/03/20 </p>
            <div class="activated__date-switch">
                <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" id="customSwitch1">
                    <label class="custom-control-label" for="customSwitch1"></label>
                </div>
                <p class="activated__date-title">Active</p>
            </div>
        </div>
    </div>

        <div class=" informations d-flex justify-content-between ">

            <div>
                <div class="personal item ">
                    <div class="d-flex  justify-content-between align-items-center">
                        <div class="line">
                              <h6>  Basic Details </h6>
                        </div>
                        <img src="assets/images/svg/edit.svg"  alt="..." />
                    </div>
    
                    <div class="d-flex justify-content-between mt-5 ">
                        <div class="link">
                            <p class="mb-0">First Name</p>
                            <p class="fw-6">{{employeeDetails?.firstName}}</p>
                        </div>
                        <div class="link mr-5 ml-4">
                            <p class="mb-0">Last Name</p>
                            <p class="fw-6">{{employeeDetails?.lastName}}
                            </p>
                        </div>
                    </div>
                    <div class="d-flex justify-content-between mt-3 ">
                        <div class="link">
                            <p class="mb-0">Other Name</p>
                            <p class="fw-6">{{employeeDetails?.otherNames}}</p>
                        </div>
                        <div class="link mr-5 ml-4">
                            <p class="mb-0">Gender</p>
                            <p class="fw-6">{{employeeDetails?.sex}}
                            </p>
                        </div>
                    </div>
                    <div class="d-flex justify-content-between mt-3 ">
                        <div class="link">
                            <p class="mb-0">Date of Birth</p>
                            <p class="fw-6">{{employeeDetails?.dateOfBirth | date: 'shortDate'}}</p>
                        </div>
                        <div class="link mr-5 ml-4">
                            <p class="mb-0">Marital Status</p>
                            <p class="fw-6">{{employeeDetails?.maritalStatus}}
                            </p>
                        </div>
                    </div>
                    <div class="d-flex justify-content-between mt-3 ">
                        <div class="link">
                            <p class="mb-0">Blood Group</p>
                            <p class="fw-6">{{employeeDetails?.bloodGroup}}</p>
                        </div>
                        <div class="link mr-5 ml-4">
                            <p class="mb-0">Religion</p>
                            <p class="fw-6">{{employeeDetails?.religion}}
                            </p>
                        </div>
                    </div>
                    <div class="d-flex justify-content-between mt-3 ">
                        <div class="link">
                            <p class="mb-0">Nationality</p>
                            <p class="fw-6">{{employeeDetails?.nationality}}</p>
                        </div>
                        <div class="link mr-5 ml-4">
                            <p class="mb-0">Local Government</p>
                            <p class="fw-6">{{employeeDetails?.localGovernment}}
                            <p class="fw-6" *ngIf="employeeDetails?.localGovernment == null">N/A
                            </p>
                        </div>
                    </div>
                    
                    
                </div>

                <div class="contact item ">
                    <div class="d-flex  justify-content-between align-items-center">
                        <div class="line">
                              <h6>  Contact Details </h6>
                        </div>
                        <img src="assets/images/svg/edit.svg"  alt="..." />
                    </div>
    
                    <div class="d-flex justify-content-between mt-5 ">
                        <div class="link">
                            <p class="mb-0">Phone Number</p>
                            <p class="fw-6">{{employeeDetails?.contactDetails.phoneNumber}}</p>
                        </div>
                        <div class="link mr-5 ml-4">
                            <p class="mb-0">Email Address</p>
                            <p class="fw-6">{{employeeDetails?.contactDetails.emailAddress}}
                            </p>
                        </div>
                    </div>
                    <div class="d-flex justify-content-between mt-3 ">
                        <div class="link">
                            <p class="mb-0">Alternative Phone Number</p>
                            <p class="fw-6">{{employeeDetails?.contactDetails.altPhoneNumber}}</p>
                        </div>
                        <div class="link mr-5 ml-4">
                            <p class="mb-0">Alternative Email Address</p>
                            <p class="fw-6">{{employeeDetails?.contactDetails.altEmailAddress}}
                            </p>
                        </div>
                    </div>
                    <div class="d-flex justify-content-between mt-3 ">
                        <div class="link">
                            <p class="mb-0">Country</p>
                            <p class="fw-6">{{employeeDetails?.contactDetails.country}}</p>
                        </div>
                        <div class="link mr-5 ml-4">
                            <p class="mb-0">Address</p>
                            <p class="fw-6">{{employeeDetails?.contactDetails.address}}
                            </p>
                        </div>
                    </div>
                    <div class="d-flex justify-content-between mt-3 ">
                        <div class="link">
                            <p class="mb-0">State</p>
                            <p class="fw-6">{{employeeDetails?.contactDetails.state}}</p>
                        </div>
                        <div class="link mr-5 ml-4">
                            <p class="mb-0">Town</p>
                            <p class="fw-6">{{employeeDetails?.contactDetails.town}}
                            </p>
                        </div>
                    </div>
                    
                    
                    
                </div>

                <div class="education item ">
                    <div class="d-flex  justify-content-between align-items-center">
                        <div class="line">
                              <h6>  Education </h6>
                        </div>
                        <img src="assets/images/svg/edit.svg"  alt="..." />
                    </div>
    
                    <div class="d-flex justify-content-between mt-5 ">
                        
                    </div>
                    <div class="d-flex justify-content-between mt-3 ">
                        <div class="link"  *ngFor = "let education of employeeDetails?.educationExperienceVMs">
                            <p class="mb-0">{{education?.educationSchoolName}}</p>
                            <p class="fw-6">{{education?.startDate | date: 'yyyy'}} / 2013</p>
                        </div>
                    </div>
                    <div class="d-flex justify-content-between mt-3 ">
                        <div class="link">
                            <p class="mb-0">Institute of Chateredt Accountant of Nigeria (ICAN)</p>
                            <p class="fw-6">2014</p>
                        </div>
                    </div>
                   
                    
                    
                </div>
            </div>

            <div>

                <div class="employee item ">
                    <div class="d-flex  justify-content-between align-items-center">
                        <div class="line">
                              <h6>  Employee Details </h6>
                        </div>
                        <img src="assets/images/svg/edit.svg"  alt="..." />
                    </div>
    
                    <div class="d-flex justify-content-between mt-5 ">
                        <div class="link">
                            <p class="mb-0">Staff Type</p>
                            <p class="fw-6" *ngIf="employeeDetails?.employmentDetails?.staffType === 1">Academic</p>
                            <p class="fw-6" *ngIf="employeeDetails?.employmentDetails?.staffType === 2">Non-Academic</p>
                        </div>
                        <div class="link mr-5 ml-4">
                            <p class="mb-0">Employment Status</p>
                            <p class="fw-6">Full-time
                            </p>
                        </div>
                    </div>
                    <div class="d-flex justify-content-between mt-3 ">
                        <div class="link">
                            <p class="mb-0">Highest Qualification</p>
                            <p class="fw-6">{{employeeDetails?.employmentDetails.highestQualification}}</p>
                        </div>
                        <div class="link mr-5 ml-4">
                            <p class="mb-0">Job Title</p>
                            <p class="fw-6">{{employeeDetails?.employmentDetails.jobTitle}}
                            </p>
                        </div>
                    </div>
                    <div class="d-flex justify-content-between mt-3 ">
                        <div class="link">
                            <p class="mb-0">Department</p>
                            <p class="fw-6">Finance</p>
                        </div>
                        <div class="link mr-5 ml-4">
                            <p class="mb-0">Pay Grade</p>
                            <p class="fw-6">Grade 1 Step 1
                            </p>
                        </div>
                    </div>
                    <div class="d-flex justify-content-between mt-3 ">
                        <div class="link">
                            <p class="mb-0">Employment Date</p>
                            <p class="fw-6">17/7/2020</p>
                        </div>
                        <div class="link mr-5 ml-4">
                            <p class="mb-0">Resumption</p>
                            <p class="fw-6">3/7/2020
                            </p>
                        </div>
                    </div>
    
                </div>
        
                <div class="kin item ">
                    <div class="d-flex  justify-content-between align-items-center">
                        <div class="line">
                              <h6>  Next of Kin Information </h6>
                        </div>
                        <img src="assets/images/svg/edit.svg"  alt="..." />
                    </div>
    
                    <div class="d-flex justify-content-between mt-5 ">
                        <div class="link">
                            <p class="mb-0">First Name</p>
                            <p class="fw-6">{{employeeDetails?.nextOfKin.nextKinFirstName}}</p>
                        </div>
                        <div class="link mr-5 ml-4">
                            <p class="mb-0">Last Name</p>
                            <p class="fw-6">{{employeeDetails?.nextOfKin.nextKinLastName}}
                            </p>
                        </div>
                    </div>
                    <div class="d-flex justify-content-between mt-3 ">
                        <div class="link">
                            <p class="mb-0">Other Name</p>
                            <p class="fw-6">{{employeeDetails?.nextOfKin.nextKinOtherName}}</p>
                        </div>
                        <div class="link mr-5 ml-4">
                            <p class="mb-0">Relationship</p>
                            <p class="fw-6">{{employeeDetails?.nextOfKin.nextKinRelationship}}
                            </p>
                        </div>
                    </div>
                    <div class="d-flex justify-content-between mt-3 ">
                        <div class="link">
                            <p class="mb-0">Ocupation</p>
                            <p class="fw-6">{{employeeDetails?.nextOfKin.nextKinOccupation}}</p>
                        </div>
                        <div class="link mr-5 ml-4">
                            <p class="mb-0">Phone Number</p>
                            <p class="fw-6">{{employeeDetails?.nextOfKin.nextKinPhone}}
                            </p>
                        </div>
                    </div>
                    <div class="d-flex justify-content-between mt-3 ">
                        <div class="link">
                            <p class="mb-0">Country</p>
                            <p class="fw-6">{{employeeDetails?.nextOfKin.nextKinCountry}}</p>
                        </div>
                        <div class="link mr-5 ml-4">
                            <p class="mb-0">Address</p>
                            <p class="fw-6">{{employeeDetails?.nextOfKin.nextKinAddress}}
                            </p>
                        </div>
                    </div>
                    <div class="d-flex justify-content-between mt-3 ">
                        <div class="link">
                            <p class="mb-0">State</p>
                            <p class="fw-6">{{employeeDetails?.nextOfKin.nextKinState}}</p>
                        </div>
                        <div class="link mr-5 ml-4">
                            <p class="mb-0">Town/City</p>
                            <p class="fw-6">{{employeeDetails?.nextOfKin.nextKinTown}}
                            </p>
                        </div>
                    </div>
    
                </div>
        
                <div class="experience item ">
                    <div class="d-flex  justify-content-between align-items-center">
                        <div class="line">
                              <h6>  Work Experience  </h6>
                        </div>
                        <img src="assets/images/svg/edit.svg"  alt="..." />
                    </div>
    
                    <div class="d-flex justify-content-between mt-5 ">
                        <div class="link" *ngFor = "let experience of employeeDetails?.workExperienceVMs">
                            <p class="mb-0">{{experience?.workRole}}</p>
                            <p class="fw-6">{{experience?.startTime | date: 'shortDate' }}</p>
                        </div>
                       
                    </div>
                    
    
                </div>

            </div>
            
    

        </div>

        

</div>