<div class="school-details">

<form >
    
        <div class="row mb-4">
            <div class="col-md-6">
                <label for="entry" class="fw-6">Entry Type <span class="text-danger">*</span>
                </label>
                <select name="" id="entry" class="form-control form-control-lg">
                    <option value="entry" selected>Sex</option>
                </select>
            </div>
            <div class="col-md-6 ">
                <label for="date" class="fw-6">Admission Date <span
                        class="text-danger">*</span></label>
                <input type="date" class="form-control form-control-lg" placeholder="Dojah"
                    id="maiden">
            </div>
        </div>
    
    
        <div class="row mb-4">
            <div class="col-md-6 ">
                <label for="date" class="fw-6">Level <span class="text-danger">*</span></label>
                <select name="" id="level" class="form-control form-control-lg">
                    <option value="level" selected>Secondary</option>
                </select>
            </div>
    
            <div class="col-md-6">
                <label for="state" class="fw-6">Class <span class="text-danger">*</span>
                </label>
                <select name="" id="state" class="form-control form-control-lg">
                    <option value="oyo" selected>JSS 3</option>
                </select>
            </div>
        </div>
    
        <div class="row mb-5">
            <div class="col-md-6 ">
                <label for="date" class="fw-6">Student Type <span
                        class="text-danger">*</span></label>
                <select name="" id="level" class="form-control form-control-lg">
                    <option value="level" selected>Day Student</option>
                </select>
            </div>
    
    
        </div>
</form>

    <div class=" d-flex justify-content-center">
        <button class="btn btn-outline-orange mx-2 mx-lg-3 px-5 mb-4 mt-3"> Cancel </button>
        <button class="btn btn-orange-two mx-2 mx-lg-3 px-5 mb-4 mt-3" (click)='nextStep() '> Next </button>

    </div>
</div>