<div class="school-details">

<form [formGroup]="socialDetailsForm" >
    
        <div class="row mb-4">
            <div class="col-md-6">
                <label for="entry" class="fw-6">Entry Type <span class="text-danger">*</span>
                </label>
                <select name="" id="entry" class="form-control form-control-lg" formControlName="EntryType">
                    <option value="" selected>New</option>
                    <option value="new" >New</option>
                    <option value="old" >Old</option>
                </select>
            </div>
            <div class="col-md-6 ">
                <label for="date" class="fw-6">Admission Date <span
                        class="text-danger">*</span></label>
                <input type="date" class="form-control form-control-lg" placeholder="Dojah"
                    id="maiden" formControlName="AdmissionDate">
            </div>
        </div>
    
    
        <div class="row mb-4">
            <div class="col-md-6 ">
                <label for="date" class="fw-6">Section <span class="text-danger">*</span></label>
                <select name="" id="level" class="form-control form-control-lg" formControlName="SectionId" (change)="getClassesUnderSection($event.target.value)" >
                    <option value="" selected> Select Section</option>
                    <option *ngFor="let section of sections" [value]="section.id">{{section.name}}</option>
                </select>
            </div>
    
            <div class="col-md-6">
                <label for="state" class="fw-6">Class <span class="text-danger">*</span>
                </label>
                <select name="" id="state" class="form-control form-control-lg" formControlName="ClassId">
                    <option *ngFor="let class of classes" [value]="class.id">{{class.name}}{{class?.classGroup}}</option>
                </select>
            </div>
        </div>
    
        <div class="row mb-5">
            <div class="col-md-6 ">
                <label for="date" class="fw-6">Student Type <span
                        class="text-danger">*</span></label>
                <select name="" id="level" class="form-control form-control-lg" formControlName="StudentType">
                    <option value="1" selected>Day Student</option>
                    <option value="2" selected>Boarding Student</option>
                </select>
            </div>
    
    
        </div>
</form>

    <div class=" d-flex justify-content-center">
        <button class="btn btn-outline-orange mx-2 mx-lg-3 px-5 mb-4 mt-3" (click)="prevStep()"> Back </button>
        <button class="btn btn-orange-two mx-2 mx-lg-3 px-5 mb-4 mt-3" (click)='nextStep() ' [disabled]="socialDetailsForm.invalid"> Next </button>

    </div>
</div>