.main .banner {
    width: 100%;
    background-image: url("../../../assets/images/svg/client-banner.svg");
    background-repeat: no-repeat;
    background-color: #422610;

    background-size: cover;
    background-position: center;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0 1.5rem;
    color: #ffffff;
    position: relative;
    background-blend-mode: multiply;
    mix-blend-mode: multiply;
    backdrop-filter: opacity(.4);
}



.banner__text-primary {
    font-size: 36px;
}


.btn-orange-two {
    background: #fb882c;
    border-radius: 5px;
    height: 44px;
    font-family: Nunito;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    color: #ffffff;
}

/* ==================== Search ==================== */

.search {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

input[type="text"] {
    width: 125%;
}

.form-row {
    align-items: center;
}

.search__input .divider {
    background: #CFD7DE;
    border: 1px solid #CFD7DE;
    height: 1px;
    width: 24px;
    align-items: center;
    display: flex
}

/* .seperator::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
  
  
  }
  
  
  /* dropdown overwrite */

a.dropdown-item.filter-title {
    color: #B5BCD4;
}

/* end of dropdown */

/* ================= table ====================== */
table.client-table {
    border-collapse: separate;
    border-spacing: 0 1em;
}


.list .table thead {
    color: #4c75bd;

}

.list .table thead tr th {
    font-weight: 600;
}

.list .table thead .head {
    /* display: flex;
    align-items: center;
    color: #0a1128;
    font-weight: 600; */
    padding-left: 3.5rem;
}

.list .table tbody .school-logo {
    /* display: flex;
      align-items: center; */
    color: #0a1128;
    font-weight: 600;
    padding-left: 1.5rem;
    padding-left: 3.5rem;
    position: relative;
    opacity: none;
}

.list .table tbody .school-logo span {
    position: absolute;
    bottom: 20px;
    left: 15px;
}

.list .table tbody tr {
    background: #ffffff;
    box-shadow: 10px 10px 30px rgba(211, 220, 231, 0.4);
    border-radius: 5px;
}

.list .table tbody td:not(:first-child) {
    color: #0a1128;
    opacity: 0.6;
}

.list .table tbody .status_active {
    background: #ebfffa;
    border-radius: 10px;
    color: #09b78a;
    font-weight: 600;
    width: 110px;
    height: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 17px 40px;
}

.list .table tbody .status_inactive {
    background: #FAE5E7;
    border-radius: 10px;
    color: #D72638;
    font-weight: 600;
    width: 110px;
    height: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 17px 40px;
}



.btn-link {
    color: #014d94;
    opacity: 0.6;
    text-decoration: underline;
    font-weight: bold;
    font-size: 14px;
    padding: 0;
}