<section class="client">
  <img src="assets/images/svg/institution.svg" alt="new client" class="">
  <h6 class="pt-5">Create your first client</h6>
  <p class="text-center pt-1">It looks like you haven’t created a client yet. Get started by <br> clicking the button
    below.</p>
  <button class="btn btn-orange-two mx-2 mx-lg-3 px-5 mb-4 mt-3" data-toggle="modal" data-target="#exampleModalCenter">
    Add New </button>
  <button class="btn btn-outline-orange  mx-2 mx-lg-3" data-toggle="modal" data-target="#exampleModalCenterUpload">Bulk
    Upload</button>
</section>


<!-- profile Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-length" style="max-width: 40%;" role="document">
    <div class="modal-content">

      <div class="modal-head mb-3">
        <img src="assets/images/svg/modal-icon.svg" alt="modal icon" class="mr-3">
        <h6 class="modal-title">Profile Information</h6>
      </div>
      <div class="modal-body client-modal">
        <form class="">
          <div class="form-row my-5 ">
            <div class=" ">
              <label for="domain" class="fw-6">Domain Name</label>
              <input type="text" class="form-control form-control-md" id="domain" placeholder="Enter Domain Name">
            </div>
            <div class="  ">
              <label for="website" class="fw-6">Official Website</label>

              <input type="url" class="form-control" id="website" placeholder="Enter school wesbite">
            </div>

          </div>
          <div class="form-row my-5">
            <div class=" ">
              <label for="logo" class="fw-6">Logo</label>
              <div class="custom-file mb-3">
                <input type="file" class="custom-file-input" id="customFile" name="filename">
                <label class="custom-file-label" for="customFile">Upload File</label>
              </div>
            </div>
            <div class="  ">
              <label for="icon" class="fw-6">Icon</label>
              <div class="custom-file mb-3">
                <input type="file" class="custom-file-input" id="customFile" name="filename">
                <label class="custom-file-label" for="customFile">Upload File</label>
              </div>
            </div>

          </div>

        </form>
        <div class="modal-btn mb-5">
          <button class="btn btn-outline-orange  px-5 mb-4 mt-3" data-dismiss="modal"> Cancel </button>
          <button class="btn btn-orange-two  px-5 mb-4 mt-3" (click)="nextModal()" data-toggle="modal"
            data-target="#exampleModalCenter2"> Next Step </button>
        </div>
      </div>

    </div>
  </div>
</div>
<!-- end of profile modal -->


<!-- contact Modal -->
<div class="modal fade" id="exampleModalCenter2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenter2Title"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-length" style="max-width: 40%;" role="document">
    <div class="modal-content">

      <div class="modal-head mb-3">
        <img src="assets/images/svg/modal-icon.svg" alt="modal icon" class="mr-3">
        <h6 class="modal-title">Contact Information</h6>
      </div>
      <div class="modal-body client-modal">
        <form class="">
          <div class="form-row my-5 ">
            <div class=" ">
              <label for="domain" class="fw-6">Address</label>
              <input type="text" class="form-control" id="domain" placeholder="Enter Domain Name">
            </div>
            <div class=" ">
              <label for="domain" class="fw-6">City</label>
              <select class="form-control">
                <option value=""></option>
                <option value="victoria">Victoria Island</option>
              </select>
            </div>

          </div>

          <div class="form-row my-5 ">

            <div class=" ">
              <label for="domain" class="fw-6">State</label>
              <select class="form-control">
                <option value=""></option>
                <option value="lagos">Lagos</option>
              </select>
            </div>
            <div class=" ">
              <label for="domain" class="fw-6">Country</label>
              <select class="form-control">
                <option value=""></option>
                <option value="lagos">Nigeria Island</option>
              </select>
            </div>

          </div>


        </form>
        <div class="modal-btn mb-5">
          <button class="btn btn-outline-orange  px-5 mb-4 mt-3"> Cancel </button>
          <button class="btn btn-orange-two  px-5 mb-4 mt-3" (click)="contactPersonModal()" data-toggle="modal"
            data-target="#exampleModalCenter3"> Next Step
          </button>
        </div>
      </div>

    </div>
  </div>
</div>
<!-- end of contact modal -->


<!-- contact person Modal -->
<div class="modal fade" id="exampleModalCenter3" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenter3Title"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-length" style="max-width: 40%;" role="document">
    <div class="modal-content">

      <div class="modal-head mb-3">
        <img src="assets/images/svg/modal-icon.svg" alt="modal icon" class="mr-3">
        <h6 class="modal-title">Contact Person</h6>
      </div>
      <div class="modal-body client-modal">
        <form class="">
          <div class="form-row my-5 ">
            <div class=" ">
              <label for="fname" class="fw-6">First Name</label>
              <input type="text" class="form-control" id="fname" placeholder="Enter first Name">
            </div>
            <div class=" ">
              <label for="lname" class="fw-6">Last Name</label>
              <input type="text  " class="form-control" id="lname" placeholder="Enter last name">
            </div>


          </div>

          <div class="form-row my-5 ">
            <div class=" ">
              <label for="tel" class="fw-6">Phone number</label>
              <input type="number" class="form-control" id="tel" placeholder="Enter phone number">
            </div>
            <div class=" ">
              <label for="email" class="fw-6">Email</label>
              <input type="email" class="form-control" id="email" placeholder="Enter email">

            </div>


          </div>




          <div class="modal-btn mb-5">
            <button class="btn btn-outline-orange  px-5 mb-4 mt-3"> Cancel </button>
            <button class="btn btn-orange-two  px-5 mb-4 mt-3"> Create Client </button>
          </div>
        </form>
      </div>

    </div>
  </div>
</div>
<!-- end of contact modal -->


<!-- Bulk uplaod Modal -->
<div class="modal fade" id="exampleModalCenterUpload" tabindex="-1" role="dialog"
  aria-labelledby="exampleModalCenterUploadTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" style="max-width: 40%;" role="document">
    <div class="modal-content1">

      <div class="modal-head mb-3">
        <h6 class="modal-title">Upload Files</h6>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body client-modal">
        <form class="">
          <div class=" my-3 ">
            <div class=" file-upload">
              <label for="fileupload">Drag and Drop your document here <br> to upload</label>
              <button class="btn btn-orange-two px-5 mb-4 mt-3">Add files</button>
              <p class="caption">You can import up to 5000 records through an .xls, .xlsx, .vcf, or .csv file. To import
                more than 5000 records at a time, use a .csv file.</p>
            </div>


          </div>

          <div class="row  my-3 ">

            <div class="col-6">
              <label for="domain">What do you want to do with the records in the file?</label>
              <select id="country" class="form-control">
                <option value="" selected></option>
                <option value="addnew">Add as a new client</option>
                <option value="addnew">Update esisting client list</option>
  
              </select>
            </div>


          </div>




          <div class="modal-btn d-flex justify-content-end mb-5">
            <button class="btn btn-outline-orange mx-2 mx-lg-3 px-5 mb-4 mt-3"> Cancel </button>
            <button class="btn btn-orange-two mx-2 mx-lg-3 px-5 mb-4 mt-3"> Add New </button>
          </div>
        </form>
      </div>

    </div>
  </div>
</div>
<!-- end of Bulk uplaod modal -->
