.activated {
  display: flex;
  justify-content: space-between;
  background: #ffffff;
  border: 1px solid #d7dadf;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 1rem 1.8rem;
  backdrop-filter: opacity(0.9);
}

.activated__image {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.activated__image p {
  margin-bottom: 0;
}

.activated__title {
  color: #355691;
}

.custom-control-label::before {
  background: #09b78a;
}

.custom-control-label::after {
  background: #ffffff;
}

.activated__code,
.active {
  color: #0a1128;
  opacity: 0.4;
}

.activated__date {
  display: flex;
  flex-direction: column;
}

.activated__date .activated__date-switch {
  display: flex;
}

.activated__date .activated__date-title {
  color: #0a1128;
  opacity: 0.7;
  font-size: 16px;
}

.informations > div {
  width: 49%;
}

.item {
  width: 100%;
  border-radius: 10px;
  padding: 1.8rem 1.5rem 1rem;
  margin-bottom: 3%;
  background: #ffffff;
  border: 1px solid #d7dadf;
}

.line {
  position: relative;
  width: 80%;
}

.line::before {
  content: "";
  position: absolute;
  width: 80%;
  height: 2px;
  background: #fb882c;
  left: 0;
  bottom: -6px;
}

.line::after {
  content: "";
  position: absolute;
  width: 110%;
  height: 2px;
  background: rgba(251, 136, 44, 0.3);
  left: 0;
  bottom: -6px;
}

.link {
  width: 80%;
  word-break: break-all;
}

.link p:not(:last-child) {
  color: #0a1128;
  opacity: 0.4;
  margin-bottom: 0.5rem;
  font-weight: 400;
}

.link p:last-child {
  color: #0a1128;
}
.school-logo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}