<div class="main">
    <section class="banner mb-4 pb-3">
      <div class="pt-5 pl-3 text-content ">
        <h6 class="banner__text-primary fw-6 "> Users & Roles </h6>
        <p class=""> Showing all admin accounts </p>
      </div>
      <button class="btn btn-orange-two mx-2 mx-lg-3 px-5 mb-4 mt-3" [routerLink]="['/main','admin-dashboard', 'new-user']"> Add New </button>
  
    </section>
  
    <section class="search mb-3">
      
      <div class="searchpills-bar">
        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Users</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Roles</a>
          </li>
          
        </ul>
        
      </div>
      <div class="search__input has-search ml-auto">
          <span class="fa fa-search form-control-feedback"></span>
          <input type="text" class="form-control" placeholder="Search">
      </div>
    </section>

    <div>
      <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
          <section class="list">
            <table class="table table-borderless client-table">
              <thead>
                <tr>
                  <th scope="col" class="head ">Full Name <img src="assets/images/svg/table-sort.svg" alt="table sort icon" class="">
                  </th>
                  <th scope="col">Email </th>
                  <th scope="col">Roles <img src="assets/images/svg/table-sort.svg" alt="table sort icon" class=""></th>
                  <th scope="col">Status <img src="assets/images/svg/table-sort.svg" alt="table sort icon" class=""></th>
                  <th scope="col">Date Added <img src="assets/images/svg/table-sort.svg" alt="table sort icon" class=""></th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
                <tr class="pb-1">
                  <td scope="row" class="user rounded-left"> 
                      <span><img src="assets/images/svg/user-image.svg" alt="schools log" class="mr-3"> </span>
                      <div>
                          <h6 class="fw-6">Chukwudi Okoli </h6>
                          <p>mrchuks</p>
                      </div>
                  </td>
                  <td class="" >chuks.okoli@schooltrack.com</td>
                  <td >Admin</td>
                  <td  ><span class="status_active">Active</span></td>
                  <td  >17/03/2020</td>
                  <td class="rounded-right "><img src="assets/images/svg/more-action.svg" alt="schools log">            </td>
                </tr>
                <tr class="pb-1">
                  <td scope="row" class="user rounded-left"> 
                      <span><img src="assets/images/svg/user-role-2.svg" alt="schools log" class="mr-3"> </span>
                      <div>
                          <h6 class="fw-6">Francis Emenike </h6>
                          <p>frankie</p>
                      </div>
                  </td>
                  <td class="" >frank.emenike@schooltrack.com</td>
                  <td >Data input</td>
                  <td  ><span class="status_active">Active</span></td>
                  <td  >17/03/2020</td>
                  <td class="rounded-right "><img src="assets/images/svg/more-action.svg" alt="schools log">            </td>
                </tr>
                <tr class="pb-1">
                  <td scope="row" class="user rounded-left"> 
                      <span><img src="assets/images/svg/user-image.svg" alt="schools log" class="mr-3"> </span>
                      <div>
                          <h6 class="fw-6">Chukwudi Okoli </h6>
                          <p>mrchuks</p>
                      </div>
                  </td>
                  <td class="" >chuks.okoli@schooltrack.com</td>
                  <td >Admin</td>
                  <td  ><span class="status_active">Active</span></td>
                  <td  >17/03/2020</td>
                  <td class="rounded-right "><img src="assets/images/svg/more-action.svg" alt="schools log">            </td>
                </tr>
                <tr class="pb-1"> 
                  <td scope="row" class="user rounded-left"> 
                      <span><img src="assets/images/svg/woman.svg" alt="schools log" class="mr-3"> </span>
                      <div>
                          <h6 class="fw-6">Cynthia Bassey </h6>
                          <p>cynthia</p>
                      </div>
                  </td>
                  <td class="" >cynthia.bassey@schooltrack.com</td>
                  <td >System Admin</td>
                  <td  ><span class="status_active">Active</span></td>
                  <td  >17/03/2020</td>
                  <td class="rounded-right "><img src="assets/images/svg/more-action.svg" alt="schools log">            </td>
                </tr>
                <tr class="pb-1">
                  <td scope="row" class="user rounded-left"> 
                      <span><img src="assets/images/svg/user-role-2.svg" alt="schools log" class="mr-3"> </span>
                      <div>
                          <h6 class="fw-6">Francis Emenike </h6>
                          <p>frankie</p>
                      </div>
                  </td>
                  <td class="" >frank.emenike@schooltrack.com</td>
                  <td >Data input</td>
                  <td  ><span class="status_inactive">Inactive</span></td>
                  <td  >17/03/2020</td>
                  <td class="rounded-right "><img src="assets/images/svg/more-action.svg" alt="schools log">            </td>
                </tr>
                <tr class="pb-1">
                  <td scope="row" class="user rounded-left"> 
                      <span><img src="assets/images/svg/user-image.svg" alt="schools log" class="mr-3"> </span>
                      <div>
                          <h6 class="fw-6">Chukwudi Okoli </h6>
                          <p>mrchuks</p>
                      </div>
                  </td>
                  <td class="" >chuks.okoli@schooltrack.com</td>
                  <td >Admin</td>
                  <td  ><span class="status_active">Active</span></td>
                  <td  >17/03/2020</td>
                  <td class="rounded-right "><img src="assets/images/svg/more-action.svg" alt="schools log">            </td>
                </tr>
                <tr class="pb-1"> 
                  <td scope="row" class="user rounded-left"> 
                      <span><img src="assets/images/svg/woman.svg" alt="schools log" class="mr-3"> </span>
                      <div>
                          <h6 class="fw-6">Cynthia Bassey </h6>
                          <p>cynthia</p>
                      </div>
                  </td>
                  <td class="" >cynthia.bassey@schooltrack.com</td>
                  <td >System Admin</td>
                  <td  ><span class="status_active">Active</span></td>
                  <td  >17/03/2020</td>
                  <td class="rounded-right "><img src="assets/images/svg/more-action.svg" alt="schools log">            </td>
                </tr>
                <tr class="pb-1">
                  <td scope="row" class="user rounded-left"> 
                      <span><img src="assets/images/svg/user-role-2.svg" alt="schools log" class="mr-3"> </span>
                      <div>
                          <h6 class="fw-6">Francis Emenike </h6>
                          <p>frankie</p>
                      </div>
                  </td>
                  <td class="" >frank.emenike@schooltrack.com</td>
                  <td >Data input</td>
                  <td  ><span class="status_inactive">Inactive</span></td>
                  <td  >17/03/2020</td>
                  <td class="rounded-right "><img src="assets/images/svg/more-action.svg" alt="schools log">            </td>
                </tr>
                
                
              
        
              </tbody>
            </table>
        
          </section>
        </div>

        <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
          <section class="list">
            <table class="table table-borderless client-table">
              <thead>
                <tr>
                  <th scope="col" class="head ">Role Title
                  </th>
                  <th scope="col">Role ID </th>
                  <th scope="col">No. of Active Users </th>
                  <th scope="col">Date Added </th>
                  <th scope="col"></th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
                <tr class="pb-1">
                  <td scope="row" class="user rounded-left"> 
                    Admin
                  </td>
                  <td class="" >STA1092076</td>
                  <td >3</td>
                  <td  >17/03/2020</td>
                  <td class="rounded-right action"><img src="assets/images/svg/edit-role.svg" alt="schools log" class="mr-3">    Edit Role        </td>
                  <td class="rounded-right action"><img src="assets/images/svg/delete-role.svg" alt="schools log" class="mr-3">    Delete  Role        </td>
                </tr>
                <tr class="pb-1">
                  <td scope="row" class="user rounded-left"> 
                    Data Input
                  </td>
                  <td class="" >STA1092076</td>
                  <td >5</td>
                  <td  >17/03/2020</td>
                  <td class="rounded-right action"><img src="assets/images/svg/edit-role.svg" alt="schools log" class="mr-3">    Edit Role        </td>
                  <td class="rounded-right action"><img src="assets/images/svg/delete-role.svg" alt="schools log" class="mr-3">    Delete  Role        </td>
                </tr>
                <tr class="pb-1">
                  <td scope="row" class="user rounded-left"> 
                    Payment Officer
                  </td>
                  <td class="" >STA1092076</td>
                  <td >8</td>
                  <td  >17/03/2020</td>
                  <td class="rounded-right action"><img src="assets/images/svg/edit-role.svg" alt="schools log" class="mr-3">    Edit Role        </td>
                  <td class="rounded-right action"action><img src="assets/images/svg/delete-role.svg" alt="schools log" class="mr-3">    Delete  Role        </td>
                </tr>
                <tr class="pb-1">
                  <td scope="row" class="user rounded-left"> 
                    System Admin
                  </td>
                  <td class="" >STA1092076</td>
                  <td >3</td>
                  <td  >17/03/2020</td>
                  <td class="rounded-right action"><img src="assets/images/svg/edit-role.svg" alt="schools log" class="mr-3">    Edit Role        </td>
                  <td class="rounded-right action"><img src="assets/images/svg/delete-role.svg" alt="schools log" class="mr-3">    Delete  Role        </td>
                </tr>
                <tr class="pb-1">
                  <td scope="row" class="user rounded-left"> 
                    Data Analyst
                  </td>
                  <td class="" >STA1092076</td>
                  <td >2</td>
                  <td  >17/03/2020</td>
                  <td class="rounded-right action"><img src="assets/images/svg/edit-role.svg" alt="schools log" class="mr-3">    Edit Role        </td>
                  <td class="rounded-right action"><img src="assets/images/svg/delete-role.svg" alt="schools log" class="mr-3">    Delete  Role        </td>
                </tr>
                <tr class="pb-1">
                  <td scope="row" class="user rounded-left"> 
                    Account Manager
                  </td>
                  <td class="" >STA1092076</td>
                  <td >5</td>
                  <td  >17/03/2020</td>
                  <td class="rounded-right action"><img src="assets/images/svg/edit-role.svg" alt="schools log" class="mr-3">    Edit Role        </td>
                  <td class="rounded-right action"><img src="assets/images/svg/delete-role.svg" alt="schools log" class="mr-3">    Delete  Role        </td>
                </tr>
               
                
                
              
        
              </tbody>
            </table>
        
          </section>
        </div>
      </div>
    </div>
  
  </div>
  