<section class="banner mb-4 pb-3" *ngIf="normal" >
    <div class="pt-5 pl-3 text-content ">
      <h6 class="banner__text-primary  ">Billing </h6>
      <p class=""> Showing all payment history </p>
    </div>
    <div class="d-flex">
      <!-- <button class="btn btn-outline-orange mx-2 mx-lg-3 px-5 mb-4 mt-3" > Bulk Actions </button> -->
      <!-- <button class="btn btn-orange-two mx-2 mx-lg-3 px-5 mb-4 mt-3" data-toggle="modal"
        data-target="#exampleModalCenterFinance"> Add New </button> -->
    </div>
  
  </section>
  <section class="banner mb-4 pb-3" *ngIf="type">
    <div class="pt-5 pl-3 text-content ">
        <h6 class="banner__text-primary  ">Billing </h6>
        <p class=""> Showing all payment history </p>
    </div>
    <div class="d-flex">
      <!-- <button class="btn btn-outline-orange mx-2 mx-lg-3 px-5 mb-4 mt-3" > Bulk Actions </button> -->
      <button class="btn btn-orange-two mx-2 mx-lg-3 px-5 mb-4 mt-3" data-toggle="modal"
        data-target="#invoiceModal"> Generate </button>
    </div>
  
  </section>
  
  <div class="d-flex mt-5 mb-1">
  
    <div class="searchpills-bar">
      <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
        <li class="nav-item mr-5" (click)="showStatus('normal')" >
          <a class="nav-link active" id="pills-class-tab" data-toggle="pill" href="#pills-class" role="tab"
            aria-controls="pills-class" aria-selected="true">Payment</a>
        </li>
        <li class="nav-item mr-5" (click)="showStatus('normal')" >
          <a class="nav-link " id="pills-type-tab" data-toggle="pill" href="#pills-type" role="tab"
            aria-controls="pills-type" aria-selected="true">Payment History</a>
        </li>
        <li class="nav-item mr-5" (click)="showStatus('type')">
          <a class="nav-link " id="pills-billing-tab" data-toggle="pill" href="#pills-billing" role="tab"
            aria-controls="pills-billing" aria-selected="true">Invoice</a>
        </li>
        <li class="nav-item mr-5"(click)="showStatus('normal')"  >
            <a class="nav-link " id="pills-history-tab" data-toggle="pill" href="#pills-history" role="tab"
              aria-controls="pills-history" aria-selected="true">Pending Payment</a>
          </li>
  
  
      </ul>
  
    </div>
  
    <div class="search__input has-search ml-auto">
      <span class="fa fa-search form-control-feedback"></span>
      <input type="text" class="form-control" placeholder="Search">
    </div>
  </div>
  
  
  <div class="tab-content" id="pills-tabContent">
    <div class="tab-pane fade show active" id="pills-class" role="tabpanel" aria-labelledby="pills-class-tab">
      <div class="empty-state" *ngIf="allPaymentList?.length == 0">
        <p class="text-center fs-24 ff-a">
          You have not added any record
        </p>
      </div>  
      <section class="list table-responsive" *ngIf="allPaymentList?.length > 0">
            <table class="table table-borderless client-table">
              <thead>
                <tr>
                  <th scope="col" class="head ">
                   Invoice #
                  </th>
                  <th scope="col">Student # </th>
                  <th scope="col">Total (#) </th>
      
                  <th scope="col">Paid(#) </th>
                  <th scope="col">Outstanding(#) </th>
                  <th scope="col">Fee Type </th>
                  <th scope="col">Due Date </th>
                  <th scope="col">Status</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
                <tr class="pb-1" *ngFor="let payment of allPaymentList" >
                  <td scope="row" class="check rounded-left">
                    {{payment?.invoiceNumber}}
                  </td>
                  <td class="user">
                    <p class=" mb-0">{{payment?.studentRegNumber}} </p>
                  </td>
                  <td class="user">
                    <p class=" mb-0">{{payment?.totalAmount}} </p>
                  </td>
                  <td class="user">
                    <p class=" mb-0">{{payment?.totalPaid}} </p>
                  </td>
                  <td class="user">
                    <p class=" mb-0"> {{payment?.outstanding}} </p>
                  </td>
                  <td class="user">
                    <p class=" mb-0"> {{payment?.feeType}} </p>
                  </td>
                  <td class="user">
                    <p class=" mb-0"> {{payment?.dueDate | date: 'mediumDate'}} </p>
                  </td>
                 
      
                  <td>
                    <span class="status status_active" *ngIf="payment?.status === 'Paid'" >Paid</span>
                    <span class="status status_inactive" *ngIf="payment?.status === 'Pending'">Pending</span>
                    <span class="status status_overdue" *ngIf="payment?.status === 'Awaiting_Approval'">Awaiting</span>
                    <span class="status status_outstanding" *ngIf="payment?.status === 'Rejected'">Rejected</span>
                  </td>
                  <td>
                    <img *ngIf="payment?.status === 'Confirmed'"   src="assets/images/svg/view-payment.png" class="mr-3" alt="..." />
                    <img data-toggle="modal" data-target="#paymentModal" *ngIf="payment?.status === 'Pending' || payment?.status === 'Overdue'   "   src="assets/images/svg/make-payment.png" class="mr-3 cursor-pointer" alt="..." />
                    <img data-toggle="modal" data-target="#confirmPaymentModal" *ngIf="payment?.status === 'Awaiting_Approval' "  (click)="getTransactionDetails(payment?.transactionId)"  src="assets/images/svg/view-payment.png" class="mr-3 cursor-pointer" alt="..." />
                   
                    
                   
                  </td>
                 
                </tr>
               
      
      
              </tbody>
            </table>
      
          </section>
    </div>
    <div class="tab-pane fade " id="pills-type" role="tabpanel" aria-labelledby="pills-type-tab">
      
      <div class="empty-state" *ngIf="allPaymentHistoryList?.length == 0">
        <p class="text-center fs-24 ff-a">
          You have not added any record
        </p>
      </div>
      <section class="list table-responsive" *ngIf="allPaymentHistoryList?.length > 0">
        <table class="table table-borderless client-table">
          <thead>
            <tr>
             
              <th scope="col">Invoice #</th>
              <th scope="col">Student  </th>
  
              <th scope="col">Total(#)
  
              </th>
              <th scope="col">
                Fee Type
              </th>
              <th scope="col">
                Session
              </th>
              <th scope="col">
                Term 
              </th>
              <th scope="col">
                Due Date 
              </th>
            </tr>
          </thead>
          <tbody>
            <tr class="pb-1" *ngFor="let history of allPaymentHistoryList" >
             
              <td class="user">
                <p class=" mb-0">{{history?.invoiceNumber}} </p>
              </td>
              <td class="user">
                <p class=" mb-0">{{history?.studentRegNumber}}</p>
              </td>
              <td class="user">
                <p class=" mb-0">{{history?.total}}</p>
              </td>
              <td class="user">
                <p class=" mb-0">{{history?.feeGroup}}</p>
              </td>
              <td class="user">
                <p class=" mb-0">{{history?.session}}</p>
              </td>
              <td class="user">
                <p class=" mb-0">{{history?.termName}}</p>
              </td>
              <td class="user">
                <p class=" mb-0">{{history?.dueDate | date: 'mediumDate'}}</p>
              </td>
  
            </tr>
  
  
  
          </tbody>
        </table>
  
      </section>
    </div>
    <div class="tab-pane fade " id="pills-billing" role="tabpanel" aria-labelledby="pills-billing-tab">
      <div class="empty-state" *ngIf="invoiceList?.length == 0">
        <p class="text-center fs-24 ff-a">
          You have not added any record
        </p>
      </div>
      <section class="list table-responsive" *ngIf="invoiceList?.length > 0">
        <table class="table table-borderless client-table">
          <thead>
            <tr>
              <th scope="col" class="head ">
               Invoice #
              </th>
              <th scope="col">Student # </th>
              <th scope="col">Total (#) </th>
  
              <th scope="col">Fee Type </th>
              <th scope="col">Session </th>
              <th scope="col">Term </th>
              <th scope="col">Class </th>
              <th scope="col">Date</th>
              <th scope="col">Status</th>
            </tr>
          </thead>
          <tbody>
            <tr class="pb-1" *ngFor= "let invoice of invoiceList" >
              <td scope="row" class="check rounded-left">
                {{invoice?.invoiceNumber}}
              </td>
              <td class="user">
                <p class=" mb-0">{{invoice?.studentRegNumber}} </p>
              </td>
              <td class="user">
                <p class=" mb-0">{{invoice?.total}} </p>
              </td>
              <td class="user">
                <p class=" mb-0">{{invoice?.feeGroup}} </p>
              </td>
              <td class="user">
                <p class=" mb-0"> {{invoice?.session}} </p>
              </td>
              <td class="user">
                <p class=" mb-0"> {{invoice?.termName}} </p>
              </td>
              <td class="user">
                <p class=" mb-0"> {{invoice?.class}}</p>
              </td>
              <td class="user">
                <p class=" mb-0"> {{invoice?.dueDate | date: 'mediumDate'}} </p>
              </td>
  
              <td>
                <span class="status status_active" *ngIf="invoice?.status === 'Approved'" >Approved</span>
                <span class=" status status_inactive" *ngIf="invoice?.status === false">Inactive</span>
              </td>
             
            </tr>
  
  
  
          </tbody>
        </table>
  
      </section>
    </div>
    <div class="tab-pane fade " id="pills-history" role="tabpanel" aria-labelledby="pills-history-tab">
      <div class="empty-state d-flex justify-content-center align-items-center" *ngIf="allPendingPaymentList?.length == 0">
        <p class="text-center  fs-24 ff-a">
          You have not added any record
        </p>
      </div>
      <section class="list table-responsive" *ngIf="allPendingPaymentList?.length > 0">
        <table class="table table-borderless client-table">
          <thead>
            <tr>
              <th scope="col" class="head ">
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="customCheckTh">
                  <label class="custom-control-label" for="customCheckTh"></label>
                </div>
              </th>
              <th scope="col">Invoice # </th>
              <th scope="col">Reference </th>
  
              <th scope="col">Amount(#)
  
              </th>
              <th scope="col">Fee Type</th>
              <th scope="col">Session</th>
              <th scope="col">Term</th>
              <th scope="col">Payment Date</th>
              <th scope="col">Status</th>
            </tr>
          </thead>
          <tbody>
            <tr class="pb-1" >
              <td scope="row" class="check rounded-left">
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="customCheck1">
                  <label class="custom-control-label" for="customCheck1"></label>
                </div>
              </td>
              <td class="user">
                <p class=" mb-0">'{{type}}' </p>
              </td>
              <td class="user">
                <p class=" mb-0">'{{type}}' </p>
              </td>
  
              <td>
                <span class="status_active" >Active</span>
                <!-- <span class="status_inactive" *ngIf="type?.isActive === false">Inactive</span> -->
              </td>
              
            </tr>
  
  
  
          </tbody>
        </table>
  
      </section>
    </div>
  
  
  </div>
  
  
  
  <!-- Finance Modal -->
  <div class="modal fade" id="invoiceModal" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalCenterFinanceTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-length" role="document">
      <div class="modal-content">
  
        <div class="modal-head mb-4">
          <div class="d-flex justify-content-between align-items-center ">
            <h6 class="modal-title fc-lblue">Generate Invoice</h6>
            <img src="assets/images/svg/close-modal.svg" alt="modal close button" id="closeInvoiceModal"
              data-dismiss="modal" aria-label="Close" class="close">
  
          </div>
  
        </div>
        <div class="modal-body client-modal">
          <form [formGroup]="invoiceForm" (ngSubmit)="generateInvoice()">
  
  
            <div class="row mb-3">
                <div class="col-md-6">
                    <label for="account" class="">Level </label>
                    <select name="" id="sex" class="form-control " name="lvel"
                formControlName="level" (change)="getClassBySectionId($event.target.value)">
                  <option value="" selected>Select...</option>
                  <option [value]="section.id" *ngFor = "let section of sections" > {{section.name}}</option>

                </select>   
                </div>
                <div class="col-md-6">
                    <label for="account" class="">Class Name </label>
                    <select name="" id="sex" class="form-control " name="lvel" formControlName="ClassId">
                        <option value="" selected>Select...</option>
                        <option [value]="class.id" *ngFor = "let class of classes" > {{class.name + ' ' + class?.classGroup}}</option>
      
                      </select> 
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-md-6">
                    <label for="account" class="">Fee Type </label>
                    <select name="" id="sex" class="form-control " name="lvel"
                formControlName="FeegroupId" >
                  <option value="" selected>Select...</option>
                  <option [value]="fee.id" *ngFor="let fee of feeGroupList">{{fee?.name}}</option>

                </select>   
                </div>
                <div class="col-md-6">
                    <label for="account" class="">Session </label>
                    <select name="" id="sex" class="form-control " name="lvel" formControlName="session" (change)="getTerms($event.target.value)" >
                        <option value="" selected>Select...</option>
                        <option [value]="s" *ngFor = "let session of sessionList; let s = index" > {{session.name }}</option>
      
                      </select> 
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-md-6">
                    <label for="account" class="">Term </label>
                    <select name="" id="sex" class="form-control " name="lvel"
                formControlName="term" >
                  <option value="" selected>Select...</option>
                  <option [value]="term.sequenceNumber " *ngFor="let term of termList; let t = index" > {{term.name}}</option>

                </select>   
                </div>
                <div class="col-md-6">
                    <label for="account" class="">Payment </label>
                   <input type="date" name="" id="" class="form-control" formControlName="paymentDate">
                </div>
            </div>
            
            
  
  
  
            <div class="d-flex justify-content-center mb-3">
              <button type="button " class="btn btn-outline-orange  px-5 mb-4 mt-3  mb-3 mr-3 "
                data-dismiss="modal">Cancel
              </button>
              <button class="btn btn-orange-two px-5 mb-4 mt-3" [disabled]="invoiceForm.invalid"> Generate</button>
            </div>
          </form>
        </div>
  
      </div>
    </div>
  </div>
  <!-- end of Finance modal -->
  



    <!-- Finance Modal -->
    <div class="modal fade" id="paymentModal" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalCenterFinanceTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-length" role="document">
      <div class="modal-content">
  
        <div class="modal-head mb-4">
          <div class="d-flex justify-content-between align-items-center ">
            <h6 class="modal-title fc-lblue">Master Babalola Invoice</h6>
            <img src="assets/images/svg/close-modal.svg" alt="modal close button" id="closeInvoiceModal"
              data-dismiss="modal" aria-label="Close" class="close">
  
          </div>
  
        </div>
        <div class="modal-body client-modal">
          <form [formGroup]="invoiceForm" (ngSubmit)="generateInvoice()">
  
  
            <div class="row mb-3">
                <div class="col-md-6">
                    <label for="account" class="">Payment Mode <span class="text-danger">*</span></label>
                    <select name="" id="sex" class="form-control " name="lvel"
                  formControlName="level" (change)="getClassBySectionId($event.target.value)">
                  <option value="" selected>Select...</option>
                  <option value="bank" > Bank</option>

                </select>   
                </div>
                <div class="col-md-6">
                    <label for="account" class="">Bank </label>
                    <select name="" id="sex" class="form-control " name="lvel" formControlName="ClassId">
                        <option value="" selected>Select...</option>
                        <option value="citibank">Citibank</option>
          <option value="diamond">Diamond Bank</option>
          <option value="ecobank">Ecobank</option>
          <option value="fidelity">Fidelity Bank</option>
          <option value="firstbank">First Bank</option>
          <option value="fcmb">First City Monument Bank (FCMB)</option>
          <option value="gtb">Guaranty Trust Bank (GTB)</option>
          <option value="heritage">Heritage Bank</option>
          <option value="keystone">Keystone Bank</option>
          <option value="polaris">Polaris Bank</option>
          <option value="providus">Providus Bank</option>
          <option value="stanbic">Stanbic IBTC Bank</option>
          <option value="standard">Standard Chartered Bank</option>
          <option value="sterling">Sterling Bank</option>
          <option value="suntrust">Suntrust Bank</option>
          <option value="union">Union Bank</option>
          <option value="uba">United Bank for Africa (UBA)</option>
          <option value="unity">Unity Bank</option>
          <option value="wema">Wema Bank</option>
          <option value="zenith">Zenith Bank</option>
      
                      </select> 
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-md-6">
                    <label for="account" class="">Reference Number </label>
                    <input type="text" class="form-control" placeholder="Enter reference number">
                </div>
                <div class="col-md-6">
                  <label for="account" class="">Paid by </label>
                  <input type="text" class="form-control" placeholder="Payment made by">
              </div>
            </div>

            <div class="row mb-3">
              <div class="col-md-6">
                <label for="account" class="">Payment Date </label>
                <input type="date" class="form-control" placeholder="Enter payment date">
            </div>
                <div class="col-md-6">
                    <label for="account" class="">Outstanding </label>
                   <input type="number" name="" id="" class="form-control">
                </div>
            </div>
            <div class="row mb-3">
              <div class="col-md-6">
                <label for="account" class="">Paid </label>
                <input type="number" class="form-control" placeholder="Enter amount paid">
            </div>
                <div class="col-md-6">
                    <label for="account" class="">Total Amount </label>
                   <input type="number" name="" id="" class="form-control" placeholder="Total Amount">
                </div>
            </div>
            <div class="row mb-3">
              <div class="col-md-6">
                <label for="account" class="">Extra charges </label>
                <input type="number" class="form-control" placeholder="Extra charges">
            </div>
                <div class="col-md-6">
                    <label for="account" class=""> Amount </label>
                   <input type="number" name="" id="" class="form-control" placeholder=" amount">
                </div>
            </div>
            
            
  
  
  
            <div class="d-flex justify-content-center mb-3">
              <button type="button " class="btn btn-outline-orange  px-5 mb-4 mt-3  mb-3 mr-3 "
                data-dismiss="modal">Cancel
              </button>
              <button class="btn btn-orange-two px-5 mb-4 mt-3" > Pay</button>
            </div>
          </form>
        </div>
  
      </div>
    </div>
  </div>
  <!-- end of Finance modal -->


      <!-- Confirm payment Modal -->
      <div class="modal fade" id="confirmPaymentModal" tabindex="-1" role="dialog"
      aria-labelledby="exampleModalCenterFinanceTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-length" role="document">
        <div class="modal-content">
    
          <div class="modal-head mb-4">
            <div class="d-flex justify-content-between align-items-center ">
              <h6 class="modal-title fc-lblue">Payment Confirmation</h6>
              <img src="assets/images/svg/close-modal.svg" alt="modal close button" id="closeConfirmPaymentModal"
                data-dismiss="modal" aria-label="Close" class="close">
    
            </div>
    
          </div>
          <div class="modal-body client-modal">
            <form [formGroup]="acceptRejectForm">
    
    
              <div class="row mb-3">
                  <div class="col-md-6">
                      <label for="account" class="">Transaction ID <span class="text-danger">*</span></label>
                     <input type="text" placeholder="Transaction ID" class="form-control" formControlName="transactionId">
                  </div>
                  <div class="col-md-6">
                      <label for="account" class="">Invoice Number </label>
                      <input type="text" placeholder="Invoice number" class="form-control" formControlName="invoice">

                  </div>
              </div>
  
              <div class="row mb-3">
                  <div class="col-md-6">
                      <label for="account" class="">Payment Reference </label>
                      <input type="text" class="form-control" placeholder="Enter reference number" formControlName="paymentReference">
                  </div>
                  <div class="col-md-6">
                    <label for="account" class="">Payment Channel </label>
                    <input type="text" class="form-control" placeholder="Payment channel" formControlName="paymentChannel">
                </div>
              </div>
  
              <div class="form-group">
                  <label for="account" class="">Transaction Description</label>
                  <input type="text" class="form-control" placeholder="Enter payment date" formControlName="description">
              </div>

              <div class="form-group" *ngIf="reject">
                  <label for="account" class="">Rejection reason</label>
                  <input type="text" class="form-control" placeholder="Enter reason for rejection" formControlName="Comment">
              </div>
    
              <div class="d-flex justify-content-center mb-3">
                <button type="button " class="btn btn-outline-orange  px-5 mb-4 mt-3  mb-3 mr-3 "  *ngIf="approve" (click)="rejectTransanction(true)"
                 >Reject
                </button>
                <button class="btn btn-orange-two px-5 mb-4 mt-3" (click)="approvalTransaction()"  *ngIf="approve"  > Confirm</button>
              </div>

              <div class="d-flex justify-content-center mb-3" *ngIf="reject2" >
                
                <button class="btn btn-orange-two px-5 mb-4 mt-3" (click)="sendRejection()"   > Confirm Reject</button>
              </div>

            </form>
          </div>
    
        </div>
      </div>
    </div>
    <!-- end of confirm payment modal -->
 