

.banner {
    width: 100%;
    background-image: url("../../../../assets/images/svg/billing-bg.png");
    background-color: #1d4e4d;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0 1.5rem;
    color: #ffffff;

    background-blend-mode: multiply;
    mix-blend-mode: multiply;
    backdrop-filter: opacity(.4);
}

.banner__text-primary {
    font-size: 36px;
}





/* tabs */

.searchpills-bar {
    position: relative;
}


 .nav-link {
     padding: .5rem .5rem;
 }
 .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #000000;
    font-weight: 600;
  border-bottom: 3px solid  #EB6B04;;
    background: transparent;
    border-radius: 0;
    padding: 7px 5px;
    /* font-size: 13px; */
    font-family: nunito;
    z-index: 22;
  }
  .nav-pills .nav-link, .nav-pills .show>.nav-link {
    color: #A4A5A8;
    /* font-size: 13px; */
    }
   

/* end of tabs */



.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

/* ================= table ====================== */
table.client-table {
    border-collapse: separate;
    border-spacing: 0 1em;
}

.list .table thead {
    color: #4c75bd;
}

.list .table thead tr th {
    font-weight: 600;
}

table tr,
td {
    padding: 15px;
}
.list .table thead .head {
    /* display: flex;
      align-items: center;
      color: #0a1128;
      font-weight: 600; */
    padding-left: 1rem;
}

.list .table tbody .check {
    padding-left: 1rem;
}

.list .table tbody .user span {
    position: absolute;
    bottom: 20px;
    left: 15px;
}



.list .table tbody .user div h6 {
    color: #355691;
    font-size: 14px;
    /* opacity: none; */
}



.list .table tbody tr {
    background: #ffffff;
    box-shadow: 10px 10px 30px rgba(211, 220, 231, 0.4);
    border-radius: 5px;
}



/* .list .table tbody td:nth-child(2) {
    color: #355691;
} */

 .list .table tbody td:not(:first-child) {
    color: #355691;
}  

.list .table tbody .status_active {
    background: #ebfffa;
    border-radius: 10px;
    color: #09b78a;
    
}

.list .table tbody .status_overdue {
    background: #fae5e7;
    border-radius: 10px;
    color: #d72638;
   
}
.list .table tbody .status_pending {
    background: #FEF2C8;
    border-radius: 10px;
    color: #463701;
    
}

.list .table tbody .status {
    font-weight: 600;
    width: 110px;
    height: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 40px;
    font-size: 12px;
}

.status_outstanding {
    background: #E9E6FE;
border-radius: 10px;
color: #482FF7;
}




/* sms modal  */
.modal-content {
    border-radius: 0 !important;
    border: none;
    position: relative;

}


.modal-head {
    padding: 20px 40px;
    background: #EBF0F5;
    /* display: flex;
    justify-content: space-between; */
}



.client-modal {
    display: flex;
    flex-direction: column;

    padding: 0px 40px;

}

form {
    width: 100%;
}



textarea {
    height: 150px;
}

.close {
    cursor: pointer;
}

h6 {
    font-weight: bold;
    font-weight: 600;
}

/* .form-group .custom-control-label::before {

    background: #f2f2f2;
    font-size: 16px;
}

.form-group .custom-control-label::after {

    background: #ffffff;
} */




.class-label {
    margin-right: 5rem;
}


.school-image {
    width: 50px;
    height: 60px;
}

  
 .invoice .table tbody tr {
    font-family: Fira Mono;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 13px;
    /* identical to box height */
    
    
    color: #111118;

  }

.invoice-p {
    font-family: Fira Mono;
font-style: normal;
font-weight: 500;
font-size: 11px;


display: flex;
align-items: center;
text-align: right;

color: #000000;
}

.totals {
    font-family: Fira Mono;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 14px;


/* Text */

color: #0052B4;
}


.subtotal {
    margin-top: 2rem;
    font-family: Fira Mono;
font-style: normal;
font-size: 16px;
line-height: 19px;
font-weight: bolder;


/* Text */

color: #0052B4;
}

.invoice-title {
    
font-family: Work Sans;
font-style: normal;
font-weight: bold;
font-size: 30px;
line-height: 35px;
display: flex;
align-items: center;

color: #111118;
}


@media print {
    button {
      display: none;
    }

    

    
  }