

<div class="container-fluid">
    <div class="row">
        <div class="col-md-9 mt-3 p-4">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <img src="assets/images/svg/breadcrumb.svg" class="mr-3" alt="..." />
                  <li class="breadcrumb-item a1 " aria-current="page" (click)="back()">
                    <a class="fc-lblue">Back</a>
                  </li>
                </ol>
        
        
              </nav>
            
              <section class="banner mb-4 d-flex justify-content-between">
                <p class="banner__text-primary py-5 pl-5">School fee <br> <span> </span> </p>
                <div class="justify-content-end">
                  <!-- <p class="last-login pt-3 pr-5 fw-6">Last Login: </p> -->
                </div>
              </section>

              <section class="list bg-white">
                <table class="table table-borderless client-table">
                  <thead>
                    <tr>
        
                      <th scope="col">Desciption
        
                      </th>
        
                      <th scope="col">Rate
        
                      </th>
                      <th scope="col"> Sub Total </th>
        
                    </tr>
                  </thead>
                  <tbody>
        
                    <tr class="pb-2 " >
        
                      <td class="border-bottom ">
                        <div class="d-flex">
                          <div class="custom-control custom-checkbox" >
                            <input type="checkbox" class="custom-control-input" id="customCheck1">
                            <label class="custom-control-label" for="customCheck1"></label>
                        </div>
                        <p class="mb-0">Monthly</p>
                        </div>
                      </td>
        
                      <td class=" border-bottom ">1 </td>
                      <td class="  border-bottom  ">
                       3
                      </td>
        
                    </tr>
        
                    
        
        
                  </tbody>
                </table>
        
              </section>
        

        </div>

        <div class="col-md-3 bg-white p-3  notice-board d-flex flex-column " id="announcement">
            <div class="d-flex justify-content-end mb-3">

            </div>

            <div class="d-flex">
              <p>School Fees</p>
            </div>
            <div class="d-flex mb-2">
              <p class="mb-0 pr-5">Description</p>
              <p class="mb-0">School Fees</p>
            </div>
            <div class="d-flex mb-2">
              <p class="mb-0 pr-5">Date Created</p>
              <p class="mb-0">Apr 30, 2020</p>
            </div>
            <div class="d-flex mb-2">
              <p class="mb-0 pr-5">Date Due</p>
              <p class="mb-0">12, May 2020</p>
            </div>

            <div class="d-flex align-items-center justify-content-start mt-5">
                <button class="btn-payment bill-btn mr-3" data-toggle="modal" 
                data-target="#exampleModalCenter3">Make Payment</button>
            </div>
        </div>
    </div>
</div>



<!-- file manager Modal -->
<div class="modal fade" id="exampleModalCenter3" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenter3Title"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-length"  role="document">
    <div class="modal-content">

      <div class="modal-head mb-2">
        <div class=" mb-3"> 
          <h6 class="modal-title">New Transaction</h6>

        </div>
        
      </div>
      <div class="modal-body client-modal">
        <form [formGroup]="createTransactionForm" (ngSubmit)="createTransaction()">

         

          <div class="form-group b-3">
            <label for="title" class="fw-6">Description </label>
            <input type="text" placeholder="Account name" class="form-control form-control-lg " formControlName="description">
          </div>
          <div class="form-group b-3">
            <label for="title" class="fw-6">Total Amount Payable </label>
            <input type="number" placeholder="Account name" class="form-control form-control-lg " formControlName="totalAmount">
          </div>
          <div class="form-group b-3">
            <label for="title" class="fw-6">Amount Payable </label>
            <input type="number" placeholder="Account name" class="form-control form-control-lg " formControlName="amount">
          </div>


          <div class="d-flex justify-content-center mb-3">
            <button type="button " class="btn-blue  mb-3 " >Create transaction </button>
            <button type="button" class=" btn-blue actions ml-3 " data-dismiss="modal" aria-label="Close" id="closeAssignmentModal">Cancel </button>
          </div>

        </form>
      </div>

    </div>
  </div>
</div>
<!-- end of file manager modal -->
