

<div class="container-fluid">
    <div class="row">
        <div class="col-md-9 mt-3 p-4">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <img src="assets/images/svg/breadcrumb.svg" class="mr-3" alt="..." />
                  <li class="breadcrumb-item a1 " aria-current="page" (click)="back()">
                    <a class="fc-lblue">Back</a>
                  </li>
                </ol>
        
        
              </nav>
            
              <div class="col-md-12" >
                <iframe class="file-viewer p-3 bg-white w-100 "
                  style="height: 85vh; width: 100%;">
                  <p>dOCUMENT VIEWR GOES HERE</p>
                </iframe>
              </div>
              <!-- <div class="col-md-12" *ngIf="fileDetails?.fileType === 'image/png'">
                <iframe class="file-viewer p-3 bg-white w-100 "
                  [src]="' data:image/png;base64,' + fileDetails?.file | trustedUrl" style="height: 85vh; width: 100%;">
                  <p>dOCUMENT VIEWR GOES HERE</p>
                </iframe>
              </div> -->
        </div>

        <div class="col-md-3 bg-white   notice-board d-flex flex-column " id="announcement">

        </div>
    </div>
</div>