#announcement {
    position: fixed;
    height: 100vh;
    z-index: 9;
    margin: 0 auto;
    right: -81px;
    margin-right: auto;
}


.breadcrumb {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0.75rem 0;
    margin-bottom: 1rem;
    list-style: none;
    background-color: transparent;
    border-radius: 0.25rem;
    cursor: pointer;
}

a {
    color: #1b5bac;
    font-weight: normal;
    cursor: pointer;
}

.breadcrumb-item+.breadcrumb-item::before {
    display: inline-block;
    padding-right: 0.5rem;
    color: #1b5bac;
    content: ">";
    font-size: 10px;
    display: none;
}