.breadcrumb {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0.75rem 0;
  margin-bottom: 1rem;
  list-style: none;
  background-color: transparent;
  border-radius: 0.25rem;
  cursor: pointer;
}

a {
  color: #1b5bac;
  font-weight: normal;
  cursor: pointer;
}

.breadcrumb-item + .breadcrumb-item::before {
  display: inline-block;
  padding-right: 0.5rem;
  color: #1b5bac;
  content: ">";
  font-size: 10px;
  display: none;
}
.btn-orange-two {
  background: #04aed4;
  border-radius: 5px;
  height: 44px;
  font-family: Nunito;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  color: #ffffff;
}

.btn-upload-top {
  border: none;
  outline: none;
  padding: 11px 25px;
  border-radius: 2.5px;
  color: #fff;
  /* font-weight: 600; */
  border-radius: 10px;
}

.search {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.has-search .form-control {
  padding-left: 2.375rem;
  background: #fefeff;
  border: 1px solid #abc3df;
  box-sizing: border-box;
  border-radius: 5px;
  font-size: 12px;
  font-weight: normal;
}

.has-search .form-control::placeholder {
  color: #abc3df;
}

.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #abc3df;
}

input[type="text"] {
  width: 125%;
}

select {
  background: #fafafa;
  border: 1px solid #92b5dd;
  font-size: 12px;
}

.grade-container {
  height: 100vh;
}

thead th {
  background: #ebf0f5;
  border: 1px solid #b4cde9;
  font-size: 16px;
  color: #355691;
  font-weight: normal;
  /* font-weight: 600; */
}

tbody td {
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  text-align: center;
}

.w-40 {
  width: 30%;
}

.student-id p:first-child {
  color: #355691;
  font-size: 18px;
}
.student-info {
  color: #355691;
}

.interpretation {
  font-weight: 600;
  width: 100px;
  height: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 17px 40px; */
}
.excellent {
  background: #ebfffa;
  color: #09b78a;
}

.fail {
  background: #f1dfe2;
  color: #d80027;
}

.very-good {
  background: #e5f4d3;
  color: #7ec02e;
}
.good {
  background: #f1efdf;
  color: #c1ac00;
}
.fair {
  background: #d9ce98;
  color: #665500;
}

.head-teacher::placeholder {
  font-size: 16px;
  line-height: 16px;
  /* identical to box height, or 100% */

  color: #d1d9df;
}

.breaks {
  border-bottom: 2px dotted black;
}
