.card-b {
    border-radius: 8px;
    box-shadow: 0px 20px 40px #edf0f5;

}

.alumi-body {
    max-width: 115rem;
    background: #EBF0F5;
    padding: 0px 1rem;
    display: flex;

    margin: 0 auto;
}


.user-avatar {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    object-fit: cover;
}

.notification-avatar {
    width: 45px;
    height: 45px;
    object-fit: cover;
}
.post-avatar {
    width: 55px;
    height: 55px;
    object-fit: cover;
    border-radius: 50%;
}


.notification-card .notification-title {
    font-size: 15px;
}

.notification-card .notification-subtitle {
    font-size: 13px;
    font-weight: 400;
    color: #333333;

}

.notification .new {
    font-size: 15px;
    color: #1666C5;
    border-radius: 8px;
    background: rgba(22, 102, 197, 0.1);

}

.btn-notification {
    background: rgba(22, 102, 197, 0.1);
    border-radius: 8px;
    color: #1666C5;
    font-size: 15px;
    font-weight: bold;
    padding: .8rem 0 !important;
}

.post-field {
    background: #F1F2F5;
    border: none;
    border-radius: 8px;
    width: 100%;
    padding-left: 8px;
    outline: none;
}


.card-course {
    font-size: 13px;
    color: #9EA9B8;
}

.post-field::placeholder {
    color: #66676B, 100%;
    font-family: Nunito;
}

.post-exerpt {
    font-family: DM sans;
}

.post-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.h-35 {
    height: 35%;
}
header {
    /* background: #014D94; */

}