<div class="basic-details">

  <form [formGroup]="employeeForm">
    <div class="form-row mb-5 ">
      <div class=" ">
        <label for="staff" class="fw-6">Staff Type <span class="text-danger">*</span></label>
        <select name="" id="staff" class="form-control form-control-lg" formControlName="StaffType">
          <!-- <option value="" selected> select</option> -->
          <option value="1"> Academic Staff</option>
          <option value="2"> Non Academic Staff</option>
        </select>
        <div *ngIf="employeeForm.controls.StaffType.touched && employeeForm.controls.StaffType.errors" class="error">
          <small *ngIf="employeeForm.controls.StaffType.errors.required" class="text-danger">Field is required</small>
          <!-- <small *ngIf="basicInfoForm.controls.countryOfOrigin.errors.email" class="text-danger">Invalid email pattern</small> -->
        </div>

      </div>

      <div class=" ">
        <label for="status" class="fw-6">Employment Status <span class="text-danger">*</span></label>
        <select name="" id="status" class="form-control form-control-lg" formControlName="EmploymentStatus">
          <!-- <option value="" selected> select </option> -->
          <option value="full-time"> Full Time </option>
          <option value="part-time"> Part Time </option>
        </select>
        <div *ngIf="employeeForm.controls.EmploymentStatus.touched && employeeForm.controls.EmploymentStatus.errors" class="error">
          <small *ngIf="employeeForm.controls.EmploymentStatus.errors.required" class="text-danger">Field is required</small>
          <!-- <small *ngIf="basicInfoForm.controls.countryOfOrigin.errors.email" class="text-danger">Invalid email pattern</small> -->
        </div>
      </div>

    </div>

    <div class="form-row mb-5 ">

      <div class="  ">
        <label for="qualification" class="fw-6">Highest Qualification <span class="text-danger">*</span></label>
        <select name="" id="qualification" class="form-control form-control-lg" formControlName="HighestQualification">
          <!-- <option value="" selected> select </option> -->
          <option value="PHD" selected> PHD </option>
          <option value="MSc" selected> MSc </option>
          <option value="BSc" selected> BSc </option>
          <option value="HND" selected> HND </option>
          <option value="NCE" selected> NCE </option>
        </select>
        <div *ngIf="employeeForm.controls.HighestQualification.touched && employeeForm.controls.HighestQualification.errors" class="error">
          <small *ngIf="employeeForm.controls.HighestQualification.errors.required" class="text-danger">Field is required</small>
          <!-- <small *ngIf="basicInfoForm.controls.countryOfOrigin.errors.email" class="text-danger">Invalid email pattern</small> -->
        </div>

      </div>

      <div class=" ">
        <label for="job-title" class="fw-6">Job Title <span class="text-danger">*</span></label>
        <input type="text" class="form-control form-control-lg" id="job-title" placeholder="Enter other names"
          formControlName="JobTitle" required>
          <div *ngIf="employeeForm.controls.JobTitle.touched && employeeForm.controls.JobTitle.errors" class="error">
            <small *ngIf="employeeForm.controls.JobTitle.errors.required" class="text-danger">Field is required</small>
            <!-- <small *ngIf="basicInfoForm.controls.countryOfOrigin.errors.email" class="text-danger">Invalid email pattern</small> -->
          </div>
      </div>
    </div>

    <div class="form-row mb-5 ">

      <div class="  ">
        <label for="department" class="fw-6">Department <span class="text-danger">*</span></label>

        <select name="" id="department" class="form-control form-control-lg" formControlName="DepartmentId">
          <!-- <option value="" selected> select </option> -->
          <option [value]="department?.id" *ngFor="let department of departmentList"> {{department?.name}} </option>
          <!-- <option [value]="N/A" *ngIf = "department?.name === null"> Not Available </option> -->

        </select>

        <div *ngIf="employeeForm.controls.DepartmentId.touched && employeeForm.controls.DepartmentId.errors" class="error">
          <small *ngIf="employeeForm.controls.DepartmentId.errors.required" class="text-danger">Field is required</small>
          <!-- <small *ngIf="basicInfoForm.controls.countryOfOrigin.errors.email" class="text-danger">Invalid email pattern</small> -->
        </div>
      </div>

      <div class=" ">
        <label for="pay" class="fw-6">Pay Grade <span class="text-danger">*</span></label>

        <select name="" id="pay" class="form-control form-control-lg" formControlName="PayGrade">
          <!-- <option value="" selected> select</option> -->
          <option value="150,000"> 150,000</option>
          <option value="250,000"> 250,000</option>
        </select>

        <div *ngIf="employeeForm.controls.PayGrade.touched && employeeForm.controls.PayGrade.errors" class="error">
          <small *ngIf="employeeForm.controls.PayGrade.errors.required" class="text-danger">Field is required</small>
          <!-- <small *ngIf="basicInfoForm.controls.countryOfOrigin.errors.email" class="text-danger">Invalid email pattern</small> -->
        </div>
      </div>
    </div>


    <div class="form-row mb-5">
      <div class=" ">
        <label for="empdate" class="fw-6">Employment Date <span class="text-danger">*</span></label>

        <input type="date" id="empdate" class="form-control form-control-lg" formControlName="EmploymentDate" (input)="getStartDate($event.target.value)">
        
      </div>

      <div class="  ">
        <label for="icon" class="fw-6">Resumption Date</label>
        <input type="date" id="empdate" class="form-control form-control-lg" formControlName="ResumptionDate" [min]="minDate">

        <div *ngIf="employeeForm.controls.ResumptionDate.touched && employeeForm.controls.ResumptionDate.errors" class="error">
          <small *ngIf="employeeForm.controls.ResumptionDate.errors.required" class="text-danger">Field is required</small>
          <!-- <small *ngIf="basicInfoForm.controls.countryOfOrigin.errors.email" class="text-danger">Invalid email pattern</small> -->
        </div>

      </div>

    </div>




    <div class=" d-flex justify-content-center mt-5 mb-5">
      <button class="btn btn-outline-orange mx-2 mx-lg-3 px-5 mb-4 mt-3" (click)="prevStep()"> Back </button>
      <button class="btn btn-orange-two mx-2 mx-lg-3 px-5 mb-4 mt-3" (click)='nextStep() '
        [disabled]="employeeForm.invalid"> Next </button>

    </div>
    </form>
    
</div>