<div class="medical-details">


<form [formGroup]="medicalForm"  >
    
        <div class="row mb-4">
            <div class="col-md-6 ">
                <label for="blood" class="fw-6">Blood Group <span
                        class="text-danger">*</span></label>
                <select name="" id="blood" class="form-control form-control-lg" formControlName="BloodGroup">
                    <option value="O-" selected>O-</option>
                    <option value="O+" selected>O+</option>
                    <option value="A" selected>A</option>

                </select>
    
            </div>
    
            <div class="col-md-6">
                <label for="genotype" class="fw-6">Genotype <span
                        class="text-danger">*</span></label>
                <select name="" id="genotype" class="form-control form-control-lg" formControlName="Genotype">
                    <option value="AA" selected>AA</option>
                    <option value="AB" selected>AB</option>
                    <option value="AO" selected>AO</option>
                </select>
    
            </div>
        </div>
    
        <div class="row mb-4">
            <div class="col-md-6 ">
                <label for="disability" class="fw-6">Disability <span
                        class="text-danger">*</span></label>
                <select name="" id="disability" class="form-control form-control-lg" formControlName="Disability">
                    <option value="false" selected>No</option>
                    <option value="true" selected>Yes</option>
                </select>
    
            </div>
    
        </div>
    
        <div class="form-group mb-4">
            <label for="allergies">Allergies</label>
            <textarea name="" id="allergies" class="form-control form-control-lg" formControlName="Allergies"
                placeholder="Allergies"></textarea>
        </div>
        <div class="form-group mb-4">
            <label for="confidential">Confidential Notes</label>
            <textarea name="" id="confidential" class="form-control form-control-lg"
            formControlName="ConfidentialNotes"
                placeholder="Enter a note"></textarea>
        </div>
    
        <!-- <div class="row mb-5">
            <div class="col-md-3">
                <label for="">Immunization</label>
                <input type="date" class="form-control form-control-lg" formControlName="date">
            </div>
            <div class="col-md-3 ">
                <label for="">&nbsp;</label>
    
                <input type="number" class="form-control form-control-lg" placeholder="Age" formControlName="age">
    
            </div>
            <div class="col-md-5 ">
                <label for="">&nbsp;</label>
    
                <input type="text" class="form-control form-control-lg" placeholder="Vaccine" formControlName="vaccine">
    
            </div>
    
    
        </div> -->
        <div formArrayName="immunizationVms" *ngFor ="let item of medicalForm.get('immunizationVms')['controls']; let i = index;">
            <div [formGroupName]="i"  >
                <div class="row mb-5" >
                    <div class="col-md-3">
                        <label for="">Immunization {{i + 1}}</label>
                        <input type="date" class="form-control form-control-lg"  formControlName="date">
                    </div>
                    <div class="col-md-3 ">
                        <label for="">&nbsp;</label>
            
                        <input type="number" class="form-control form-control-lg" placeholder="Age" formControlName="age">
            
                    </div>
                    <div class="col-md-5 ">
                        <label for="">&nbsp;</label>
            
                        <input type="text" class="form-control form-control-lg" placeholder="Vaccine" formControlName="vaccine">
            
                    </div>
                </div>
        
        
            </div>
        </div>
        <button class="btn btn-orange-two mx-2  px-5 mb-4 mt-3" (click)='addImmunization() ' > Add More </button>

    </form>
            <div class=" d-flex justify-content-center mt-5">
                <button class="btn btn-outline-orange mx-2 mx-lg-3 px-5 mb-4 mt-3"> Cancel </button>
                <button class="btn btn-orange-two mx-2 mx-lg-3 px-5 mb-4 mt-3" (click)="nextStep()" > Next
                </button>
        
            </div>
</div>