<div class="col-md-12 mt-5 mr-3">
    <section class="banner mb-4 pb-3">
        <div class="pt-5 pl-3 content ">
          <h6 class="banner__text-primary fw-6 "> File Manager </h6>
          <p class="text-white"> Upload files </p>
        </div>
        <button class="btn btn-orange-two mx-2 mx-lg-3 px-5 mb-4 mt-3" data-toggle="modal" data-target="#exampleModalCenter3"> Upload </button>
    
      </section>

      <section class="search mt-5 mb-3">
        <div class="search__input has-search">
            <span class="fa fa-search form-control-feedback"></span>
            <input type="text" class="form-control" placeholder="Search">
        </div>
        
      </section>

      

      <!-- contact person Modal -->
<div class="modal fade" id="exampleModalCenter3" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenter3Title"
aria-hidden="true">
<div class="modal-dialog modal-dialog-centered modal-length" style="max-width: 45%;" role="document">
  <div class="modal-content">

    <div class="modal-head mb-2">
      <div class="d-flex justify-content-between mb-3">
        <h6 class="modal-title">Upload Files</h6>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="line">
        <p class="pb-3">Uplaod Class Note, Assignment</p>
      </div>
    </div>
    <div class="modal-body client-modal">
      <form >

        <div class="row mb-3">
          <div class="col-sm-6">
            <div class="form-row">
              <div class="form-group col-md-6">
                <select  class="form-control">
                  <option selected>Select Type</option>
                  <option value="note">Class Note</option>
                  <option value="assignment">Assignment</option>
                  <option value="media">Media</option>
                </select>
              </div>
              <div class="form-group col-md-6">
                <select  class="form-control">
                  <option selected>Select Class</option>
                  <option value="JSS1">JSS 1</option>
                  <option value="JSS2">JSS 2</option>
                  <option value="JSS3">JSS 3</option>
                  <option value="SS1">SS 1</option>
                  <option value="SS2">SS 2</option>
                  <option value="SS3">SS 3</option>
                </select>
              </div>
            </div>
          </div>
        </div>

        <div class="form-group file-upload mb-5">
          <label for="fileupload">Drag files to upload or click</label>
          <input type="file" class="file-input" id="fileupload">
          <button type="button " class="btn-upload  mb-3 ">Upload Files </button>
        </div>

        <div class="form-group mb-3">
          <label for="message">Optional message</label>
          <textarea name="" id="message" class="form-control"></textarea>
        </div>
       
        <div class="d-flex justify-content-end mb-3">
          <button type="button " class="btn-blue  mb-3 ">Upload Files </button>
        </div>

      </form>
    </div>

  </div>
</div>
</div>
<!-- end of contact modal -->
    
</div>