
    <div class="container-fluid ">
        <div class="row">
            <div class="col-md-9 pl-5  pr-4 pt-5">
                <div class="profile mb-5">
                    <div class="profile__student bg-white p-4">
                        <div class="d-flex mb-5">
                            <img src="assets/images/svg/student-img.svg" alt="new client" class="">
                            <div class="ml-3">
                                <p class="mb-0 fw-6">{{studentDetails?.given_name}} {{studentDetails?.family_name}}</p>
                                <p class="mb-0">AMT/2019/001</p>
                                <p class="mb-0 fc-lblue">Student</p>
                            </div>
                        </div>
                        <button class="bg-lblue btn-block  btn-student p-2" routerLink="/student/profile">View Profile</button>
                    </div>
                    
                    <div class="profile__hero">
                        <div class="profile__hero--intro bg-white br-10 pt-4 pb-2 px-3 mb-3">
                            <h5 class="fs-32 fc-lblue intro-text">Hello {{studentDetails?.given_name}}!</h5>
                            <p>It’s good to see you again. You have <span class="pending fw-bold">{{activeAssignment?.length}}</span> pending assignments, <span class="overdue fw-bold">{{dueAssignment?.length}}</span> overdue <br> assigments and <span class="book fw-bold">1</span> book overdue for return to the library.</p>
                            <img src="assets/images/svg/student-hero.svg" alt="student hero welcomr image" class="student-hero">
                        </div>
                        <div class="profile__cards">
                            <div class="card1 d-flex py-4 px-3 align-item-center justify-content-center profile__cards--card" [routerLink]="['/student/schedule']">
                                <img src="assets/images/svg/class.svg" alt="student card" class="mr-2">
                                <p class="mb-0 fw-6">Time table </p>
                            </div>
                            <div class="card2 d-flex py-4 px-3 align-item-center justify-content-center profile__cards--card" [routerLink]="['/student/assignment']">
                                <img src="assets/images/svg/assignment.svg" alt="student card" class="mr-2">
                                <p class="mb-0 fw-6">Assignment</p>
                            </div>
                            <div class="card3 d-flex py-4 px-3 align-item-center justify-content-center profile__cards--card">
                                <img src="assets/images/svg/note.svg" alt="student card" class="mr-2">
                                <p class="mb-0 fw-6">Class Notes</p>
                            </div>
                            <div class="card4 d-flex py-4 px-3 align-item-center justify-content-center profile__cards--card">
                                <img src="assets/images/svg/medical.svg" alt="student card" class="mr-2">
                                <p class="mb-0 fw-6">Medical Record</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="information mb-4">
                    <div class="information__schedule information-card-style p-4 pt-4 ">
                        <div class="d-flex justify-content-between align-items-center mb-4">
                            <div class="d-flex">
                                <img src="assets/images/svg/access_time.svg" alt="new client" class="mr-3">
                                <h6 class="fw-6 mb-0">My Schedule</h6>
                            </div>
                            <div>
                                <form>
                                    <select class="form-control" (change)="getNextClassesForAClass($event.target.value)">
                                        <option value="" selected> Select day</option>
                                        <option [value]="day?.id" *ngFor="let day of days">{{day?.day}}</option>
                                    </select>
                                </form>
                            </div>
    
                        </div>

                        <div class="date-picker mb-4 py-2 px-3 d-flex align-items-center justify-content-between">

                            <p class="mb-0">Mon</p>
                            <p class="mb-0">Tue</p>
                            <p class="mb-0"><span class="today">Wed</span></p>
                            <p class="mb-0">Thur</p>
                            <p class="mb-0">Fri</p>
                            
                        </div>
                        <p class="fw-6 mb-4">{{subjectAndTime?.length}} classes today</p>

                        <div  *ngFor="let class of subjectAndTime | slice: 0:4 ; let i = index" class="dropright" >
                            <div class="px-4 py-2 mb-4 bg-lblue class br-10 d-flex justify-content-between align-items-center pop-card "  id="dropdownMenuButton{{i}}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"  >
                                <div class="" id="dropdownMenuButton{{i}}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
                                    <p class="fw-6 mb-0">{{class?.subjectName | titlecase}}</p>
                                    <div class="d-flex">
                                        <img src="assets/images/svg/student-time-1.svg" alt="student" class="mr-2">
    
                                        <p class="mb-0 fs-12 fw-6">{{class?.timeFrom.hours}}:{{class?.timeFrom.minutes}} - {{class?.timeTo.hours}}:{{class?.timeTo.minutes}} </p>
                                    </div>
                                </div> 
                                <div class="d-flex">
                                    <img src="assets/images/svg/class-period3.svg" alt="new client" class="ml-4" *ngIf="class?.hasVirtual == true">
                                    <img src="assets/images/svg/class-period.svg" alt="new client" class="ml-4" *ngIf="class?.hasVirtual == false">
    
    
                                </div>
    
                                <div class="pop-card-holder  p-3">
                                    <div class="d-flex justify-content-between align-items-center mb-4">
                                        <img src="assets/images/svg/student-class-status.svg" alt="" class="mr-3">
                                        <p class="mb-0 fw-6"> {{class.subjectName}}</p>    {{i}}
                                    </div>
                                    <div class="br-10 bg-white p-3 mb-2 teacher-card d-flex align-items-center">
                                            <img src="assets/images/svg/teacher-img.svg" alt="new client" class="">
                                            <div class="ml-3">
                                                <p class="mb-0 fw-6 fc-lblue">Samuel Aliu</p>
                                                <p class="mb-0  ">English Teacher</p>
                                            </div>
                                    </div>
                                    <div class="d-flex justify-content-center align-items-center my-4">
                                        <p class="mb-0">Classmates:</p>
                                        <div class="d-flex ml-3 images mx-3">
                                            <img src="assets/images/svg/student.svg" alt="" class="student-img">
                                            <img src="assets/images/svg/student2.svg" alt="" class="student-img2">
                                            <img src="assets/images/svg/student3.svg" alt="" class="student-img3">
                                            <img src="assets/images/svg/student4.svg" alt="" class="student-img4">
                                        </div>
                                        <p class="mb-0">+20 others</p>
    
                                    </div>
                                    <div class="d-flex align-items-center mt-3 mb-3">
                                        <div class="d-flex mr-4">
                                            <img src="assets/images/svg/calendar.svg" alt="" class="mr-3">
                                            <div class="d-flex flex-column">
                                                <h6 class="fw-6 mb-0">28th June, 2020</h6>
                                                <p class="caption mb-0">Date</p>
                                            </div>
                                        </div>
                                        <div class="d-flex mr-5">
                                            <img src="assets/images/svg/time.svg" alt="" class="mr-3">
                                            <div class="d-flex flex-column">
                                                <h6 class="fw-6 mb-0">9 am</h6>
                                                <p class="caption mb-0">Time</p>
                                            </div>
                                        </div>
                                        <div class="d-flex">
                                            <img src="assets/images/svg/duration.svg" alt="new client" class="mr-3">
                                            <div class="d-flex flex-column">
                                                <h6 class="fw-6 mb-0">1 hr</h6>
                                                <p class="caption mb-0">Duration</p>
                                            </div>
                                        </div>
                                    </div>
    
                                    <div class="d-flex justify-content-center align-items-center">
                                        <button class="btn btn-orange-two mx-2 mx-lg-3 px-5 mb-4 mt-3" [routerLink]="['/student','start-class']" > Join Class </button>
    
                                    </div>
    
                                   
                          
                                </div>
    
                                <div class="dropdown-menu p-3" aria-labelledby="dropdownMenuButton">
                                    <div class="d-flex justify-content-between align-items-center mb-4">
                                        <img src="assets/images/svg/student-class-status.svg" alt="" class="mr-3">
                                        <p class="mb-0 fw-6"> {{class.subjectName | titlecase}}</p>    
                                    </div>
                                    <div class="br-10 bg-white p-3 mb-2 teacher-card d-flex align-items-center">
                                            <img src="assets/images/svg/teacher-img.svg" alt="new client" class="">
                                            <div class="ml-3">
                                                <p class="mb-0 fw-6 fc-lblue">{{class?.teacherName}}</p>
                                                <p class="mb-0  ">English Teacher</p>
                                            </div>
                                    </div>
                                    <div class="d-flex justify-content-center align-items-center my-4">
                                        <p class="mb-0">Classmates:</p>
                                        <div class="d-flex ml-3 images mx-3">
                                            <img src="assets/images/svg/student.svg" alt="" class="student-img">
                                            <img src="assets/images/svg/student2.svg" alt="" class="student-img2">
                                            <img src="assets/images/svg/student3.svg" alt="" class="student-img3">
                                            <img src="assets/images/svg/student4.svg" alt="" class="student-img4">
                                        </div>
                                        <p class="mb-0">{{class?.noOfStudent}} others</p>
    
                                    </div>
                                    <div class="d-flex align-items-center mt-3 mb-3">
                                        <div class="d-flex mr-4">
                                            <img src="assets/images/svg/calendar.svg" alt="" class="mr-3">
                                            <div class="d-flex flex-column">
                                                <h6 class="fw-6 mb-0">{{myDate | date : 'mediumDate'}}</h6>
                                                <p class="caption mb-0">Date</p>
                                            </div>
                                        </div>
                                        <div class="d-flex mr-5">
                                            <img src="assets/images/svg/time.svg" alt="" class="mr-3">
                                            <div class="d-flex flex-column">
                                                <h6 class="fw-6 mb-0">{{class?.timeFrom.hours}}:{{class?.timeFrom.minutes}}</h6>
                                                <p class="caption mb-0">Time</p>
                                            </div>
                                        </div>
                                        <div class="d-flex">
                                            <img src="assets/images/svg/duration.svg" alt="new client" class="mr-3">
                                            <div class="d-flex flex-column">
                                                <h6 class="fw-6 mb-0">{{timeConvert(class?.durationInMinutes)}}</h6>
                                                <p class="caption mb-0">Duration</p>
                                            </div>
                                        </div>
                                    </div>
    
                                    <div class="d-flex justify-content-center align-items-center">
                                        <button class="btn btn-orange-two mx-2 mx-lg-3 px-5 mb-4 mt-3" [routerLink]="['/student','start-class']" [hidden] = "class?.hasVirtual == false" > Join Class </button>
    
                                    </div>
                                </div>
    
                            </div>
                        </div>

                        <!-- <div class="px-4 py-2 mb-4 bg-grey class br-10 d-flex justify-content-between align-items-center"  >
                            <div class="">
                                <p class="fw-6 mb-0">Mathematics</p>
                                <div class="d-flex">
                                    <img src="assets/images/svg/student-time.svg" alt="student" class="mr-2">
                                    <p class="mb-0  fs-12 fw-6">09:00 - 10:00 </p>
                                </div>
                            </div> 
                            <div class="d-flex">
                                <img src="assets/images/svg/class-period.svg" alt="student" class="ml-4">

                            </div>
                        </div>

                        <div class="px-4 py-2 mb-4 bg-grey class br-10 d-flex justify-content-between align-items-center"  >
                            <div class="">
                                <p class="fw-6 mb-0">Basic Science</p>
                                <div class="d-flex">
                                    <img src="assets/images/svg/student-time.svg" alt="student" class="mr-2">
                                    <p class="mb-0 fs-12 fw-6">08:00 - 09:00 </p>
                                </div>
                            </div> 
                            <div class="d-flex">
                                <img src="assets/images/svg/class-period2.svg" alt="student" class="ml-4">

                            </div>
                        </div>
     -->
                        
                    </div>

                    <div class="information__notification information-card-style p-4 pt-4">
                        <div class="d-flex mb-4">
                            <img src="assets/images/svg/notifications_24px.svg" alt="new client" class="mr-3">
                            <h6 class="fw-6 mb-0">Notification</h6>
    
                        </div>

                        <div class="d-flex justify-content-between pb-2 mb-3 notification-card">
                            <p class="fs-14 mb-0">Your Maths assignment has <br> been graded</p>
                            <p class="fs-10">2 mins ago</p>
                        </div>
                        <div class="d-flex justify-content-between pb-2 mb-3 notification-card">
                            <p class="fs-14 mb-0">You have 2 assignments pending</p>
                            <p class="fs-10">2 mins ago</p>
                        </div>
                        <div class="d-flex justify-content-between pb-2 mb-3 notification-card">
                            <p class="fs-14 mb-0">You have 2 assignments pending</p>
                            <p class="fs-10">2 mins ago</p>
                        </div>


                        <div class="d-flex justify-content-center align-items-end">
                            <span>See all</span>
                        </div>
                    </div>

                    <div class="information__other ">
                        <div class="sheet information-card-style p-4 mb-3">

                            <div class="d-flex justify-content-between mb-4">
                                <div class="d-flex align-items-center">
                                    <img src="assets/images/svg/sheet.svg" alt="new client" class="mr-3">
                                    <h6 class="fs-18 b-0 fw-bold mb-0">Score Sheet</h6>
                                </div>
                                <span class="px-3 py-2 fs-10">See all</span>
        
                            </div>

                            <div class="mb-5 subject1">
                                <div class="d-flex justify-content-between mb-2">
                                    <p class="mb-0 fs-12 fw-6">Maths Test</p>
                                    <p class="mb-0 fs-12 fw-6"> 94% </p>
                                </div>
                                <div class="percentage mb-4"></div>
                            </div>
                            <div class="mb-5 subject2">
                                <div class="d-flex justify-content-between mb-2">
                                    <p class="mb-0 fs-12 fw-6">Business Studies Assignment</p>
                                    <p class="mb-0 fs-12 fw-6"> 91% </p>
                                </div>
                                <div class="percentage"></div>
                            </div>

                        </div>

                        <div class="library information-card-style p-4">

                            <div class="d-flex justify-content-between mb-4">
                                <div class="d-flex align-items-center">
                                    <img src="assets/images/svg/library.svg" alt="new client" class="mr-3">
                                    <h6 class="fs-18 b-0 fw-bold">Library</h6>
                                </div>
                                <span class="px-3 py-2 fs-10">See all</span>
        
                            </div>

                            <div class="mb-3  library-notes note1  py-3">
                                <div class="d-flex justify-content-between align-items-center  pl-3 pr-2">
                                    <p class="mb-0 fs-14 fw-6">Encyclopedia</p>
                                    <span class="overdue fs-12 px-2 py-1">Overdue</span>
                                </div>

                            </div>
                            <div class="mb-3   library-notes note2  py-3">
                                <div class="d-flex justify-content-between align-items-center pl-3 pr-2">
                                    <p class="mb-0 fs-14 fw-6">New English For Junior <br> Secondary School 3</p>
                                    <span class="overdue fs-12 px-2 py-1">Overdue</span>
                                </div>

                            </div>


                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 bg-white notice-board">
                <h5 class="fc-lblue mt-4 ">2nd term 2019/2020 Session</h5>
                <div class="notice-board-card ml-2 mr-3 mt-5 p-3 br-10">
                    <div class="d-flex mb-3"> 
                        <img src="assets/images/svg/notice-board.svg" alt="new client" class="mr-4">
                        <p class="fw-6 mb-0">Announcement</p>
                    </div>
                    <div class="d-flex mb-3"> 
                        <p class="fw-6"><span class=" fw-6 fs-20">20</span> days to Exam</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
