<div class="main">
    <div class="d-flex justify-content-end align-items-center mb-2">
        <button class="parent-act-btn px-4 ">Send Message</button>
    </div>
    <div class="billing mb-5">
        <p class="billing__intro">Billing</p>
        <div class="billing__cards">
            <div class="billing__cards__1 py-4 px-4">
                <p class="billing__card_intro">
                    Total amount paid
                </p>
                <h4 class="billing__card_amount">
                  &#x20A6;{{  addCommas(totalMoneyPaid)}}
                </h4>
            </div>
            <div class="billing__cards__2 py-4 px-4">
                <p class="billing__card_intro">
                    Unpaid transactions
                </p>
                <h4 class="billing__card_amount">
                    0
                </h4>
            </div>
            <div class="billing__cards__3 py-4 px-4">
                <p class="billing__card_intro">
                    Total number of payments
                </p>
                <h4 class="billing__card_amount">
                  {{paymentCount?.length}}
                </h4>
            </div>
        </div>
    </div>



    <div class="media-inner mb-4">
        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
          <li class="nav-item mr-4 ">
            <a class="nav-link active" id="pills-upload-tab" data-toggle="pill" href="#pills-upload" role="tab"
              aria-controls="pills-upload" aria-selected="true">Payments </a>
          </li>
          <li class="nav-item  mr-4">
            <a class="nav-link " id="pills-record-tab" data-toggle="pill" href="#pills-record" role="tab"
              aria-controls="pills-record" aria-selected="true">Transaction(s) </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link " id="pills-record2-tab" data-toggle="pill" href="#pills-record2" role="tab"
              aria-controls="pills-record2" aria-selected="true">Transaction history </a>
          </li>


        </ul>

    </div>

    <div class="tab-content bg-white px-4" id="pills-tabContent">
        <div class="tab-pane fade show active" id="pills-upload" role="tabpanel" aria-labelledby="pills-upload-tab">

            <section class="list">
                <table class="table table-borderless client-table">
                  <thead>
                    <tr>
    
                     
                      
                      <th scope="col">Invoice Number
    
                      </th>
                      <th scope="col"> Description </th>
                      <th scope="col"> Total Amount </th>
                      <th scope="col"> Amount Payable </th>
                      <th scope="col"> Amount Paid </th>
                      <th scope="col"> Outstanding </th>
                      <th scope="col"> Status </th>
                      <th scope="col"> Action </th>
    
                    </tr>
                  </thead>
                  <tbody>
                  
                    <tr class="pb-2 " *ngFor="let invoice of parentInvoice">
    
                      <td class="border-bottom ">
                        {{invoice?.invoiceNumber}}
                      </td>
                      
                      <td class=" border-bottom ">{{invoice?.feeGroup}} </td>
                      <td class=" border-bottom ">{{invoice?.total}} </td>
                      <td class=" border-bottom ">{{invoice?.total}}</td>
                      <td class="  border-bottom  ">
                           {{invoice?.paid}}
                      </td>
                      <td class="  border-bottom  ">
                         {{invoice?.outstanding}}
                      </td>
                      
                      <td class="  border-bottom  ">
                        <!-- <span class="status_inactive">{{invoice?.status}}</span> -->
                         <span class="status status_active" *ngIf="invoice?.status === 'Active'" >Active</span>
                        <span class="status status_inactive" *ngIf="invoice?.status === 'Pending'">Pending</span>
                        <span class=" status status_overdue" *ngIf="invoice?.status === 'Overdue'">Overdue</span>
                        <span class=" status status_outstanding" *ngIf="invoice?.status === 'Outstanding'">Outstanding</span>
                      </td> 
                      <td class="border-bottom">
                        <span class="view" routerLink="/parent/parent-portal/view-bill/{{invoice.invoiceId}}"  > View</span>
                      </td>
    
                    </tr>
                
                   
                    
                  </tbody>
                </table>
    
              </section>
         
        </div>
        <div class="tab-pane fade " id="pills-record" role="tabpanel" aria-labelledby="pills-record-tab">

            <section class="list">
                <table class="table table-borderless client-table">
                  <thead>
                    <tr>
    
                      <th scope="col" >S/N
    
                      </th>
                      
                      <th scope="col">Transaction Id
    
                      </th>
                      <th scope="col"> Total Amount </th>
                      <th scope="col"> Description </th>
                      <th scope="col"> Due Date </th>
                     
                      <th scope="col"> Status </th>
                      <th scope="col"> Action </th>
    
                    </tr>
                  </thead>
                  <tbody>
                  
                   
                    <tr class="pb-2 " *ngFor="let transaction of allPendingPaymentList; let t = index ">
    
                      <td class="border-bottom ">
                        {{t + 1}}
                      </td>
                      <td class="border-bottom ">
                        {{transaction?.transactionNumber}}
                      </td>
                      
                      <td class=" border-bottom ">{{transaction?.amount}} </td>
                      <td class=" border-bottom ">{{transaction?.description}} </td>
                      <td class="  border-bottom  ">
                           {{transaction?.dueDate | date: 'mediumDate'}}
                      </td>
                    
                      <td class="  border-bottom  ">
                        <span class="status status_inactive" *ngIf="transaction?.status === 'Pending'">Pending</span>

                      </td>
                      <td class="border-bottom">
                        <button class="send-receipt  " (click)="getReceiptid(transaction?.transactionId)"  data-toggle="modal" data-target="#receiptModal">Upload receipt</button>
                      </td>
    
                    </tr>
                
                   
                    
                  </tbody>
                </table>
    
              </section>
        </div>
        <div class="tab-pane fade " id="pills-record2" role="tabpanel" aria-labelledby="pills-record2-tab">

            <section class="list">
                <table class="table table-borderless client-table">
                  <thead>
                    <tr>
    
                      <th scope="col" >S/N
    
                      </th>
                      
                      <th scope="col">Transaction Id
    
                      </th>
                      <th scope="col"> Total Amount </th>
                      <th scope="col"> Description </th>
                      <th scope="col"> Due Date </th>
                      <!-- <th scope="col"> Term </th> -->
                      <!-- <th scope="col"> Session </th> -->
                      <th scope="col"> Status </th>
                      <th scope="col"> Action </th>
    
                    </tr>
                  </thead>
                  <tbody>
                  
                   
                    <tr class="pb-2 " *ngFor="let history of allTransactionList; let h = index">
    
                      <td class="border-bottom ">
                        {{h + 1}}
                      </td>
                      
                      <td class=" border-bottom ">{{history?.transactionNumber}} </td>
                      <td class=" border-bottom "> {{history?.amount}} </td>
                      <td class="  border-bottom  ">
                            {{history?.description}}
                      </td>
                      <td class="  border-bottom  ">
                           {{history?.dueDate | date: 'mediumDate'}}
                      </td>
                      <!-- <td class="  border-bottom  ">
                            {{2009/2010}}
                      </td>
                      <td class="  border-bottom  ">
                           2009/2010
                      </td> -->
                      <td class="  border-bottom  ">
                        <span class="status_active" *ngIf="history?.status === 'Paid'">Paid</span>
                      </td>
                      <td class="border-bottom">
                        <button class="upload bg-lblue" (click)="viewFile(history?.fileId) " data-toggle="modal" data-target="#exampleModalCenter">View receipt</button>
                      </td>
    
                    </tr>
                 
                  </tbody>
                </table>
    
              </section>
        </div>
      </div>


</div>


<!-- file manager Modal -->
<div class="modal fade" id="receiptModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenter3Title"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-length" style="max-width: 45%;" role="document">
    <div class="modal-content">

      <div class="modal-head mb-2">
        <div class=" mb-3"> 
          <h6 class="modal-title">Upload Receipt</h6>

        </div>
        
      </div>
      <div class="modal-body client-modal">
        <form [formGroup]="uploadReceiptForm" (ngSubmit)="submitReceipt()">

          <div class="form-group mb-3">
            <label for="title" class="fw-6">Reference Number </label>
            <input type="text" placeholder="Enter your teller or receipt number" class="form-control form-control-lg " formControlName="referenceNumber">
          </div>
          <div class="form-group mb-3">
            <label for="title" class="fw-6">Description </label>
            <input type="text" placeholder="Enter payment narration" class="form-control form-control-lg " formControlName="description">
          </div>
         
          <p>Enter your evidence of payment if you paid via bank</p>
          <div class="form-group file-upload mb-5">
            <label for="fileupload" *ngIf="assignmentFile === null; else bulkFile">Drag & drop your files here <br> or click to browse your files </label>
            <ng-template #bulkFile class="mt-5">
              <label for="fileupload"> {{assignmentFile}} </label>
            </ng-template>
            <input type="file" class="file-input" id="fileupload" (change)="handleFileUpload($event)">
            <!-- <button type="button " class="btn-upload  mb-3 ">Upload Files </button> -->
          </div>

          <div class="form-group mb-3">
            <!-- <label for="message">Optional message</label> -->
            <!-- <ckeditor [editor]="Editor" data="<p>Hello, world!</p>"></ckeditor> -->

          </div>

          <div class="d-flex justify-content-between mb-3">
            <button type="button" class="close close-text" data-dismiss="modal" aria-label="Close" id="closeReceiptModal">Cancel </button>
            <button type="button " class="btn-blue  mb-3 " [disabled]="uploadReceiptForm.invalid" >Submit</button>
          </div>

        </form>
      </div>

    </div>
  </div>
</div>
<!-- end of file manager modal -->



<!-- file manager Modal -->
<div class="modal fade" id="receiptModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenter3Title"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-length" style="max-width: 45%;" role="document">
    <div class="modal-content">

      <div class="modal-head mb-2">
        <div class=" mb-3"> 
          <h6 class="modal-title">Upload Receipt</h6>

        </div>
        
      </div>
      <div class="modal-body client-modal">
        <form [formGroup]="uploadReceiptForm" (ngSubmit)="submitReceipt()">

          <div class="form-group mb-3">
            <label for="title" class="fw-6">Reference Number </label>
            <input type="text" placeholder="Enter your teller or receipt number" class="form-control form-control-lg " formControlName="referenceNumber">
          </div>
          <div class="form-group mb-3">
            <label for="title" class="fw-6">Description </label>
            <input type="text" placeholder="Enter payment narration" class="form-control form-control-lg " formControlName="description">
          </div>
         
          <p>Enter your evidence of payment if you paid via bank</p>
          <div class="form-group file-upload mb-5">
            <label for="fileupload" *ngIf="assignmentFile === null; else bulkFile">Drag & drop your files here <br> or click to browse your files </label>
            <ng-template #bulkFile class="mt-5">
              <label for="fileupload"> {{assignmentFile}} </label>
            </ng-template>
            <input type="file" class="file-input" id="fileupload" (change)="handleFileUpload($event)">
            <!-- <button type="button " class="btn-upload  mb-3 ">Upload Files </button> -->
          </div>

          <div class="form-group mb-3">
            <!-- <label for="message">Optional message</label> -->
            <!-- <ckeditor [editor]="Editor" data="<p>Hello, world!</p>"></ckeditor> -->

          </div>

          <div class="d-flex justify-content-between mb-3">
            <button type="button" class="close close-text" data-dismiss="modal" aria-label="Close" id="closeReceiptModal">Cancel </button>
            <button type="button " class="btn-blue  mb-3 " [disabled]="uploadReceiptForm.invalid" >Submit</button>
          </div>

        </form>
      </div>

    </div>
  </div>
</div>
<!-- end of file manager modal -->



<!-- file manager Modal -->
<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" style="max-width: 45%;" role="document">
    <div class="modal-content">
      <div class="modal-head">
        <div class="d-flex justify-content-between align-items-center ">
          <h6 class="modal-title fc-lblue">Payment Receipt</h6>
          <img src="assets/images/svg/close-modal.svg" alt="modal close button" id="closeConfirmPaymentModal"
            data-dismiss="modal" aria-label="Close" class="close">

        </div>

      </div>
      <div class="modal-body client-modal">
        <div class="row">
          <div class="col-md-12 my-3 p-2">
              <iframe class="file-viewer p-3 bg-white w-100 "
                [src]="' data:image/jpeg;base64,' + fileDetails | trustedUrl" style="height: 85vh; width: 100%;">
                <p>dOCUMENT VIEWR GOES HERE</p>
              </iframe>
        </div>
      </div>

    </div>
  </div>
</div>
<!-- end of file manager modal -->







