

.billing__intro {
    /* font-family: Montserrat; */
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 22px;
/* identical to box height */

letter-spacing: 0.09625px;

color: #0A122A;
}
.billing__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1.5rem;
}

.billing__cards__1 {
    background: #81B4E0;
border: 1px solid #148AF0;
box-sizing: border-box;
/* card/shadow */

box-shadow: 0px 10px 20px rgba(10, 18, 42, 0.06);
border-radius: 5px;
}

.billing__cards__2 {
    background: #DD6177;
    border: 1px solid #D80027;
    box-sizing: border-box;
    /* card/shadow */
    
    box-shadow: 0px 10px 20px rgba(10, 18, 42, 0.06);
    border-radius: 5px;
}
.billing__cards__3 {
    background: #EDAC54;
    border: 1px solid #FB882C;
    box-sizing: border-box;
    /* card/shadow */
    
    box-shadow: 0px 10px 20px rgba(10, 18, 42, 0.06);
    border-radius: 5px;
}

.billing__card_intro {
    font-family: Nunito;
    font-weight: bold;
font-size: 16px;
line-height: 22px;
/* identical to box height */


color: #FFFFFF;
}
.billing__card_amount {
    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 38px;
    
    color: #FFFFFF;
}

.media-inner .nav-link {
    padding: 0.5rem 0.5rem;
  }
  .media-inner .nav-pills .nav-link.active,
  .nav-pills .show > .nav-link {
    color: #000000;
    font-weight: 600;
    border-bottom: 3px solid #eb6b04;
    background: transparent;
    border-radius: 0;
    padding: 7px 5px;
    /* font-size: 13px; */
    font-family: nunito;
    z-index: 22;
  }
  .media-inner .nav-pills .nav-link,
  .nav-pills .show > .nav-link {
    color: #a4a5a8;
    background: transparent;
    /* font-size: 13px; */
  }
  
  /* end of tabs */


  
/* ================= table ====================== */
table.client-table {
    border-collapse: separate;
    border-spacing: 0 1em;
  }
  
  .list .table thead {
    color: #767676;
    font-weight: 600;
    background: #E7E7E7;
/* shadow */

/* box-shadow: 0px 15px 35px rgba(73, 87, 94, 0.05); */
  }
  
  .list .table thead tr th {
    font-weight: 600;
    padding-bottom: 0;
  }
  
  .list .table thead .head {
    /* display: flex;
    align-items: center;
    color: #0a1128;
    font-weight: 600; */
    padding-left: 1rem;
  }
  
  
  
  
  .list .table th, td {
    /* padding: 22px 15px; */
  }
  
  .list .table tbody tr {
    /* border: 1px solid #bed0e4; */
    box-sizing: border-box;
    /* guy */
  
    font-weight: 600;
font-size: 14px;
line-height: 19px;
/* identical to box height */


color: #383F51;

  }
  
  .list .table tbody td:not(:first-child) {
    /* color: #0a1128; */
    /* opacity: 0.6; */
  }
  
  .list .table tbody .status_active {
    color: #09b78a;
    background: #ebfffa;
    border-radius:2px;
    font-weight: 600;
    width: 80px;
    height: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 17px 30px;
  }
  .list .table tbody .view {
  
    background: #1B998B;
    border-radius: 5px;
    font-weight: 600;
    width: 18px;
    height: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 17px 40px;
    color: #FFFFFF;
    cursor: pointer;
  }
  
  .list .table tbody .status_inactive {
    background: #fae5e7;
    border-radius: 2px;
    color: #FF3C3C;
    font-weight: 600;
    width: 80px;
    height: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 17px 30px;
  }

  .upload {
    background: #0052B4;
    border: none;
    outline: none;
    font-size: 14px;
    color: #ffffff;
    box-sizing: border-box;
border-radius: 10px;
width: 160px;
height: 26px;
display: flex;
justify-content: center;
align-items: center;
padding: 17px 30px;

}


.send-receipt {
  background: #1B998B;
  border: none;
  outline: none;
  font-size: 14px;
  color: #ffffff;
  box-sizing: border-box;
  border-radius: 10px;
  width: 160px;
  height: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 17px 30px;
  color: #FFFFFF;
  cursor: pointer;
}

  
/* modal */
.modal-content {
  border-radius: 0 !important;
  border: none;
  position: relative;

}


.modal-head {
  padding: 20px 40px;
  /* display: flex;
  justify-content: space-between; */
}


.init {
color: #0052b4;

}

.client-modal {
  display: flex;
  flex-direction: column;

  padding: 0px 40px;

}

form {
  width: 100%;
}

.file-upload {
  position: relative;
  background-image: url('../../../assets/images/svg/ass-upload.svg');
  background-repeat: no-repeat;
  background-position: 270px 35px;
  background-color: rgba(148, 177, 209, 0.31);
  border: 2px dashed #ABC3DF;
  border-radius: 5px;
  height: 240px;
}

.file-upload label {
  position: absolute;
  top: 135px;
  right: 200px;
  text-align: center;
  display: flex;
  align-items: center;
  
}


.file-input {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  cursor: pointer;
  opacity: 0;
}

.file-input:focus {
  outline: none;
}

.btn-upload {
  position: absolute;
  top: 125px;
  right: 200px;
  border: none;
  outline: none;
  padding: 11px 50px;
  border-radius: 2.5px;
  background: #0052B4;
  color: #fff;
  /* font-weight: 600; */
  border-radius: 10px;
}

textarea {
  height: 90px;
}


h6 {
  font-weight: bold;
  font-weight: 600;
}

p {
  color: #000000;
  font-size: 14px;
}

.close-text {
font-size: 15px;
outline: none;
}

.btn-blue {
  padding: 11px 50px;
  border-radius: 2.5px;
  background: #0052B4;
  color: #fff;
  /* font-weight: 600; */
  border-radius: 10px;
  border: none;
  outline: none;
}

