<nav aria-label="breadcrumb">
    <ol class="breadcrumb" (click)="back()">
        <img src="assets/images/svg/breadcrumb.svg" class="mr-3" alt="..." />
        <li class="breadcrumb-item a1 " aria-current="page" >
            <a>Back</a>
        </li>


        <!-- <li class="breadcrumb-item a1 active ml-auto" aria-current="page">
            <a><img src="assets/images/svg/new-user.svg" class="mr-1" alt="..." /> Users & Roles / Edit Role</a>
        </li> -->
    </ol>


</nav>

<div class="user mt-2" >

    
    <div class="user__permission">
        <div class="user__intro mb-4">
            <h6 class="fw-6">Add Role</h6>
    
        </div>
    
        <div class="user__select mb-3">
            <form>
                <label for="roleTitle">Role Title</label>
                <input type="text" class="form-control" placeholder="Admin" [(ngModel)]="roleData.name" name="name">
            </form>
            <div>
    
            </div>
        </div>
        <table class="table table-borderless client-table">
            <thead>
                <tr>
                    <th scope="col" class="head ">Permission
                    </th>
                    <th scope="col"> </th>
                    <th scope="col"> </th>
                    <th scope="col"> </th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr class="pb-2" *ngFor = "let role of newList; let i = index">
                    <td scope="row" class="user rounded-left">
                        {{role[0]}}
                    </td>
                    <td class="" *ngFor="let permission of role[1]; let i = index">
                        <div class="custom-control custom-checkbox" >
                            <input type="checkbox" class="custom-control-input" id="customCheck{{permission.id}}" [value]="permission.id" (change)="getID($event.target.value)" >
                            <label class="custom-control-label " for="customCheck{{permission.id}}">{{permission.name}}</label>
                        </div>
                    </td>
                    <!-- <td class="">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="customCheck2">
                            <label class="custom-control-label " for="customCheck2">VIEW</label>
                        </div>
                    </td>
                    <td class="">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="customCheck3">
                            <label class="custom-control-label " for="customCheck3">EDIT/UPDATE</label>
                        </div>
                    </td>

                    <td class="rounded-right action">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="customCheck4">
                            <label class="custom-control-label " for="customCheck4">DELETE</label>
                        </div>
                    </td> -->
                </tr>

                <!-- <tr class="pb-2">
                    <td scope="row" class="user rounded-left">
                        Client
                    </td>
                    <td class="">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="customCheckClient">
                            <label class="custom-control-label " for="customCheckClient">CREATE/ADD</label>
                        </div>
                    </td>
                    <td class="">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="customCheckClient2">
                            <label class="custom-control-label " for="customCheckClient2">VIEW</label>
                        </div>
                    </td>
                    <td class="">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="customCheckClient3">
                            <label class="custom-control-label " for="customCheckClient3">EDIT/UPDATE</label>
                        </div>
                    </td>

                    <td class="rounded-right action">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="customCheckClient4">
                            <label class="custom-control-label " for="customCheckClient4">DELETE</label>
                        </div>
                    </td>
                </tr>

                <tr class="pb-2">
                    <td scope="row" class="user rounded-left">
                        Transaction
                    </td>
                    <td class="">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="customCheckTransact">
                            <label class="custom-control-label " for="customCheckTransact">CREATE/ADD</label>
                        </div>
                    </td>
                    <td class="">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="customCheckTransact2">
                            <label class="custom-control-label " for="customCheckTransact2">VIEW</label>
                        </div>
                    </td>
                    <td class="">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="customCheckTransact3">
                            <label class="custom-control-label " for="customCheckTransact3">EDIT/UPDATE</label>
                        </div>
                    </td>

                    <td class="rounded-right action">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="customCheckTransact4">
                            <label class="custom-control-label " for="customCheckTransact4">DELETE</label>
                        </div>
                    </td>
                </tr>

                <tr class="pb-2">
                    <td scope="row" class="user rounded-left">
                        Users & Roles
                    </td>
                    <td class="">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="customCheckUser">
                            <label class="custom-control-label " for="customCheckUser">CREATE/ADD</label>
                        </div>
                    </td>
                    <td class="">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="customCheckUser2">
                            <label class="custom-control-label " for="customCheckUser2">VIEW</label>
                        </div>
                    </td>
                    <td class="">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="customCheckUser3">
                            <label class="custom-control-label " for="customCheckUser3">EDIT/UPDATE</label>
                        </div>
                    </td>

                    <td class="rounded-right action">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="customCheckUser4">
                            <label class="custom-control-label " for="customCheckUser4">DELETE</label>
                        </div>
                    </td>
                </tr>


                <tr class="pb-2">
                    <td scope="row" class="user rounded-left">
                        SMS Logs
                    </td>
                    <td class="">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="customCheckSMS">
                            <label class="custom-control-label " for="customCheckSMS">CREATE/ADD</label>
                        </div>
                    </td>
                    <td class="">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="customCheckSMS2">
                            <label class="custom-control-label " for="customCheckSMS2">VIEW</label>
                        </div>
                    </td>
                    <td class="">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="customCheckSMS3">
                            <label class="custom-control-label " for="customCheckSMS3">EDIT/UPDATE</label>
                        </div>
                    </td>

                    <td class="rounded-right action">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="customCheckSMS4">
                            <label class="custom-control-label " for="customCheckSMS4">DELETE</label>
                        </div>
                    </td>
                </tr>


                <tr class="pb-2">
                    <td scope="row" class="user rounded-left">
                        Reports
                    </td>
                    <td class="">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="customCheckReport">
                            <label class="custom-control-label " for="customCheckReport">CREATE/ADD</label>
                        </div>
                    </td>
                    <td class="">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="customCheckReport2">
                            <label class="custom-control-label " for="customCheckReport2">VIEW</label>
                        </div>
                    </td>
                    <td class="">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="customCheckReport3">
                            <label class="custom-control-label " for="customCheckReport3">EDIT/UPDATE</label>
                        </div>
                    </td>

                    <td class="rounded-right action">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="customCheckReport4">
                            <label class="custom-control-label " for="customCheckReport4">DELETE</label>
                        </div>
                    </td>
                </tr>


                <tr class="pb-2">
                    <td scope="row" class="user rounded-left">
                        Banks
                    </td>
                    <td class="">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="customCheckBank">
                            <label class="custom-control-label " for="customCheckBank">CREATE/ADD</label>
                        </div>
                    </td>
                    <td class="">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="customCheckBank2">
                            <label class="custom-control-label " for="customCheckBank2">VIEW</label>
                        </div>
                    </td>
                    <td class="">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="customCheckBank3">
                            <label class="custom-control-label " for="customCheckBank3">EDIT/UPDATE</label>
                        </div>
                    </td>

                    <td class="rounded-right action">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="customCheckBank4">
                            <label class="custom-control-label " for="customCheckBank4">DELETE</label>
                        </div>
                    </td>
                </tr>


                

                 -->






            </tbody>
        </table>

        <div class="user__btn">
            <button class="btn btn-outline-orange mx-2 mx-lg-3 px-5 mb-4 mt-3"> Cancel </button>
            <button class="btn btn-orange-two mx-2 mx-lg-3 px-5 mb-4 mt-3" (click)="createRoles()"
                > Create </button>

        </div>
    </div>
</div>