<div class="container-fluid mt-4">
    <div class="row">
      <div class="col-md-12 mt-5">
  
       
        <section class="banner mb-4 pb-3" >
          <div class="pt-5 pl-3 content ">
            <h6 class="banner__text-primary fw-6 "> Class Attendance </h6>
            <p class=""> &nbsp; </p>
          </div>
          <!-- <button class="btn btn-orange-two mx-2 mx-lg-3 px-5 mb-4 mt-3" [routerLink]="['/teacher/mark-attendance']">
            Take Attendance </button> -->
  
        </section>
        
       
        <div class="d-flex justify-content-between  align-items-center mb-4">
            <div>
              <form>
                <div class="row">
                  <div class="col options">
                    <select name="" id="" class="form-control" (change)="getSubjects($event.target.value)" >
                      <option value="">Select Class</option>
                      <option value={{class.classSubjectId}} *ngFor="let class of classList; let i = index">{{class.class}}</option>
                    </select>
                  </div>
                  <div class="col options">
                    <select name="" id="" class="form-control" (change)="getSubjectsId($event.target.value)">
                      <option value="">Select Subject</option>
                      <option [value]="subject.classSubjectId" *ngFor="let subject of subjectList">{{subject.subject | titlecase}}</option>
                    </select>
                  </div>
                </div>
              </form>
            </div>

            <button *ngIf="displayClass" class="btn bg-lblue-2 mx-2 mx-lg-3 px-5 mb-4 mt-3" [routerLink]="['/teacher/mark-attendance']">
              Update </button>
        
           
          </div>
        
         
        
          <div class="file-viewer d-flex justify-content-center align-items-center p-3 bg-white w-100 " *ngIf="noClass"
                  style="height: 85vh; width: 100%;">
                  <div class="d-flex flex-column text-center">
                    <img src="assets/images/svg/sad-face.svg" alt="table sort icon" class="mb-3">
                    <p class="fw-6 fs-24" style="color:#BAB9C1;">Select class and subject to display <br> information</p>
                  </div>
          </div>


          <!-- <div class="d-flex justify-content-between  align-items-center mb-3" *ngIf="displayClass">
            <form>
              <div class="row">
                <div class="col options">
                  <select name="" id="" class="form-control" (change)="getSubjects($event.target.value)">
                    <option value="">Select Class</option>
                    <option [value]="class?.id" *ngFor="let class of classList"> {{class.name}}{{class?.classGroup}}</option>
                  </select>
                </div>
                <div class="col options">
                  <select name="" id="" class="form-control" (change)="getSubjectsId($event.target.value)">
                    <option value="">Select Subject</option>
                    <option [value]="subject.id" *ngFor="let subject of subjectList">{{subject.subject | titlecase}}</option>
                  </select>
                </div>
              </div>
            </form>
            <button class="btn bg-lblue-2 mx-2 mx-lg-3 px-5 mb-4 mt-3" [routerLink]="['/teacher/mark-attendance']">
             Update </button>
    
        
           
          </div> -->


          <div class="row" *ngIf="displayClass">
            <div class="col-md-3 mb-4 ">
             <div class=" bg-white br-10 p-3 d-flex justify-content-between align-items-center">
               <div class="d-flex align-items-center">
                <img src="assets/images/svg/teacher-grade.svg" alt="new client" class="mr-3">
                <div>
                  <p class="attendance__student_name  mb-0">Master paul Boyega</p>
                  <p class="attendance__student_reg mb-0">AMS/STUD/2001</p>
                </div>
               </div>
               <div class="d-flex flex-column justify-content-between align-items-center">
                  <p class="attendance__student_percentage mb-5">95%</p>
                  <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" id="customSwitch1">
                    <label class="custom-control-label" for="customSwitch1"></label>
                </div>
               </div>
             </div>
            </div>
            <div class="col-md-3 mb-4 ">
             <div class=" bg-white br-10 p-3 d-flex justify-content-between align-items-center">
               <div class="d-flex align-items-center">
                <img src="assets/images/svg/teacher-grade.svg" alt="new client" class="mr-3">
                <div>
                  <p class="attendance__student_name  mb-0">Master paul Boyega</p>
                  <p class="attendance__student_reg mb-0">AMS/STUD/2001</p>
                </div>
               </div>
               <div class="d-flex flex-column justify-content-between align-items-center">
                  <p class="attendance__student_percentage mb-5">95%</p>
                  <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" id="customSwitch1">
                    <label class="custom-control-label" for="customSwitch1"></label>
                </div>
               </div>
             </div>
            </div>
            <div class="col-md-3 mb-4 ">
             <div class=" bg-white br-10 p-3 d-flex justify-content-between align-items-center">
               <div class="d-flex align-items-center">
                <img src="assets/images/svg/teacher-grade.svg" alt="new client" class="mr-3">
                <div>
                  <p class="attendance__student_name  mb-0">Master paul Boyega</p>
                  <p class="attendance__student_reg mb-0">AMS/STUD/2001</p>
                </div>
               </div>
               <div class="d-flex flex-column justify-content-between align-items-center">
                  <p class="attendance__student_percentage mb-5">95%</p>
                  <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" id="customSwitch1">
                    <label class="custom-control-label" for="customSwitch1"></label>
                </div>
               </div>
             </div>
            </div>
            <div class="col-md-3 mb-4 ">
             <div class=" bg-white br-10 p-3 d-flex justify-content-between align-items-center">
               <div class="d-flex align-items-center">
                <img src="assets/images/svg/teacher-grade.svg" alt="new client" class="mr-3">
                <div>
                  <p class="attendance__student_name  mb-0">Master paul Boyega</p>
                  <p class="attendance__student_reg mb-0">AMS/STUD/2001</p>
                </div>
               </div>
               <div class="d-flex flex-column justify-content-between align-items-center">
                  <p class="attendance__student_percentage mb-5">95%</p>
                  <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" id="customSwitch1">
                    <label class="custom-control-label" for="customSwitch1"></label>
                </div>
               </div>
             </div>
            </div>
            <div class="col-md-3 mb-4 ">
             <div class=" bg-white br-10 p-3 d-flex justify-content-between align-items-center">
               <div class="d-flex align-items-center">
                <img src="assets/images/svg/teacher-grade.svg" alt="new client" class="mr-3">
                <div>
                  <p class="attendance__student_name  mb-0">Master paul Boyega</p>
                  <p class="attendance__student_reg mb-0">AMS/STUD/2001</p>
                </div>
               </div>
               <div class="d-flex flex-column justify-content-between align-items-center">
                  <p class="attendance__student_percentage mb-5">95%</p>
                  <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" id="customSwitch1">
                    <label class="custom-control-label" for="customSwitch1"></label>
                </div>
               </div>
             </div>
            </div>
            <div class="col-md-3 mb-4 ">
             <div class=" bg-white br-10 p-3 d-flex justify-content-between align-items-center">
               <div class="d-flex align-items-center">
                <img src="assets/images/svg/teacher-grade.svg" alt="new client" class="mr-3">
                <div>
                  <p class="attendance__student_name  mb-0">Master paul Boyega</p>
                  <p class="attendance__student_reg mb-0">AMS/STUD/2001</p>
                </div>
               </div>
               <div class="d-flex flex-column justify-content-between align-items-center">
                  <p class="attendance__student_percentage mb-5">95%</p>
                  <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" id="customSwitch1">
                    <label class="custom-control-label" for="customSwitch1"></label>
                </div>
               </div>
             </div>
            </div>
            <div class="col-md-3 mb-4 ">
             <div class=" bg-white br-10 p-3 d-flex justify-content-between align-items-center">
               <div class="d-flex align-items-center">
                <img src="assets/images/svg/teacher-grade.svg" alt="new client" class="mr-3">
                <div>
                  <p class="attendance__student_name  mb-0">Master paul Boyega</p>
                  <p class="attendance__student_reg mb-0">AMS/STUD/2001</p>
                </div>
               </div>
               <div class="d-flex flex-column justify-content-between align-items-center">
                  <p class="attendance__student_percentage mb-5">95%</p>
                  <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" id="customSwitch1">
                    <label class="custom-control-label" for="customSwitch1"></label>
                </div>
               </div>
             </div>
            </div>
            <div class="col-md-3 mb-4 ">
             <div class=" bg-white br-10 p-3 d-flex justify-content-between align-items-center">
               <div class="d-flex align-items-center">
                <img src="assets/images/svg/teacher-grade.svg" alt="new client" class="mr-3">
                <div>
                  <p class="attendance__student_name  mb-0">Master paul Boyega</p>
                  <p class="attendance__student_reg mb-0">AMS/STUD/2001</p>
                </div>
               </div>
               <div class="d-flex flex-column justify-content-between align-items-center">
                  <p class="attendance__student_percentage mb-5">95%</p>
                  <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" id="customSwitch1">
                    <label class="custom-control-label" for="customSwitch1"></label>
                </div>
               </div>
             </div>
            </div>
            <div class="col-md-3 mb-4 ">
             <div class=" bg-white br-10 p-3 d-flex justify-content-between align-items-center">
               <div class="d-flex align-items-center">
                <img src="assets/images/svg/teacher-grade.svg" alt="new client" class="mr-3">
                <div>
                  <p class="attendance__student_name  mb-0">Master paul Boyega</p>
                  <p class="attendance__student_reg mb-0">AMS/STUD/2001</p>
                </div>
               </div>
               <div class="d-flex flex-column justify-content-between align-items-center">
                  <p class="attendance__student_percentage mb-5">95%</p>
                  <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" id="customSwitch1">
                    <label class="custom-control-label" for="customSwitch1"></label>
                </div>
               </div>
             </div>
            </div>
            <div class="col-md-3 mb-4 ">
             <div class=" bg-white br-10 p-3 d-flex justify-content-between align-items-center">
               <div class="d-flex align-items-center">
                <img src="assets/images/svg/teacher-grade.svg" alt="new client" class="mr-3">
                <div>
                  <p class="attendance__student_name  mb-0">Master paul Boyega</p>
                  <p class="attendance__student_reg mb-0">AMS/STUD/2001</p>
                </div>
               </div>
               <div class="d-flex flex-column justify-content-between align-items-center">
                  <p class="attendance__student_percentage mb-5">95%</p>
                  <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" id="customSwitch1">
                    <label class="custom-control-label" for="customSwitch1"></label>
                </div>
               </div>
             </div>
            </div>
          
            
          </div>
  
     
  
      </div>
     
    </div>
  
  
  </div>
  