<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <img src="assets/images/svg/breadcrumb.svg" class="mr-3" alt="..." />
        <li class="breadcrumb-item a1 " aria-current="page" (click)="back()">
        <a class="fc-lblue" >Back</a>
      </li>
    </ol>

    
  </nav>
<div class="my-3 d-flex align-items-center">
  <img src="assets/images/svg/create.svg" class="mr-3" alt="..." />
  <h6 class="mb-0">Create Assignment</h6>
</div>
<div class="assignment-board">
    <div class="row">
        <div class="col-md-12 mb-3">
                  <div class="form-row">
                    <div class="form-group col-md-3">
                      <label for="title">Title</label>
                      <input type="text" id="title" class="form-control">
                    </div>
                    <div class="form-group col-md-2">
                        <label for="subject">Subject</label>
                      <select id="subject"  class="form-control" >
                        <option selected>Englis language</option>
                        <option value="JSS1">French</option>
                        
                      </select>
                    </div>
                    <div class="form-group col-md-1">
                        <label for="subject">Class</label>
                      <select id="subject"  class="form-control" >
                        <option selected>Select Class</option>
                        <option value="JSS1">JSS 1</option>
                        <option value="JSS2">JSS 2</option>
                        <option value="JSS3">JSS 3</option>
                        <option value="SS1">SS 1</option>
                        <option value="SS2">SS 2</option>
                        <option value="SS3">SS 3</option>
                      </select>
                    </div>
                    <div class="form-group col-md-2">
                        <label for="date">Due Date</label>
                        <input type="date" name="" id="date" class="form-control">
                    </div>
                    <div class="form-group col-md-2">
                        <label for="time">Time</label>
                        <input type="time" name="" id="time" class="form-control">
                    </div>
                    <div class="form-group col-md-1">
                        <label for="time">Grade Score</label>
                        <input type="number" name="" id="time" class="form-control">
                    </div>
                   
                    
                </div>
        </div>

        <div class="col-md-12 col-lg-12 col-xl-12">
            <h6>Text Editor goes here</h6>
        </div>
    </div>
</div>