<div class="main">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb" (click)="back()">
              <img src="assets/images/svg/breadcrumb.svg" class="mr-3" alt="..." />
              <li class="breadcrumb-item a1 " aria-current="page">
                <a>Back</a>
              </li>
    
    
            </ol>
    
    
          </nav>
          <button class="parent-act-btn px-4 ">Send Message</button>
         
    </div>
    <section class="banner mb-4 d-flex justify-content-between">
        <p class="banner__text-primary py-3 pl-5">Assignment <br> <span>Samuel has 2 assignments </span> </p>
        <div class="justify-content-end"> 
            <!-- <p class="last-login pt-3 pr-5 fw-6">Last Login: </p> -->
        </div>
    </section>
</div>