<div class="container-fluid mt-4">
    <div class="d-flex justify-content-between  align-items-center mb-4">
        <div>
          <form>
            <div class="row">
              <div class="col options">
                <select name="" id="" class="form-control" >
                  <option value="">Select Class</option>
                  <option value="1"> 1</option>
                </select>
              </div>
              <div class="col options">
                <select name="" id="" class="form-control" >
                  <option value="">Select Subject</option>
                  <option [value]= "1">1</option>
                </select>
              </div>
              <div class="col-5 options">
                <select name="" id="" class="form-control" >
                  <option value="">Select student name</option>
                  <option [value]= "1">1</option>
                </select>
              </div>
            </div>
          </form>
        </div>
    
      </div>
    
    
      <div class="bg-white py-5 px-4">
        <div class="row mb-1">
            <div class="col-md-6">
                <table class="table">
                    <thead>
                      <tr>
                        <th >  Student Name </th>
                        <th>Registration</th>
                        <th>Sex</th>
                        <th>Age</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td >Adeyemi</td>
                        <td>HIS/ST/2020/001</td>
                        <td>M</td>
                        <td>29 Years Old</td>
                      </tr>
              
                    </tbody>
                  </table>
            </div>
        </div>
        <div class="row mb-1">
            <div class="col-md-4">
                <table class="table">
                    <thead>
                      <tr>
                        <th >  Class </th>
                        <th>Session</th>
                        <th>Term</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td >Grade 5 Pearl</td>
                        <td>2008/2009</td>
                        <td>1st</td>
                      </tr>
              
                    </tbody>
                  </table>
            </div>
            <div class="col-md-5">
                <table class="table">
                    <thead>
                      <tr>
                        <th > Total Subjects </th>
                        <th>Subjects Offered</th>
                        <th>Total in Class</th>
                        <th>Position</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td >27</td>
                        <td>20</td>
                        <td>35</td>
                        <td></td>
                      </tr>
              
                    </tbody>
                  </table>
            </div>
        </div>

        <div class="row mb-1">
            <div class="col-md-8">
<table class="table">
                    <thead>
                      <tr>
                        <th class="w-50" >  Subject </th>
                        <th>First CA <br> Score</th>
                        <th>Second CA <br> Score</th>
                        <th>Exam <br> Score</th>
                        <th>Cummulative<br> Score</th>
                        <th>Grade</th>
                        <th>Interpretation</th>
                        
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td class="subject-info" >English Language</td>
                        <td>12</td>
                        <td>9</td>
                        <td>30</td>
                        <td>50</td>
                        <td>A</td>
                        <td>
                            <span class="fs-14 interpretation excellent" > Excellent </span>

                        </td>
                      </tr>
                      <tr>
                        <td class="subject-info" >English Language</td>
                        <td>12</td>
                        <td>9</td>
                        <td>30</td>
                        <td>50</td>
                        <td>A</td>
                        <td>
                            <span class="fs-14 interpretation very-good" > Very Good </span>

                        </td>
                      </tr>
                      <tr>
                        <td class="subject-info" >English Language</td>
                        <td>12</td>
                        <td>9</td>
                        <td>30</td>
                        <td>50</td>
                        <td>A</td>
                        <td>
                            <span class="fs-14 interpretation good" > Good </span>

                        </td>
                      </tr>
                      <tr>
                        <td class="subject-info" >English Language</td>
                        <td>12</td>
                        <td>9</td>
                        <td>30</td>
                        <td>50</td>
                        <td>A</td>
                        <td>
                            <span class="fs-14 interpretation fair" > Fair </span>

                        </td>
                      </tr>
                      <tr>
                        <td class="subject-info" >English Language</td>
                        <td>12</td>
                        <td>9</td>
                        <td>30</td>
                        <td>50</td>
                        <td>A</td>
                        <td>
                            <span class="fs-14 interpretation fail" > Fail </span>

                        </td>
                      </tr>
                      <tr>
                        <td class="subject-info" >English Language</td>
                        <td>12</td>
                        <td>9</td>
                        <td>30</td>
                        <td>50</td>
                        <td>A</td>
                        <td>
                            <span class="fs-14 interpretation good" > Good </span>

                        </td>
                      </tr>
                      <tr>
                        <td class="subject-info" >English Language</td>
                        <td>12</td>
                        <td>9</td>
                        <td>30</td>
                        <td>50</td>
                        <td>A</td>
                        <td>
                            <span class="fs-14 interpretation fair" > Fair </span>

                        </td>
                      </tr>
                      <tr>
                        <td class="subject-info" >English Language</td>
                        <td>12</td>
                        <td>9</td>
                        <td>30</td>
                        <td>50</td>
                        <td>A</td>
                        <td>
                            <span class="fs-14 interpretation fail" > Fail </span>

                        </td>
                      </tr>
                      <tr>
                        <td class="subject-info" >English Language</td>
                        <td>12</td>
                        <td>9</td>
                        <td>30</td>
                        <td>50</td>
                        <td>A</td>
                        <td>
                            <span class="fs-14 interpretation good" > Good </span>

                        </td>
                      </tr>
                      <tr>
                        <td class="subject-info" >English Language</td>
                        <td>12</td>
                        <td>9</td>
                        <td>30</td>
                        <td>50</td>
                        <td>A</td>
                        <td>
                            <span class="fs-14 interpretation fair" > Fair </span>

                        </td>
                      </tr>
                      <tr>
                        <td class="subject-info" >English Language</td>
                        <td>12</td>
                        <td>9</td>
                        <td>30</td>
                        <td>50</td>
                        <td>A</td>
                        <td>
                            <span class="fs-14 interpretation fail" > Fail </span>

                        </td>
                      </tr>
                      <tr>
                        <td class="subject-info" >English Language</td>
                        <td>12</td>
                        <td>9</td>
                        <td>30</td>
                        <td>50</td>
                        <td>A</td>
                        <td>
                            <span class="fs-14 interpretation good" > Good </span>

                        </td>
                      </tr>
                      <tr>
                        <td class="subject-info" >English Language</td>
                        <td>12</td>
                        <td>9</td>
                        <td>30</td>
                        <td>50</td>
                        <td>A</td>
                        <td>
                            <span class="fs-14 interpretation fair" > Fair </span>

                        </td>
                      </tr>
                      <tr>
                        <td class="subject-info" >English Language</td>
                        <td>12</td>
                        <td>9</td>
                        <td>30</td>
                        <td>50</td>
                        <td>A</td>
                        <td>
                            <span class="fs-14 interpretation fail" > Fail </span>

                        </td>
                      </tr>
                      <tr>
                        <td class="subject-info" >English Language</td>
                        <td>12</td>
                        <td>9</td>
                        <td>30</td>
                        <td>50</td>
                        <td>A</td>
                        <td>
                            <span class="fs-14 interpretation good" > Good </span>

                        </td>
                      </tr>
                      <tr>
                        <td class="subject-info" >English Language</td>
                        <td>12</td>
                        <td>9</td>
                        <td>30</td>
                        <td>50</td>
                        <td>A</td>
                        <td>
                            <span class="fs-14 interpretation fair" > Fair </span>

                        </td>
                      </tr>
                      <tr>
                        <td class="subject-info" >English Language</td>
                        <td>12</td>
                        <td>9</td>
                        <td>30</td>
                        <td>50</td>
                        <td>A</td>
                        <td>
                            <span class="fs-14 interpretation fail" > Fail </span>

                        </td>
                      </tr>
              
                    </tbody>
                  </table>
            </div>
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-12 mb-2">
                        <table class="table">
                            <thead>
                              <tr>
                                <th > Grade Scale </th>
                                <th></th>
                                <th></th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr >
                                <td class="text-left" >70 - 79</td>
                                <td> B </td>
                                <td>Very Good</td>
                              </tr>
                              <tr >
                                <td class="text-left" >80 - 100</td>
                                <td> A </td>
                                <td>Excellent</td>
                              </tr>
                              <tr >
                                <td class="text-left" >80 - 100</td>
                                <td> A </td>
                                <td>Excellent</td>
                              </tr>
                            </tbody>
                          </table>
                    </div>
                    <div class="col-md-12 mb-2">
                        <table class="table">
                            <thead>
                              <tr>
                                <th class="w-30" > Cognitive </th>
                                <th class="text-left"></th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr >
                                <td class="text-left" >Analysis</td>
                                <td>  
                                    <a href="#" class="dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                    id="dropdownMenuLink">
                                    <img src="assets/images/svg/add-grades.svg" alt="" class="mr-2  cursor-pointer ">
                                  </a>
                                  <div class="dropdown-menu omo p-3  " id="dropdownMenuLink1">
                                    <form > 
                                      <div class="form-group">
                                        <label for="cont">Type</label>
                                        <select id="cont" class="form-control" 
                                           (click)="holdDropDown()">
                                          <option value="">Select</option>
                                          <option value="">1</option>
                                         
                        
                                        </select>
                                      </div>
                                      <div class="form-group">
                                        <label for="type">Score</label>
                                        <input type="number" class="form-control" formControlName="score">
                                      </div>
                                    </form>
                                  </div>
                                </td>
                              </tr>
                              <tr >
                                <td class="text-left" >Application</td>
                                <td>  <img src="assets/images/svg/add-grades.svg" alt="" class="mr-2  cursor-pointer "> </td>
                              </tr>
                              <tr >
                                <td class="text-left" >Synthesis</td>
                                <td>  <img src="assets/images/svg/add-grades.svg" alt="" class="mr-2  cursor-pointer "> </td>
                              </tr>
                              
                            </tbody>
                          </table>
                    </div>

                    <div class="col-md-12 mb-2">
                        <table class="table">
                            <thead>
                              <tr>
                                <th class="w-50" > Affective or feeling </th>
                                <th class="text-left"></th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr >
                                <td class="text-left" >Characteristics</td>
                                <td>  <img src="assets/images/svg/add-grades.svg" alt="" class="mr-2  cursor-pointer "> </td>
                              </tr>
                              <tr >
                                <td class="text-left" >Organization</td>
                                <td>  <img src="assets/images/svg/add-grades.svg" alt="" class="mr-2  cursor-pointer "> </td>
                              </tr>
                              <tr >
                                <td class="text-left" >Receiving</td>
                                <td>  <img src="assets/images/svg/add-grades.svg" alt="" class="mr-2  cursor-pointer "> </td>
                              </tr>
                              <tr >
                                <td class="text-left" >Responding </td>
                                <td>  <img src="assets/images/svg/add-grades.svg" alt="" class="mr-2  cursor-pointer "> </td>
                              </tr>
                              <tr >
                                <td class="text-left" >Valueing</td>
                                <td>  <img src="assets/images/svg/add-grades.svg" alt="" class="mr-2  cursor-pointer "> </td>
                              </tr>
                              
                            </tbody>
                          </table>
                    </div>

                    <div class="col-md-12 mb-2">
                        <table class="table">
                            <thead>
                              <tr>
                                <th class="w-60" > Psycomotor or Kinisthetic </th>
                                <th class="text-left"></th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr >
                                <td class="text-left" >Fundamental Movement</td>
                                <td>  <img src="assets/images/svg/add-grades.svg" alt="" class="mr-2  cursor-pointer "> </td>
                              </tr>
                              <tr >
                                <td class="text-left" >Non discursive movement</td>
                                <td>  <img src="assets/images/svg/add-grades.svg" alt="" class="mr-2  cursor-pointer "> </td>
                              </tr>
                              <tr >
                                <td class="text-left" >Perceptual Abilities</td>
                                <td>  <img src="assets/images/svg/add-grades.svg" alt="" class="mr-2  cursor-pointer "> </td>
                              </tr>
                              <tr >
                                <td class="text-left" >Reflex Movement </td>
                                <td>  <img src="assets/images/svg/add-grades.svg" alt="" class="mr-2  cursor-pointer "> </td>
                              </tr>
                              <tr >
                                <td class="text-left" >Skilled Movement</td>
                                <td>  <img src="assets/images/svg/add-grades.svg" alt="" class="mr-2  cursor-pointer "> </td>
                              </tr>
                              
                            </tbody>
                          </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">

                      <!-- <div class="divider w-100 mx-5 border">&nbsp;</div> -->
  <div class="col-md-6 ml-5 mb-5">
    <div class="form-group mb-4">
      <label for="" class="fw-6 fs-16">Class Teacher's Comment</label>
      <input type="text " class="form-control class-teacher" placeholder="Enter comment"  >
    </div>
    <div class="form-group mb-4">
      <label for="" class="fw-6 fs-16">Head Teacher's Comment</label>
      <input type="text " class="form-control head-teacher" placeholder="enter comment" readonly>
    </div>
    <div class="d-flex">
      <div>

      </div>
    </div>
  </div>

  <div class=" col-md-6 ml-5 d-flex justify-content-between">
      <div>
          <p class="fw-6 mb-3">Signature</p>
          <div class="breaks mb-1">&nbsp;</div>
          <p>(Head Teacher)</p>
      </div>
      <div>
          <p class="fw-6 mb-3">Signature</p>
          <div class="breaks mb-1">&nbsp;</div>
          <p>(Class Teacher)</p>
      </div>
  </div>


  




  
        </div>

        <div class="d-flex justify-content-center my-5">
            <button class="btn-upload-top bg-lblue w-40" type="button" > Submit </button>
          </div>
      </div>
</div>
