.options select {
    background: #fafafa;
    border: 1px solid #92b5dd;
    font-size: 12px;
  }


  
thead th {
    background: #EBF0F5;
border: 1px solid #B4CDE9;
font-size: 14px;
color: #355691;
font-weight: 600;

/* font-weight: 600; */
}

tbody  td {
    background-color: #ffffff;
    border: 1px solid #E0E0E0;
    font-style: 14px;
    /* font-weight: 400; */
    font-family: Nunito;
    /* text-align: center; */
}

.w-30 {
    width: 30%;
}

.w-40 {
    width: 40%;
}
.w-60 {
    width: 60%;
}


.student-id p:first-child  {
    color: #355691;
    font-size: 18px;
    
    
}   
.subject-info  {
    color: #355691;
    font-weight: 600;
    
}   

.interpretation {
    
    font-weight: 600;
    width: 100px;
    height: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 17px 40px; */
}
.excellent {
    background: #ebfffa;
    color: #09b78a;
}


.fail {
    background :#F1DFE2;
    color: #D80027;
   
}

.very-good {
 background :#E5F4D3;
    color: #7EC02E;
}
.good {
 background :#F1EFDF;
    color: #C1AC00;
}
.fair {
 background :#D9CE98;
    color: #665500;
}

.head-teacher::placeholder {
    font-size: 16px;
    line-height: 16px;
    /* identical to box height, or 100% */
    
    
    color: #D1D9DF;
}

.breaks {
    border-bottom: 2px dotted black;
}

.btn-upload-top {

    border: none;
    outline: none;
    padding: 11px 25px;
    border-radius: 2.5px;
    color: #fff;
    /* font-weight: 600; */
    border-radius: 10px;
}