<app-homenavbar></app-homenavbar>
<section id="top">
    <div class="container">
        <p class="fs-48 ff-n fw-9 text-white">About Us</p>
    </div>
</section>

<section id="story">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 py-5 m-auto">
                <p class="text-center fs-48 fw-9 fc-dark ff-n mb-2">Our <span class="fc-orange">Story</span></p>
                <p class="text-center">
                    <img src="assets/images/svg/divider2.svg" alt="">
                </p>
                <p class="text-center ff-n fs-16 fw-4">
                    <span class="fw-7">SchoolTrack</span> is an internationally acclaimed integrated online school management solution specially built and adapted to the needs of the Nigerian and African education ecosystem. Helps day to day operations, with insightful reporting capabilities enabling optimal & faster decisions. Schooltrack™ is an online school management system software that simplifies the school's academic & administrative process securely and seamlessly.
                </p>
            </div>
        </div>
    </div>
</section>
<section id="guarantee" class="pt-5">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-7 px-lg-5">
                <div class="text px-lg-4">
                    <p class="fw-9 fs-48 ff-n ">
                        Guaranteeing the highest level of performance
                    </p>
                    <p class="fs-16 fw-4 ff-n">
                        Having realised the huge potential of the African’s educational market (particularly at the nursery, primary and post-primary levels), working with our American Technology Company, Schooltrack™ a world class School Management System was birthed by Infoworks Solution Limited to exclusively cater for the Nigerian educational environment and Africa at large.
                    </p>
                    <p class="fw-4 fs-16 ff-n">
                        Expectedly, Schooltrack™ remains the flagship product of Infoworks Solutions Limited, and it is hosted out of a world class data centre to guarantee the highest level of performance, security and availability for its teaming users/subscribers. 
                    </p>
                    <p class="fw-4 fs-16 ff-n">
                        Infoworks Solutions Limited is a professionally managed niche consultancy, led by highly experienced ex-Accenture technology and systems integration professionals who share a deep passion for the technological advancement of the educational sector across Africa. Infoworks Solutions Limited is pleased to partner with you in meeting your automation objectives and advancing the course of your educational institution as you embrace <span class="text-bold">Schooltrack™</span>
                    </p>
                </div>
            </div>
            <div class="col-lg-5 px-0 pt-5">
                <div class="girl">

                </div>
            </div>
        </div>
    </div>
</section>

<section id="choose">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 py-5 m-auto">
                <p class="text-center fs-48 fw-9 fc-dark ff-n mb-2">Why <span class="fc-orange">Choose</span> Us</p>
                <p class="text-center">
                    <img src="assets/images/svg/divider2.svg" alt="">
                </p>
                <p class="text-center ff-n fs-16 fw-4">
                    With features which puts it miles ahead of any other educational package on the market, <span
                        class="fw-7">SchoolTrack</span>
                        integrates over 150 management features into ONE database, unifying school, home and other stakeholders. <br>
                        <span
                        class="fw-7">SchoolTrack</span> surely gives your school the needed mileage on the global stage!
                    
                    
                </p>
                <p class="text-center ff-n fs-16 fw-4">
                    Schooltrack™ is multipurpose tenanted school management system which aids in automating the school’s daily operations effortlessly providing insightful reports and global view of your institution.
                    
                    
                </p>
                <p class="text-center ff-n fs-16 fw-4">
                    It empowers stakeholders with information needed for better and faster decisions for improved productivity of their institution.
                    It helps to organize relationships across the school landscape such as Admin-Teacher, Teacher-Students, Parent-Teacher, Teacher-Teacher, Student-Student, Online meetings, Easy Billing Management and Fees collections, Examination Management, Security Information, Free bulk SMS up to certain thresholds etc. Schooltrack™ school software handles every process smoothly and efficiently. It is a fully web-based school ERP providing end-end software solution for Schools plus 24/7 customer support, and data security. <br>
                    Additionally, Schooltrack™ is suitable for education boards and group of Schools enabling reporting at group and individual school levels and more.
                    
                    
                </p>

                <p class="text-center mt-5">
                    <!-- <button class="btn btn-orange px-lg-5">Request a demo</button> -->
                </p>
            </div>
        </div>
    </div>
</section>

<app-footer></app-footer>