<div class="basic-details mt-2">

    <form [formGroup]="EmployeeEducationForm" >
      <div class="form-row mb-5 ">
        <div class=" ">
          <label for="school" class="fw-6">School Name</label>
          <input type="text" id="school" class="form-control form-control-lg" placeholder="Enter school name" formControlName="schoolName">
        </div>
        <div class=" "> 
          <label for="type" class="fw-6">Type </label>
          <select name="" id="type" class="form-control form-control-lg" formControlName="schoolType">
              <option value="" selected> Select </option>
          </select>

        </div>

      </div>

      <div class="form-row mb-5 ">
        
        <div class="  ">
          <label for="email" class="fw-6">Country <span class="text-danger">*</span></label>
          <select name="" id="country" class="form-control form-control-lg" formControlName="schoolCountry" >
            <option value="" selected> select </option>
            <option [value]="country.country" *ngFor = "let country of countries">{{country.country}}</option>

        </select>

         
        </div>

        

      </div>

      
     


    </form>


    <div class=" d-flex justify-content-center mt-5 mb-5">
      <button class="btn btn-outline-orange mx-2 mx-lg-3 px-5 mb-4 mt-3"> Cancel </button>
      <button class="btn btn-orange-two mx-2 mx-lg-3 px-5 mb-4 mt-3" (click)='nextStep() ' > Next </button>

    </div>
  </div>
