<div class="basic-details mt-2">

    <form [formGroup]="contactForm" >
      <div class="form-row mb-5 ">
        <div class=" ">
          <label for="phone" class="fw-6">Phone Number<span class="text-danger">*</span></label>
          <input type="tel" id="phone" class="form-control" placeholder="Enter phone number" formControlName="PhoneNumber" maxlength="11">
        </div>
        <div class=" "> 
          <label for="phone2" class="fw-6">Alternate Phone Number </label>
          <input type="tel"  id="phone2" class="form-control" placeholder="Enter phone number" formControlName="AltPhoneNumber" maxlength="11">

        </div>

      </div>

      <div class="form-row mb-5 ">
        
        <div class="  ">
          <label for="email" class="fw-6">Email Address <span class="text-danger">*</span></label>
          <input type="email" id="email" class="form-control form-control-lg" placeholder="Enter email address" formControlName="EmailAddress">

         
        </div>

        <div class=" ">
            <label for="email2" class="fw-6">Alternate Email Address <span class="text-danger">*</span></label>
          <input type="email" id="email2" class="form-control form-control-lg" placeholder="Enter email address"formControlName="AltEmailAddress">
          </div>

      </div>

      <div class="form-row mb-5 ">
        
        <div class="  ">
          <label for="country" class="fw-6">Country <span class="text-danger">*</span></label>

          <select name="" id="country" class="form-control form-control-lg" (change)="getState($event.target.value)" formControlName="Country">
            <option value="" selected> select </option>
            <option [value]="country.country" *ngFor = "let country of countries">{{country.country}}</option>

        </select>
        </div>

        <div class=" ">
            <label for="address" class="fw-6">Address <span class="text-danger">*</span></label>
            <input type="text" id="address" class="form-control form-control-lg" placeholder="Enter  address" formControlName="Address">

        </div>
      </div>

      
      <div class="form-row mb-5">
        <div class=" ">
            <label for="state" class="fw-6">State<span class="text-danger">*</span></label>

            <select name="" id="state" class="form-control form-control-lg" formControlName="State">
                <option value="" selected> select </option>
                <option [value]="" *ngFor="let state of states" >{{state}}</option>

            </select>        
        </div>

        <div class="  ">
          <label for="city" class="fw-6">Town/City</label>
          <input type="text" id="city" class="form-control form-control-lg" formControlName="Town">

            </div>

      </div>

     


    </form>


    <div class=" d-flex justify-content-center mt-5 mb-5">
      <button class="btn btn-outline-orange mx-2 mx-lg-3 px-5 mb-4 mt-3"> Cancel </button>
      <button class="btn btn-orange-two mx-2 mx-lg-3 px-5 mb-4 mt-3" (click)='nextStep() ' [disabled]="contactForm.invalid" > Next </button>

    </div>
  </div>
