
.form-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 7rem;
}

h6 {
    font-weight: bold;
    font-weight: 600;
}

form .form-control, .custom-file-input {
    /* padding: 1.37rem .75rem; */
    color: #000000;
    font-size: 16px;
    border: 1px solid #D1D9DF;
}

p {
    color: #000000;
    font-size: 14px;
}




