<div class="file-viewer d-flex justify-content-center align-items-center p-3 bg-white w-100 "
style="height: 50vh; width: 100%;"  >
<div class="d-flex flex-column text-center">
  <img src="https://42f2671d685f51e10fc6-b9fcecea3e50b3b59bdc28dead054ebc.ssl.cf5.rackcdn.com/v2/assets/empty.svg" alt="table sort icon" class="mb-3">
  <p class="fw-6 fs-24" style="color:#BAB9C1;">No record to display information</p>
  <p class="text-info text-bold" style="cursor: pointer; font-weight: 600;" (click)="reload()"> Go back  </p>
</div>

</div>