.banner {
  width: 100%;
  background: url("../../../assets/images/svg/assignment-bg.svg") top left
      no-repeat,
    url("../../../assets/images/svg/assignment-bg2.svg") top left no-repeat;
  background-repeat: no-repeat;

  background-size: cover;
  background-position: center;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0 1.5rem;
  color: #ffffff;
  position: relative;
  background-blend-mode: multiply;
  mix-blend-mode: multiply;
  backdrop-filter: opacity(0.4);
}

.banner__text-primary {
  font-size: 36px;
}

.btn-orange-two {
  background: #04aed4;
  border-radius: 5px;
  height: 44px;
  font-family: Nunito;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  color: #ffffff;
}

.options select {
  background: #fafafa;
  border: 1px solid #92b5dd;
  font-size: 12px;
}

.attendance {
  background-image: url("../../../assets/images/svg/assignment-pattern.svg");
  background-color: #ffffff;
  /* background-size: cover; */
  background-repeat: no-repeat;
  background-position: 33% 23%;
}

.attendance__student_name {
  font-family: Nunito;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;

  display: flex;
  align-items: center;

  color: #355691;
}
.attendance__student_reg {
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  color: #767676;
}
.attendance__student_percentage {
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;

  display: flex;
  align-items: center;

  color: #09b78a;
}
