<div class="container-fluid">
    <div class="row">
        <div class="col-md-9 screen">
            <!-- <iframe src="assets/images/svg/virtual-class.svg" frameborder="0" class=" main-image"> -->
              <!-- <img src="assets/images/svg/virtual-class.svg" alt="new client" class=" main-image"> -->
              <video #video class="vid main-image" autoplay></video>
            <!-- </iframe> -->
            <button class="btn btn-orange-two mx-2 mx-lg-3 px-5 mb-4 mt-3 back" (click)="back()"  > Back </button>
            <div class="col-md-12 virtual-control py-4 d-flex justify-content-end align-items-center py-4 ">
                <div class="d-flex">
                    <img src="assets/images/svg/virtual-control1.svg" alt="new client" class="mr-3 dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
                    <img src="assets/images/svg/virtual-control2.svg" alt="new client"class="mr-3" >
                    <img src="assets/images/svg/virtual-control4.svg" alt="new client" class="mr-3">
                    <img src="assets/images/svg/virtual-control3.svg" alt="new client" class="mr-3">

                    <div class="dropdown-menu px-3">
                        <p>Lock Class Room</p>
                        <div class="dropdown-divider"></div>
                        <form class="" >
                            <p class="fw-6">Allow students to:</p>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="gridCheck1" >
                                <label class="form-check-label" for="gridCheck1">
                                  Share screen
                                </label>
                              </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="gridCheck1" checked>
                                <label class="form-check-label" for="gridCheck1">
                                  Chat
                                </label>
                              </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="gridCheck1" >
                                <label class="form-check-label" for="gridCheck1">
                                  Unmute themselves
                                </label>
                              </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="gridCheck1" checked>
                                <label class="form-check-label" for="gridCheck1">
                                  Raise hand
                                </label>
                              </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="gridCheck1" checked>
                                <label class="form-check-label" for="gridCheck1">
                                  Upload material
                                </label>
                              </div>
                            
                        </form>
                      </div>
                </div>
                <div class="virtual-open">
                    <button class="class-btn" data-toggle="modal"
                    data-target="#exampleModalCenter" >Start Class</button>
                    <!-- <button class="class-btn" (click)="openSomething()" >Start Class</button> -->
                </div>
            </div>
        </div>
        <div class="col-md-3 pt-3 pl-2 virtual-board">
                <p class="fc-lblue mb-0 fw-6">{{classDetails?.className}}</p>
                <h6 class="fw-6">{{classDetails?.subjectName | titlecase}}</h6>
                <p class="py-3 fs-14">{{classDetails?.noOfStudent }} Enrolled Students</p>
                <div class="d-flex mb-4">
                    <img src="assets/images/svg/people-waiting.svg" alt="new client" class="mr-3" >
                    <p class="mb-0 fs-14">Waiting List</p>
                </div>
                <div class="d-flex align-items-center mb-5">
                    <div class="d-flex images mr-3 ">
                        <img src="assets/images/svg/student.svg" alt="" class="student-img">
                        <img src="assets/images/svg/student2.svg" alt="" class="student-img2">
                        <img src="assets/images/svg/student3.svg" alt="" class="student-img3">
                        <img src="assets/images/svg/student4.svg" alt="" class="student-img4">
                    </div>
                    <p class="mb-0 fc-lblue fw-6">+20 others</p>

                </div>
                
                <div class="d-flex align-items-center  mb-4">
                        <img src="assets/images/svg/g-calendar.svg" alt="" class="mr-3">
                    <h6 class="fw-6 mb-0">{{myDate | date : 'mediumDate'}}</h6>
                </div>
                <div class="d-flex  align-items-center mb-4">
                        <img src="assets/images/svg/g-date.svg" alt="" class="mr-3">
                    <h6 class="fw-6 mb-0" *ngIf="classDetails?.timeFrom.hours < 12 ">{{classDetails?.timeFrom.hours}}:{{classDetails?.timeFrom.minutes}} am</h6>
                    <h6 class="fw-6 mb-0" *ngIf="classDetails?.timeFrom.hours >= 12">{{classDetails?.timeFrom.hours}}:{{classDetails?.timeFrom.minutes}} PM</h6>
                </div>
                <div class="d-flex align-items-center  mb-5">
                        <img src="assets/images/svg/g-time.svg" alt="" class="mr-3">
                        <div class="d-flex flex-column">
                            <h6 class="fw-6 mb-0">{{timeConvert(classDetails?.durationInMinutes)}}</h6>
                            <p class="caption mb-0">Duration</p>
                        </div>
                </div>

                <!-- <form>
                    <div class="form-group">
                        <label for="upload">Upload Materials</label>
                        <div class="custom-file mb-3">
                            <input type="file" class="custom-file-input" id="customFile" name="filename">
                            <label class="custom-file-label" for="customFile">Upload File</label>
                          </div>
                    </div>
                    <p class="doc-type fs-14"> doc., Jpg, docx, rtf, or pdf (4mb limit) </p>
                </form> -->

        </div>
    </div>
</div>


<!-- =============================== Start class Modal  ================================== -->

<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" style="max-width: 25%;" role="document">
      <div class="modal-content">
       
        <div class="modal-body p-3">
          <div class="d-flex justify-content-center">
              <p class="text-center" >Classroom will be opened on another tab. click Open to continue</p>
          </div>
            <div class="d-flex justify-content-center my-3">
                <button class="class-btn" (click)="openSomething()">Open</button>
            </div>
        </div>
        <!-- <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div> -->
      </div>
    </div>
  </div>

  <!-- =============================== Start class Modal  ================================== -->






