.kids{
    background: url(../../../assets/images/kids.png);
    background-size: cover;
    min-height: 93vh;
}
.foot{
    height: 7vh;
}
.whitediv{
    background: #FFFFFF;
    box-shadow: 0px 20px 50px #0D2944;
    border-radius: 10px;
}
.resetdiv{
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
}