
.steps {
    
background: rgba(245, 245, 245, 0.66);
}
.steps div:not(:last-child) {
    /* margin-right: 7rem; */
}

.steps span {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
}
.steps .active span {
    background: #FB882C;
    font-weight: 600;
}

.steps .active p {
    color: #000000;
    font-weight: 600;
    line-height: 1;
}
.steps  p {
    color: #707070;
    line-height: 1;
}

.steps span:not(.active) {
    background: #B7C0CD;
    color: #ffffff;
}


.step-content {
    background: rgba(255, 255, 255, 0.5);
border: transparent solid #D7DFE8;
    padding: 6rem;
/* opacity: 0.5; */
}

form textarea {
    height: 100px;
}

form .form-control {
    /* padding: 1.37rem .75rem; */
    color: #000000;
    font-size: 16px;
    border: 1px solid #D1D9DF;
}

.btn-orange-two {
    background: #fb882c;
    border-radius: 5px;
    height: 44px;
    font-family: Nunito;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    color: #ffffff;
}

.btn-outline-orange {
    border: 1px solid #FB882C;
    box-sizing: border-box;
    border-radius: 5px;
    height: 44px;
    font-family: Nunito;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color: #FB882C;
}


.add-image {
    position: relative;
    /* background-image: url('../../../assets/images/svg/student-add-upload.svg'); */
    background-repeat: no-repeat;
    background-position: 270px 35px;
    background: #FFFFFF;
    border: 1px dashed #DDE0E9;
    height: 25px;
    
}

.add-image label {
    position: absolute;
    top: 0px;
    right: 40px;
    text-align: center;
    font-size: 14px;
    color: #0A1128;
}

.file-input {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    cursor: pointer;
    opacity: 0;
}




