<div class="main">
    <div class="d-flex justify-content-end align-items-center mb-3">
        <button class="parent-act-btn px-4 ">Send Message</button>
    </div>
    <section class="banner mb-4 d-flex justify-content-between">
        <p class="banner__text-primary py-5 pl-5">Attendance <br> <span> </span> </p>
        <div class="justify-content-end"> 
            <!-- <p class="last-login pt-3 pr-5 fw-6">Last Login: </p> -->
        </div>
    </section>

    <div class="media-inner mb-4">
        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
          <li class="nav-item mr-2 ">
            <a class="nav-link active" id="pills-upload-tab" data-toggle="pill" href="#pills-upload" role="tab"
              aria-controls="pills-upload" aria-selected="true">Subject Attendance </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link " id="pills-record-tab" data-toggle="pill" href="#pills-record" role="tab"
              aria-controls="pills-record" aria-selected="true">School Attendance </a>
          </li>


        </ul>

    </div>

    <div class="tab-content bg-white px-4" id="pills-tabContent">
        <div class="tab-pane fade show active" id="pills-upload" role="tabpanel" aria-labelledby="pills-upload-tab">

            <section class="list">
                <table class="table table-borderless client-table">
                  <thead>
                    <tr>
    
                      <th scope="col" >Subject
    
                      </th>
                      
                      <th scope="col">Class Held
    
                      </th>
                      <th scope="col"> Class Attended </th>
                      <th scope="col"> Percentage </th>
    
                    </tr>
                  </thead>
                  <tbody>
                  
                    <tr class="pb-2 ">
    
                      <td class="border-bottom ">
                        English Language
                      </td>
                      
                      <td class=" border-bottom ">10 </td>
                      <td class=" border-bottom "> 10 </td>
                      <td class="  border-bottom  ">
                            100%
                      </td>
                      
                    </tr>
                   
                    <tr class="pb-2 ">
    
                      <td class="border-bottom ">
                        English Language
                      </td>
                      
                      <td class=" border-bottom ">10 </td>
                      <td class=" border-bottom "> 10 </td>
                      <td class="  border-bottom  ">
                            100%
                      </td>
                      
                    </tr>
                   
                    <tr class="pb-2 ">
    
                      <td class="border-bottom ">
                        English Language
                      </td>
                      
                      <td class=" border-bottom ">10 </td>
                      <td class=" border-bottom "> 10 </td>
                      <td class="  border-bottom  ">
                            100%
                      </td>
                      
                    </tr>
                   
                    <tr class="pb-2 ">
    
                      <td class="border-bottom ">
                        English Language
                      </td>
                      
                      <td class=" border-bottom ">10 </td>
                      <td class=" border-bottom "> 10 </td>
                      <td class="  border-bottom  ">
                            100%
                      </td>
                      
                    </tr>
                   
                    <tr class="pb-2 ">
    
                      <td class="border-bottom ">
                        English Language
                      </td>
                      
                      <td class=" border-bottom ">10 </td>
                      <td class=" border-bottom "> 10 </td>
                      <td class="  border-bottom  ">
                            100%
                      </td>
                      
                    </tr>
                   
                    <tr class="pb-2 ">
    
                      <td class="border-bottom ">
                        English Language
                      </td>
                      
                      <td class=" border-bottom ">10 </td>
                      <td class=" border-bottom "> 10 </td>
                      <td class="  border-bottom  ">
                            100%
                      </td>
                      
                    </tr>
                   
                   
                    
                  </tbody>
                </table>
    
              </section>
         
        </div>
        <div class="tab-pane fade " id="pills-record" role="tabpanel" aria-labelledby="pills-record-tab">

       
        </div>
      </div>
</div>