<div class="container px-5">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb" (click)="back()">
            <img src="assets/images/svg/breadcrumb.svg" class="mr-3" alt="..." />
            <li class="breadcrumb-item a1 " aria-current="page">
                <a>Back to student list</a>
            </li>
        </ol>


    </nav>
    <div class="row">
        <div class="col-md-12 mb-3">
            <p class="fw-6">Add New Student</p>
        </div>

        <div class="col-md-12">

            <div class="steps d-flex justify-content-center align-items-center p-3">
                            <div class="d-flex align-items-center justify-content-center mr-5 active" id="step-1">
                                <div class="mr-2">
                                    <span class="bg-orange">1</span>
                                </div>
                                <div>
                                    Basic Details
                                </div>
                            </div>

                            <div class="d-flex align-items-center justify-content-center mr-5 " id="step-2">
                                <div class="mr-2">
                                    <span class="">2</span>
                                </div>
                                <div>
                                    Social Details
                                </div>
                            </div>

                            <div class="d-flex align-items-center justify-content-center mr-5 " id="step-3">
                                <div class="mr-2">
                                    <span class="">3</span>
                                </div>
                                <div>
                                    Contact Details
                                </div>
                            </div>

                            <div class="d-flex align-items-center justify-content-center mr-5 " id="step-4">
                                <div class="mr-2">
                                    <span class="">4</span>
                                </div>
                                <div>
                                    Medical Details
                                </div>
                            </div>

                            <div class="d-flex align-items-center justify-content-center mr-5 " id="step-5">
                                <div class="mr-2">
                                    <span class="">5</span>
                                </div>
                                <div>
                                   Images
                                </div>
                            </div>


            </div>

            <div class="step-content justify-content-center pt-5 pb-3">
               
                
                <app-basic-details *ngIf="stage === 1"></app-basic-details>
                <app-social-details *ngIf="stage === 2"></app-social-details>
                <app-contact-details *ngIf="stage === 3"></app-contact-details>
                <app-medical-details *ngIf="stage === 4"></app-medical-details>
                <app-images *ngIf="stage === 5"></app-images>

            </div>
        </div>



    </div>
</div>