<div class="Media">

    <form [formGroup]="mediaForm" (ngSubmit)="createEmployee()"  >
      

      
      <div class="form-row mb-5">
        

        <div class="  ">
          <label for="icon" class="fw-6">Photo</label>
          <div class="custom-file  mb-3">
            <input 
            type="file" 
            class="custom-file-input" 
            accept="image/png, image/jpeg"
            id="customFile" name="profilephotoname" 
            (change)="handlePhotoUpload($event)"
            >
            <label class="custom-file-label" for="customFile" *ngIf ="profilephotoname === null; else profile"> Upload File </label>
            <ng-template #profile>
              <label class="custom-file-label" for="customFile"> {{profilephotoname}} </label>
            </ng-template>
            <small class="text-danger">Upload file not more than 1mb</small>
          </div>
        </div>

        <div class="  ">
          <label for="icon" class="fw-6">Signature</label>
          <div class="custom-file  mb-3">
            <input 
            type="file" 
            class="custom-file-input" 
            accept="image/png, image/jpeg"
            id="customFile" name="signaturename" 
            (change)="handleSignatureUpload($event)"
            >
            <label class="custom-file-label" for="customFile" *ngIf ="signaturename === null; else icon"> Upload File </label>
            <ng-template #icon>
              <label class="custom-file-label" for="customFile"> {{signaturename}} </label>
            </ng-template>
            <small class="text-danger">Upload file not more than 1mb</small>
          </div>
        </div>

      </div>

      
      <div class=" d-flex justify-content-center mt-5 mb-5">
        <button class="btn btn-outline-orange mx-2 mx-lg-3 px-5 mb-4 mt-3" (click)="prevStep()"> Back </button>
        <button class="btn btn-orange-two mx-2 mx-lg-3 px-5 mb-4 mt-3"  > {{formBtn.text}} </button>
  
      </div>

    </form>


  </div>
