<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <img src="assets/images/svg/breadcrumb.svg" class="mr-3" alt="..." />
        <li class="breadcrumb-item a1 " aria-current="page" (click)="back()">
            <a>Back</a>
        </li>


        <!-- <li class="breadcrumb-item ml-auto" ><a href="#">Home</a></li> -->
        <li class="breadcrumb-item a1 active ml-auto" aria-current="page">
            <a><img src="assets/images/svg/nav.svg" class="mr-1" alt="..." />  {{schoolDetail?.name}} </a>
        </li>
    </ol>


</nav>


<div class="client mt-2">

    <section class="activated mb-4">
        <div class="activated__image ">
            <!-- <img  src="data:image/png;base64,{{schoolDetail?.logo}}" class="mr-3 image-rounded" alt="..." /> -->
            <img *ngIf="schoolDetail?.logo" [src]="' data:image/png;base64, ' + schoolDetail?.logo | trustedUrl"
                class="mr-3 image-rounded" alt="..." />
            <!-- <img class="" *ngIf="schoolDetail?.logo == null" src="assets/images/svg/companyalt.svg" alt="schools log"
                class="mr-3 image-rounded" id=""> -->
            <div>
                <p class="activated__title fw-6">{{schoolDetail?.name}} <img src="assets/images/svg/verify.svg"
                        alt="schools log"> </p>
                <p class="activated__code">{{schoolDetail?.clientCode}}</p>
            </div>
        </div>
        <div class="activated__date mr-5 text-right">
            <p class="active">Created on {{schoolDetail?.dateCreated | date: 'dd/MM/y'}} </p>
            <div class="activated__date-switch">
                <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" id="customSwitch1" [checked]="schoolDetail?.status === true">
                    <label class="custom-control-label" for="customSwitch1" ></label>
                </div>
                <p class="activated__date-title">{{schoolDetail?.status === true ? 'Activated' : 'Deactivated'}}</p>
            </div>
        </div>
    </section>

    <section class="cards mb-4">
        <div class="cards__profile">
            <div class="cards__profile-info">
                <div class="line">
                    <h6> <img src="assets/images/svg/profile-icon.svg" class="mr-3" alt="..." />
                        Profile Information</h6>
                </div>
                <!-- <img src="assets/images/svg/edit.svg" class="mr-3" alt="..." /> -->
            </div>
            <div class="card__profile-link mt-5 mr-5">
                <div class="link">
                    <p>Domain Name</p>
                    <p class="fw-6">{{schoolDetail?.domainName}}</p>
                </div>
                <div class="link mr-5 ml-4">
                    <p>Official Website</p>
                    <a [href]="schoolDetail?.websiteAddress" target="_blank" class="fw-6 text-black no-underline">
                        {{schoolDetail?.websiteAddress}}
                        <img src="assets/images/svg/external-link.svg" class="mr-3" alt="..." />
                    </a>
                </div>
            </div>

            <div class="card__profile-link mt-4 mb-5 mr-5" *ngIf="schoolDetail?.icon || schoolDetail?.logo">
                <div class="link" *ngIf="schoolDetail?.logo">
                    <p>Logo</p>
                    <img  [src]="'data:image/png;base64, ' + schoolDetail?.logo | trustedUrl"
                        class="mr-3 thumb-logo" alt="..." />
                    <!-- <img class="" *ngIf="schoolDetail?.logo == null" src="assets/images/svg/companyalt.svg"
                        alt="schools log" class="mr-3 thumb-logo" id=""> -->

                </div>
                <div class="link mr-5 ml-4"  *ngIf="schoolDetail?.icon">
                    <p>Icon</p>
                    <img [src]="'data:image/png;base64, ' + schoolDetail?.icon | trustedUrl"
                        class="mr-3 icon-logo" alt="..." />
                    <!-- <img class="" *ngIf="schoolDetail?.logo == null" src="assets/images/svg/companyalt.svg"
                        alt="schools log" class="mr-3 icon-logo " id=""> -->


                </div>
            </div>
        </div>

        <div class="cards__plan">
            <div class="cards__plan-info">
                <div class="line">
                    <h6> <img src="assets/images/svg/storage.svg" class="mr-3" alt="..." />
                        1 Year Standard Package</h6>
                </div>
            </div>

            <div class="cards__plan-chart mt-4">
                <img src="assets/images/svg/pie.svg" class="mr-4" alt="..." />
                <div class="chart-keys">
                    <div>
                        <img src="assets/images/svg/key.svg" class="mr-3" alt="..." />
                        <div class="stats">
                            <p>Students</p>
                            <p class="fw-6">{{schoolDetail?.studentsCount}}</p>
                        </div>
                    </div>

                    <div>
                        <img src="assets/images/svg/key.svg" class="mr-3" alt="..." />
                        <div class="stats">
                            <p>Teachers </p>
                            <p class="fw-6"> {{schoolDetail?.teachersCount}} </p>
                        </div>
                    </div>

                    <div>
                        <img src="assets/images/svg/key.svg" class="mr-3" alt="..." />
                        <div class="stats">
                            <p>Parents</p>
                            <p class="fw-6">0</p>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </section>

    <section class="contact mb-3 ">
        <div class="cards__profile">
            <div class="cards__profile-info">
                <div class="line">
                    <h6> <img src="assets/images/svg/contact.svg" class="mr-3" alt="..." />
                        Contact Details</h6>
                </div>
                <!-- <img src="assets/images/svg/edit.svg" class="mr-3" alt="..." /> -->
            </div>
            <div class="card__profile-link mt-5 mr-5">
                <div class="link">
                    <p>Address</p>
                    <p class="fw-6">{{schoolDetail?.address}}</p>
                </div>
                <div class="link mr-5 ml-4">
                    <p>City</p>
                    <p class="fw-6">{{schoolDetail?.city}}</p>
                </div>
            </div>

            <div class="card__profile-link mt-4 mb-5 mr-5">
                <div class="link">
                    <p>State</p>
                    <p class="fw-6">{{schoolDetail?.state}} </p>
                </div>
                <div class="link mr-5 ml-4">
                    <p>Country</p>
                    <p class="fw-6">{{schoolDetail?.country}} </p>

                </div>
            </div>
        </div>

        <div class="cards__profile">
            <div class="cards__profile-info">
                <div class="line">
                    <h6> <img src="assets/images/svg/contact-person.svg" class="mr-3" alt="..." />
                        Contact Person</h6>
                </div>
                <!-- <img src="assets/images/svg/edit.svg" class="mr-3" alt="..." /> -->
            </div>
            <div class="card__profile-link mt-5 mr-5">
                <div class="link">
                    <p>First Name</p>
                    <p class="fw-6">{{schoolDetail?.contactFirstName}}</p>
                </div>
                <div class="link mr-5 ml-4">
                    <p>Last Name</p>
                    <p class="fw-6">{{schoolDetail?.contactLastName}} </p>
                </div>
            </div>

            <div class="card__profile-link mt-4 mb-5 mr-5">
                <div class="link">
                    <p>Phone no: </p>
                    <p class="fw-6">{{schoolDetail?.contactPhone}} </p>
                </div>
                <div class="link mr-5 ml-4">
                    <p>Email</p>
                    <p class="fw-6">{{schoolDetail?.contactEmail}} </p>

                </div>
            </div>
        </div>
    </section>
</div>