.profile .profile__teacher {
    border: 0.5px solid #BED0E4;
    box-sizing: border-box;
    box-shadow: 0px 1px 21px rgba(119, 119, 119, 0.21);
    border-radius: 10px;
}

.profile .profile__teacher .btn-teacher {
    border: none;
    outline: none;
    border-radius: 10px;
    cursor: pointer;
}

.profile .profile__summary {
    border: 0.5px solid #BED0E4;
    box-sizing: border-box;
    box-shadow: 0px 1px 21px rgba(119, 119, 119, 0.21);
    border-radius: 10px;
    background: #FB7B04;
}

.profile .profile__summary .btn-teacher {
    border: none;
    outline: none;
    border-radius: 10px;
    cursor: pointer;
}

.profile .profile__cards {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 1rem;
}

.profile .profile__cards .profile__cards--card {
    border-radius: 10px;
}


.profile__hero .profile__cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1.5rem;
}
