<div class="container-fluid">
    <div class="d-flex justify-content-end ">
        sasa
    </div>
    <div class="row">
        <div class="col-md-9 mt-5 pr-3">

            <div class="parent">
                <div class="parent__bio">

                </div>
                <div class="parent__cards">
                    <div class="card1 d-flex py-4 px-3 align-item-center justify-content-center parent__cards--card"
                    [routerLink]="['/teacher/attendance']">
                      <img src="assets/images/svg/attendance.svg" alt="student card" class="mr-2">
                      <p class="mb-0 fw-6">Attendance </p>
                    </div>
                    <div class="card2 d-flex py-4 px-3 align-item-center justify-content-center parent__cards--card"
                      [routerLink]="['/teacher/score-sheet']">
                      <img src="assets/images/svg/assignment.svg" alt="student card" class="mr-2">
                      <p class="mb-0 fw-6">Grade Book</p>
                    </div>
                    <div class="card3 d-flex py-4 px-3 align-item-center justify-content-center parent__cards--card"
                      [routerLink]="['/teacher/filemanager']">
                      <img src="assets/images/svg/upload.svg" alt="student card" class="mr-2">
                      <p class="mb-0 fw-6">File Manager</p>
                    </div>
        
                </div>
            </div>

        </div>
        <div class="col-md-3">
            sdssd
        </div>
    </div>
</div>