<form [formGroup]="contactPersonForm"  >
    <div class="contact-details">
    
        <div class="form-row my-5 ">
            <div class=" ">
                <label for="fname" class="fw-6">First Name  <span class="text-danger">*</span> </label>
                <input type="text" 
                class="form-control form-control-lg" 
                id="fname" 
                placeholder="Enter first Name"
                formControlName = "ContactFirstName">
            </div>
            <div class=" ">
                <label for="lname" class="fw-6">Last Name <span class="text-danger">*</span></label>
                <input type="text  " class="form-control form-control-lg" id="lname" 
                placeholder="Enter last name" formControlName = "ContactLastName">
            </div>
    
    
        </div>
    
        <div class="form-row my-5 ">
            <div class=" ">
                <label for="tel" class="fw-6">Phone number <span class="text-danger">*</span></label>
                <input type="tel" class="form-control form-control-lg" id="tel" 
                placeholder="Enter phone number" formControlName="ContactPhoneNo" maxlength="11" required>
            </div>
            <div class=" ">
                <label for="email" class="fw-6">Email <span class="text-danger">*</span></label>
                <input type="email" class="form-control form-control-lg" 
                id="email" placeholder="Enter email" formControlName="ContactEmail">
    
            </div>
    
    
        </div>
    
    
    </div>
</form>
                <div class=" d-flex justify-content-center mb-5">
                    <button class="btn btn-outline-orange mx-2 mx-lg-3 px-5 mb-4 mt-3" (click)='prevStep() '> Back </button>
                    <button class="btn btn-orange-two mx-2 mx-lg-3 px-5 mb-4 mt-3" (click)='nextStep() ' [disabled]="contactPersonForm.invalid" > Next </button>
            
                </div>