<div class="main">
    <div class="d-flex justify-content-end align-items-center mb-3">
        <button class="parent-act-btn px-4 ">Send Message</button>
    </div>
    <section class="banner mb-4 d-flex justify-content-between">
        <p class="banner__text-primary py-5 pl-5">Report card <br> <span> </span> </p>
        <div class="justify-content-end"> 
            <!-- <p class="last-login pt-3 pr-5 fw-6">Last Login: </p> -->
        </div>
    </section>

    <div class="d-flex justify-content-between  align-items-center mb-4" > 
        <div class="row">
            <div class="col options">
                <select name="" id="" class="form-control" >
                  <option value="" selected>Select Session</option>
                  <option  > 1</option>
                </select>
              </div>
              <div class="col options">
                <select name="" id="" class="form-control" >
                  <option value="">Select Term</option>
                  <option >2 </option>
                </select>
              </div>
        </div>

    </div>
    <div class="file-viewer d-flex justify-content-center align-items-center p-3 bg-white w-100 "
    style="height: 85vh; width: 100%;"  >
    <div class="d-flex flex-column text-center">
      <img src="assets/images/svg/sad-face.svg" alt="table sort icon" class="mb-3">
      <p class="fw-6 fs-24" style="color:#BAB9C1;">Select session and term to display <br> information</p>
    </div>

    </div>

</div>