.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #155b75;
  font-weight: 600;
  background: #c5defc;
  border: 1px solid #155b75;
  border-radius: 10px;
  padding: 5px 12px;
}

.nav-pills .nav-link,
.nav-pills .show > .nav-link {
  background: #155b75;
  border-radius: 10px;
  color: #ffffff;
  padding: 5px 12px;
}

.content-holder {
  height: 100vh;
}

.cells {
  border: 1px dashed #5a8bc5;
}

/* .cell-color {
    background: #C5DEFC;
} */

.cell-time {
  position: relative;
}

.start {
  position: absolute;
  top: 0;
  left: 0;
  color: #000000;
  font-weight: bold;
  font-size: 12px;
}

.end {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #000000;
  font-weight: bold;
  font-size: 12px;
}
