<div class="container-fluid pl-4">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <img src="assets/images/svg/breadcrumb.svg" class="mr-3" alt="..." />
            <li class="breadcrumb-item a1 " aria-current="page">
                <a>Back</a>
            </li>
    
    
            <li class="breadcrumb-item a1 active ml-auto" aria-current="page">
                <a><img src="assets/images/svg/nav.svg" class="mr-1" alt="..." /> Students / John Boyega</a>
            </li>
        </ol>
    
    
    </nav>
    
    <div class="student mt-2">
    
        <section class="activated mb-4">
            <div class="activated__image ">
                <img src="assets/images/svg/american-man.svg" class="mr-3 avatar" alt="..." />
                <div>
                    <p class="activated__title fw-6 fc-lblue">Chukwudi Okoli <img
                            src="assets/images/svg/verify.svg" alt="schools log"> </p>
                    <p class="activated__code">PRT/2016/001</p>
                </div>
            </div>
            <div class="activated__date mr-5 text-right">
                <p class="active">Created on 17/03/20 </p>
                <div class="activated__date-switch">
                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="customSwitch1">
                        <label class="custom-control-label" for="customSwitch1"></label>
                    </div>
                    <p class="activated__date-title">Activated</p>
                </div>
            </div>
        </section>
    
        <section class="cards mb-4 ">
            <div class="cards__profile p-4">
                <div class="cards__profile-info">
                    <div class="line">
                          <h6>  Basic Details </h6>
                    </div>
                    <img src="assets/images/svg/edit.svg" class="mr-3" alt="..." />
                </div>
                <div class="card__profile-link mt-5 mr-5">
                    <div class="d-flex justify-content-between">
                        <div class="link">
                            <p>Title</p>
                            <p class="fw-6">Mister</p>
                        </div>
                        <div class="link mr-5 ml-4">
                            <p>First Name</p>
                            <p class="fw-6">John
                            </p>
                        </div>
                    </div>
                    <div class="d-flex justify-content-between">
                        <div class="link">
                            <p>Last Name</p>
                            <p class="fw-6">Boyega</p>
                        </div>
                        <div class="link mr-5 ml-4">
                            <p>Mother's Maiden Name</p>
                            <p class="fw-6">Udeh
                            </p>
                        </div>
                    </div>
                    <div class="d-flex justify-content-between">
                        <div class="link">
                            <p>Sex</p>
                            <p class="fw-6">Male</p>
                        </div>
                        <div class="link mr-5 ml-4">
                            <p>Date of Birth</p>
                            <p class="fw-6">14/08/2006
                            </p>
                        </div>
                    </div>
                    <div class="d-flex justify-content-between">
                        <div class="link">
                            <p>Parent</p>
                            <p class="fw-6">Bello Ahmed</p>
                        </div>
                        <div class="link mr-5 ml-4">
                            <p>Nationality</p>
                            <p class="fw-6">Nigerian
                            </p>
                        </div>
                    </div>
                    <div class="d-flex justify-content-between">
                        <div class="link">
                            <p>Religion</p>
                            <p class="fw-6">Christinity</p>
                        </div>
                        <div class="link mr-5 ml-4">
                            <p>Local Government</p>
                            <p class="fw-6">Ibadan North
                            </p>
                        </div>
                    </div>
                    <div class="d-flex justify-content-between">
                        <div class="link">
                            <p>State of Origin</p>
                            <p class="fw-6">Oyo</p>
                        </div>
                        
                    </div>
                </div>
    
            </div>
    
            <div class="cards__plan">
                <div class="cards__profile-info">
                    <div class="line">
                          <h6>  Contact Person Details </h6>
                    </div>
                    <img src="assets/images/svg/edit.svg" class="mr-3" alt="..." />
                </div>
    
                
    
            </div>
        </section>
    
        <!-- <section class="contact mb-3 ">
            <div class="cards__profile">
                <div class="cards__profile-info">
                    <div class="line">
                        <h6> <img src="assets/images/svg/contact.svg" class="mr-3" alt="..." />
                            Contact Details</h6>
                    </div>
                    <img src="assets/images/svg/edit.svg" class="mr-3" alt="..." />
                </div>
                <div class="card__profile-link mt-5 mr-5">
                    <div class="link">
                        <p>Address</p>
                        <p class="fw-6">No. 1 Federal Estates</p>
                    </div>
                    <div class="link mr-5 ml-4">
                        <p>City</p>
                        <p class="fw-6">Victory Island </p>
                    </div>
                </div>
    
                <div class="card__profile-link mt-4 mb-5 mr-5">
                    <div class="link">
                        <p>State</p>
                        <p class="fw-6">Lagos State </p>
                    </div>
                    <div class="link mr-5 ml-4">
                        <p>Country</p>
                        <p class="fw-6">Nigeria </p>
    
                    </div>
                </div>
            </div>
    
            <div class="cards__profile">
                <div class="cards__profile-info">
                    <div class="line">
                        <h6> <img src="assets/images/svg/contact-person.svg" class="mr-3" alt="..." />
                            Contact Person</h6>
                    </div>
                    <img src="assets/images/svg/edit.svg" class="mr-3" alt="..." />
                </div>
                <div class="card__profile-link mt-5 mr-5">
                    <div class="link">
                        <p>First Name</p>
                        <p class="fw-6">Gbenga</p>
                    </div>
                    <div class="link mr-5 ml-4">
                        <p>Last Name</p>
                        <p class="fw-6">Adepoju </p>
                    </div>
                </div>
    
                <div class="card__profile-link mt-4 mb-5 mr-5">
                    <div class="link">
                        <p>Phone no: </p>
                        <p class="fw-6">0809 200 5681 </p>
                    </div>
                    <div class="link mr-5 ml-4">
                        <p>Email</p>
                        <p class="fw-6">gbenga@aislagos.org </p>
    
                    </div>
                </div>
            </div>
        </section> -->
    </div>
</div>