<app-homenavbar></app-homenavbar>
<section id="top">
    <div class="container">
        <p class="fs-48 ff-n fw-9 text-white">FAQs</p>
    </div>
</section>
<section id="faqs">
    <div class="py-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 mb-3">
                    <p class="text-center fs-48 fw-9 fc-dark ff-n mb-2">Got <span class="fc-orange">Questions</span> for
                        us?</p>
                    <p class="text-center">
                        <img src="assets/images/svg/divider2.svg" alt="">
                    </p>
                    <p class="text-center fc-dark fs-16 ff-n">
                        <span class="fw-6">EduTrack</span> is an all-inclusive and ubiquitous shared
                        educational technology infrastructure that <br>confers affordability and unbeatable capability
                        on member
                        schools as it guarantees:
                    </p>
                </div>
                <div class="col-lg-12"> 
                    <div id="accordion">
                        <div class="card">
                            <div class="card-header" id="headingOne" data-toggle="collapse" data-target="#collapseOne">
                                <p class="m-0 ml-3 ff-n fs-16 fw-6 fc-lblue">As a frequent traveller, how does
                                    EduTrack™ help me stay abreast of activities in my school?</p>
                            </div>

                            <div id="collapseOne" class="collapse" aria-labelledby="headingOne"
                                data-parent="#accordion">
                                <div class="card-body">
                                    <p class="fw-3 fs-14 ff-n m-0">
                                        EduTrack provides a robust and secured platform for School Administrators/Owners, Teachers, Parents and Students to seamless interact, teach and learn, administer the school, receive and pay bills, and obtain information on the go regardless of location and time. <br> It is ubiquitous providing data and information, for management decision making. It’s seamlessly and secure thereby promoting efficient practices across the School and Stakeholders. <br> It frees up valuable time enabling the school to focus on its primary responsibilities of teaching , developing strategies for success and providing outstanding education in the society 
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="heading1" data-toggle="collapse" data-target="#collapse1">
                                <p class="m-0 ml-3 ff-n fs-16 fw-6 fc-lblue">In summary, why MUST I prefer  <span class="fw-6">EduTrack</span>  to other school automation systems?</p>
                            </div>

                            <div id="collapse1" class="collapse" aria-labelledby="heading1"
                                data-parent="#accordion">
                                <div class="card-body">
                                    <p class="fw-3 fs-14 ff-n m-0 ">
                                        EduTrack is an advanced, flexible & interactive online school management system that streamlines the tasks of any educational management system with a few keystrokes, mouse clicks, and compactible to all devices and operating systems. <br> <br>
                                        EduTrack reduces the amount of paperwork and administrative time required for managing an educational institution. This frees up time of the staff so that they can channel their efforts  towards   innovative and efficient delivery approaches  that help you beat the competition in terms of Student Education quality. 
                                        EduTrack provides you with everything that you need to manage your school, all at one place and empowers the administrator with a Bird’s eye view of their concern. In addition to the standard and robust features, EduTrack is customizable to suits your unique requirements <br> <br>
                                        Added advantages of EduTrack listed below. <br> <br>
                                        
                                    </p>
                                    <ul class="fw-3 fs-14 ff-n m-0 ml-3">
                                        <li> Affordable and easy to use All-in-One Online School Management System. No joining fee</li>
                                        <li> It is uniquely designed to  support  both  individual schools, and a group of schools with same ownership. In fact it’s unrivalled in its native  Group of schools  management  capabilities </li>
                                        <li> Ensures  continuous learning  for students  beyond  the four walls of the school  through its top-notch virtual  learning  capabilities </li>
                                        <li> Integrates seamlessly with school Website and other Application through a robust API</li>
                                        <li> Its online  marketplace  capabilities  allows you to run online  school shop to seamless  ordering, sales and management of inventory for school  merchandise from your website </li>
                                        <li> No Proprietary Hardware, No Maintenance and Attendant Costs</li>
                                        <li> Effortless Installation, and free data conversion </li>
                                        <li> 24/7 Support. Low Cost of Ownership </li>
                                    </ul>
                                </div>
                            </div> 
                        </div>
                        <div class="card">
                            <div class="card-header" id="heading2" data-toggle="collapse" data-target="#collapse2">
                                <p class="m-0 ml-3 ff-n fs-16 fw-6 fc-lblue">What kind of reports does  <span class="fw-6">EduTrack</span>  use?</p>
                            </div>

                            <div id="collapse2" class="collapse" aria-labelledby="heading2"
                                data-parent="#accordion">
                                <div class="card-body">
                                    <p class="fw-3 fs-14 ff-n m-0">
                                        This system provides you standard reports and the flexibility to build custom reports as needed. With EduTrack your decision making is enabled and enhanced with the underlisted standard reports in line with the modular build of the system. The System provides you with a Dashboard quick view of transactions across your School , and you can generate printable reports  across academic and administrative spheres of your school activities.. These  include :
                                    </p>
                                    <span class="py-2">Student Reports</span>
                                    <ul class="fw-3 fs-14 ff-n m-0 ml-3 mb-2">
                                        <li> Prospect List</li>
                                        <li> Student Population Report </li>
                                        <li> Student Demographic Report </li>
                                        <li> Student by Class Report</li>
                                        <li> Student Progress Report and Report Card </li>
                                        <li> Student Attendance Report and Summaries </li>
                                        <li> Gradebook made easy  </li>
                                    </ul>
                                    <span class="py-2">General Admin. & Personnel Reports</span>

                                    <ul class="fw-3 fs-14 ff-n m-0 ml-3 mb-2">
                                        <li> Comprehensive Staff Report</li>
                                        <li>Evaluation Report </li>
                                        <li> Benefits and Loan Reports </li>
                                        <li> Wage Report</li>
                                        <li> Training Report </li>
                                        <li>Detailed Vendor Listing Report by Service or Product </li>
                                    </ul>
                                    
                                    <span class="py-2">Finance Reports</span>
                                    <ul class="fw-3 fs-14 ff-n m-0 ml-3 mb-2">
                                        <li> Invoice Listing Report, Processing and Tracking</li>
                                        <li>Pending Payment Report </li>
                                        <li> Student Balance Report </li>
                                        <li> Inventory Management Report</li>
                                        <li> Overdue Account Letter and Debt Aging Report </li>
                                        <li>Trial Balance, P&L Report & Balancesheet </li>
                               
                                    </ul>
                                    <p class="fw-3 fs-14 ff-n m-0">
                                        In addition to the above EduTrack comes with User friendly Dashboard with drill down functionalities
                                    </p>

                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="heading3" data-toggle="collapse" data-target="#collapse3">
                                <p class="m-0 ml-3 ff-n fs-16 fw-6 fc-lblue">Why is  <span class="fw-6">EduTrack</span>  different from other schools administrative systems?</p>
                            </div>

                            <div id="collapse3" class="collapse" aria-labelledby="heading3"
                                data-parent="#accordion">
                                <div class="card-body">
                                    <p class="fw-3 fs-14 ff-n m-0">
                                        EduTrack Integrates School processes, unifying school and home providing seamless possibilities for learning and interactions by all stakeholders. Automate and provides flow of transactions, schools activities and information between school administration, the classroom and the home via the web using a robust and secured database. It’s a secured web base system accessible to all Authorized Users anywhere and anytime in the world. EduTrack have the following unique features and advantages:
                                    </p>
                                    <ul class="fw-3 fs-14 ff-n m-0 ml-3 my-2">
                                        <li> Robust and secured and user friendly</li>
                                        <li>Great reporting, Dashboard and analytic capabilities </li>
                                        <li> Affordable pricing that stays small even as you grow in size and scale. </li>
                                        <li> EduTrack uses a powerful, attractive and user-friendly interface</li>
                                        <li> We give you hands-on and friendly online supports 24/7. Most issues are addressed, analyzed and fixed within 24 hours.</li>
                                        <li>We have a well-organised platform with a wide range of features accessible based on authorization i.e. role based access </li>
                                        <li>Easy to learn through our user training and change management processes. </li>
                                        <li>Lower system load compared to similar applications.</li>
                                      
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="heading4" data-toggle="collapse" data-target="#collapse4">
                                <p class="m-0 ml-3 ff-n fs-16 fw-6 fc-lblue">We already have a student’s database and a school administration system. Is it possible to import our database to  EduTrack  service?</p>
                            </div>

                            <div id="collapse4" class="collapse" aria-labelledby="heading4"
                                data-parent="#accordion">
                                <div class="card-body">
                                    <p class="fw-3 fs-14 ff-n m-0">
                                        Yes with our robust API and mass upload functionalities easily we migrate your data and information to EduTrack
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-header" id="heading5" data-toggle="collapse" data-target="#collapse5">
                                <p class="m-0 ml-3 ff-n fs-16 fw-6 fc-lblue">Do I need to invest in servers and technical resources for my school to run on  EduTrack™ ?</p>
                            </div>

                            <div id="collapse5" class="collapse" aria-labelledby="heading5"
                                data-parent="#accordion">
                                <div class="card-body">
                                    <p class="fw-3 fs-14 ff-n m-0">
                                        No need for such investments on your part.  EduTrack is provided in the “software -as-service “ (SaaS ) mode It’s our call and responsibilities to ensure your application is up and running following onboarding and migration of your data.. All needed is internet connection, Laptops and other Smart Device. 
This is to enable you concentrate on what you do best ‘teaching & research, leaning and associated conducive environment.’

                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-header" id="heading6" data-toggle="collapse" data-target="#collapse6">
                                <p class="m-0 ml-3 ff-n fs-16 fw-6 fc-lblue">Can we buy the  <span class="fw-7">EduTrack™</span>  Integrated School Management System and run it on our own server?</p>
                            </div>

                            <div id="collapse6" class="collapse" aria-labelledby="heading6"
                                data-parent="#accordion">
                                <div class="card-body">
                                    <p class="fw-3 fs-14 ff-n m-0">
                                        Yes, you can as a licensed Software. This is especially recommended  for educational organizations with several  school across the  different educational  development strata 
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</section>
<app-footer></app-footer>