<div class="col-md-12 mt-5 mr-3">
    <section class="banner d-flex justify-content-between align-items-center mb-4 pb-3">
        <div class="pt-5 pl-3 content ">
          <h6 class="banner__text-primary fw-6 "> Grade Book </h6>
          <p class=""> Broad sheet </p>
        </div>
        <button class="btn-upload-top btn-orange-two " type="button"> <img src="assets/images/svg/upload.svg"
            alt="new client" class="mr-2"> Import </button>
    
      </section>

      <div class="d-flex justify-content-end  align-items-center mb-4">
        
    
        <div class="d-flex justify-content-between">
          <div class="mr-5">
            <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M10.0429 9.43396H10.7204L15 13.7221L13.7221 15L9.43396 10.7204V10.0429L9.2024 9.80274C8.2247 10.6432 6.9554 11.1492 5.57461 11.1492C2.49571 11.1492 0 8.65352 0 5.57461C0 2.49571 2.49571 0 5.57461 0C8.65352 0 11.1492 2.49571 11.1492 5.57461C11.1492 6.9554 10.6432 8.2247 9.80274 9.2024L10.0429 9.43396ZM1.71556 5.57444C1.71556 7.70995 3.4394 9.43379 5.57491 9.43379C7.71042 9.43379 9.43426 7.70995 9.43426 5.57444C9.43426 3.43894 7.71042 1.7151 5.57491 1.7151C3.4394 1.7151 1.71556 3.43894 1.71556 5.57444Z" fill="#0052B4"/>
                </svg>
                
            Search
          </div>
          <div class="mr-5">
            <svg width="20" height="13" viewBox="0 0 20 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M16.125 4.9075C15.8451 3.5244 15.0813 2.27895 13.9642 1.38389C12.8471 0.488827 11.4459 -0.000318697 10 1.55786e-07C7.59167 1.55786e-07 5.5 1.3325 4.45833 3.2825C3.23353 3.41155 2.10084 3.97736 1.27791 4.8712C0.454976 5.76504 -0.000143085 6.92386 3.3744e-08 8.125C3.3744e-08 10.8144 2.24167 13 5 13H15.8333C18.1333 13 20 11.18 20 8.9375C20 6.7925 18.2917 5.05375 16.125 4.9075ZM14.1667 7.3125L10 11.375L5.83333 7.3125H8.33333V4.0625H11.6667V7.3125H14.1667Z" fill="#0052B4"/>
                </svg>
                
            Export
          </div>
          <div class="mr-5">
            <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M13.4577 5.66667H3.54102C2.36518 5.66667 1.41602 6.61583 1.41602 7.79167V12.0417H4.24935V14.875H12.7493V12.0417H15.5827V7.79167C15.5827 6.61583 14.6335 5.66667 13.4577 5.66667ZM11.3327 13.4583H5.66602V9.91667H11.3327V13.4583ZM13.4577 8.5C13.0681 8.5 12.7493 8.18125 12.7493 7.79167C12.7493 7.40208 13.0681 7.08333 13.4577 7.08333C13.8473 7.08333 14.166 7.40208 14.166 7.79167C14.166 8.18125 13.8473 8.5 13.4577 8.5ZM12.7493 2.125H4.24935V4.95833H12.7493V2.125Z" fill="#0052B4"/>
                </svg>
                
            Print
          </div>
        </div>
      </div>

      <div class="bg-white  mt-3 mb-3 br-10 py-5 px-4">
        <div class="d-flex justify-content-start  align-items-center mb-4">
            <div>
              <form>
                <div class="row">
                  <div class="col ">
                    <label for="section">Section</label>
                    <select name="" id="section" class="form-control">
                      <option value="">Select Section</option>
                    </select>
                  </div>
                  
                  <div class="col ">
                    <label for="class">Class</label>

                    <select name="" id="class" class="form-control">
                      <option value="">Select Class</option>
                    </select>
                  </div>
                  
                </div>
              </form>
            </div>
        
            
          </div>

          <table class="table">
            <thead>
              <tr>
                <th class="w-25"></th>
                <th class="vertical-header"><span>English Language</span></th>
                <th class="vertical-header"><span>Mathematics</span></th>
                <th class="vertical-header"><span>Intro technology</span></th>
                <th class="vertical-header"><span>Social Science</span></th>
                <th class="vertical-header"><span>Home Economcis</span></th>
                <th class="vertical-header"><span>Business Studies</span></th>
                <th class="vertical-header"><span>French Language</span></th>
                <th class="vertical-header"><span>French Language</span></th>
                <th class="vertical-header"><span>French Language</span></th>
                <th class="vertical-header"><span>French Language</span></th>
                <th class="vertical-header"><span>French Language</span></th>
                <th class="vertical-header"><span>French Language</span></th>
                <th class="vertical-header"><span>French Language</span></th>
                <th class="vertical-header"><span>Average Score</span></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="d-flex justify-content-between dropright align-items-center border-bottom border-top">
                  <div class="d-flex text-left">
                    <img src="assets/images/svg/teacher-grade.svg" alt="new client" class="mr-3">
                    <div class="student-info">
                      <p class="mb-0 cursor-pointer" >Miss Cynthia Godbless</p>
                    </div>
                  </div>
                 
        
        
                </td>
        
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
              </tr>
              <tr>
                <td class="d-flex justify-content-between dropright align-items-center border-bottom border-top">
                  <div class="d-flex text-left">
                    <img src="assets/images/svg/teacher-grade.svg" alt="new client" class="mr-3">
                    <div class="student-info">
                      <p class="mb-0 cursor-pointer" >Miss Cynthia Godbless</p>
                    </div>
                  </div>
                 
        
        
                </td>
        
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
              </tr>
              <tr>
                <td class="d-flex justify-content-between dropright align-items-center border-bottom border-top">
                  <div class="d-flex text-left">
                    <img src="assets/images/svg/teacher-grade.svg" alt="new client" class="mr-3">
                    <div class="student-info">
                      <p class="mb-0 cursor-pointer" >Miss Cynthia Godbless</p>
                    </div>
                  </div>
                 
        
        
                </td>
        
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
              </tr>
              <tr>
                <td class="d-flex justify-content-between dropright align-items-center border-bottom border-top">
                  <div class="d-flex text-left">
                    <img src="assets/images/svg/teacher-grade.svg" alt="new client" class="mr-3">
                    <div class="student-info">
                      <p class="mb-0 cursor-pointer" >Miss Cynthia Godbless</p>
                    </div>
                  </div>
                 
        
        
                </td>
        
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
              </tr>
              <tr>
                <td class="d-flex justify-content-between dropright align-items-center border-bottom border-top">
                  <div class="d-flex text-left">
                    <img src="assets/images/svg/teacher-grade.svg" alt="new client" class="mr-3">
                    <div class="student-info">
                      <p class="mb-0 cursor-pointer" >Miss Cynthia Godbless</p>
                    </div>
                  </div>
                 
        
        
                </td>
        
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
              </tr>
              <tr>
                <td class="d-flex justify-content-between dropright align-items-center border-bottom border-top">
                  <div class="d-flex text-left">
                    <img src="assets/images/svg/teacher-grade.svg" alt="new client" class="mr-3">
                    <div class="student-info">
                      <p class="mb-0 cursor-pointer" >Miss Cynthia Godbless</p>
                    </div>
                  </div>
                 
        
        
                </td>
        
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
              </tr>
              <tr>
                <td class="d-flex justify-content-between dropright align-items-center border-bottom border-top">
                  <div class="d-flex text-left">
                    <img src="assets/images/svg/teacher-grade.svg" alt="new client" class="mr-3">
                    <div class="student-info">
                      <p class="mb-0 cursor-pointer" >Miss Cynthia Godbless</p>
                    </div>
                  </div>
                 
        
        
                </td>
        
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
              </tr>
              <tr>
                <td class="d-flex justify-content-between dropright align-items-center border-bottom border-top">
                  <div class="d-flex text-left">
                    <img src="assets/images/svg/teacher-grade.svg" alt="new client" class="mr-3">
                    <div class="student-info">
                      <p class="mb-0 cursor-pointer" >Miss Cynthia Godbless</p>
                    </div>
                  </div>
                 
        
        
                </td>
        
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
              </tr>
              <tr>
                <td class="d-flex justify-content-between dropright align-items-center border-bottom border-top">
                  <div class="d-flex text-left">
                    <img src="assets/images/svg/teacher-grade.svg" alt="new client" class="mr-3">
                    <div class="student-info">
                      <p class="mb-0 cursor-pointer" >Miss Cynthia Godbless</p>
                    </div>
                  </div>
                 
        
        
                </td>
        
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
              </tr>
             
        
        
             
        
        
        
            </tbody>
          </table>
      </div>
    
</div>