.banner {
  width: 100%;
  background: url("../../../assets/images/svg/assignment-bg.svg") top left
      no-repeat,
    url("../../../assets/images/svg/assignment-bg2.svg") top left no-repeat;
  background-repeat: no-repeat;

  background-size: cover;
  background-position: center;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0 1.5rem;
  color: #ffffff;
  position: relative;
  background-blend-mode: multiply;
  mix-blend-mode: multiply;
  backdrop-filter: opacity(0.4);
}
.btn-upload-top {
  border: none;
  outline: none;
  padding: 11px 25px;
  border-radius: 2.5px;
  color: #fff;
  /* font-weight: 600; */
  border-radius: 10px;
}

.btn-orange-two {
  background: #04aed4;
  border-radius: 5px;
  height: 44px;
  font-family: Nunito;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  color: #ffffff;
}

.banner__text-primary {
  font-size: 36px;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #04aed4;
  font-weight: 600;
  background: #ecfdff;
  border: 1px solid #04aed4;
  border-radius: 10px;
  padding: 5px 12px;
}

.nav-pills .nav-link,
.nav-pills .show > .nav-link {
  background: #04aed4;
  border-radius: 10px;
  color: #ffffff;
  padding: 5px 12px;
}

label {
  font-size: 12px;
  color: #0a1128;
}
select {
  background: #fafafa;
  border: 1px solid #92b5dd;
  font-size: 14px;
}

thead th {
  background: #ebf0f5;
  border: 1px solid #b4cde9;
  font-size: 16px;
  color: #355691;
  font-weight: normal;
  text-orientation: sideways-right;
  height: 250px;

  /* font-weight: 600; */
}

.vertical-header span {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  text-align: left;
  max-height: 150px;
  height: 200px;
}

tbody td {
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  text-align: center;
}
