select {
    background: #FAFAFA;
border: 1px solid #92B5DD;
font-size: 14px;
}

.modal-content {
    border-radius: 0 !important;
    border: none;
    position: relative;

}


.modal-head {
    padding: 20px 40px;
    background: #EBF0F5;
    /* display: flex;
    justify-content: space-between; */
}



.client-modal {
    display: flex;
    flex-direction: column;

    padding: 0px 40px;

}

form {
    width: 100%;
}



textarea {
    height: 150px;
}

.close {
    cursor: pointer;
}

h6 {
    font-weight: bold;
    font-weight: 600;
}

.hide-addImg{
    display: none;
}
