<div class="d-flex justify-content-between align-items-end mb-3">
    <h6 class="fs-24 fw-6">Timetable </h6>
    
</div>

<div class="d-flex justify-content-between align-items-center  mb-3">
    <div>
        <form >
            <div class="row">
                <div class="col ">
                    <label for="level" class="fs-12 fw-6">Level</label>
                    <select name="" id="" class="form-control form-control-lg" (change)="getClassBySectionId($event.target.value)">
                        <option value="">Select Level</option>

                        <option [value]="section?.id" *ngFor="let section of sections">{{section?.name}} </option>
                    </select>
                </div>
                <div class="col ">
                    <label for="class" class="fs-12 fw-6">Class</label>
                    <select name="" id="" class="form-control form-control-lg" (change)="getSubjectsByClassId($event.target.value)">
                        <option value="">Select class</option>
                        <option [value]="class?.id" *ngFor="let class of classes">{{class?.name}}{{class?.classGroup}} </option>

                    </select>
                </div>
            </div>
        </form>
      </div>
    <button class="btn btn-orange-two  px-5 " (click)="createTimeTableCell()"> Publish </button>
    
    
</div>
        <div class="mt-5">
            <div class="row mb-2 text-center" >
                <div class="col-md-2">
                    
                </div>
                <div class="col-md-2" *ngFor = "let dayy of days; let d = index">
                   <p class="fw-6 fc-lblue">
                     {{dayy?.day}}
                   </p>
                </div>
                
                
            </div>
            <div class="container-fluid">
                <div class="row  " *ngFor = "let period of periods; let p = index" >
                    <div class="col-md-2  d-flex justify-content-between align-items-center">
                        <b>{{period?.name}}</b>
                    </div>
                    <div class="col-md-2 pb-2 border d-flex flex-column justify-content-center" *ngFor = "let day of days; let i = index" >
                      <img class="my-5" src="assets/images/svg/time-table.svg" alt="time table button" data-toggle="modal"
                      data-target="#exampleModalCenterLevel" (click)="getDay(day.id, period.id)" > 
                        <div class="d-flex flex-column" *ngFor = "let time of timeTableCells; let z = index"> 
                        
                          <p class="mb-0 fw-6 fc-lblue" *ngIf = "period?.name === time.periodName && day?.id === time?.day">  {{time?.subjectName | titlecase}} </p>
                          <p *ngIf=" period?.name === time.periodName && day?.id === time?.day && time?.hasVirtual === true"> Virtual Class </p>
                          <p *ngIf=" period?.name === time.periodName && day?.id === time?.day && time?.hasVirtual === false"> Physical Class </p>
                          <p *ngIf=" period?.name === time.periodName && day?.id === time?.day" class="fw-6">  {{time?.teacherName | titlecase}} </p>
                          
                        </div>
                        <div class="d-flex align-items-center">
                          <img src="assets/images/svg/table-time.svg" alt="" class="mr-3">
                          <p class="mb-0">{{period?.timeFromS}} - {{period?.timeToS}} </p>
                            
                        </div>
                        <div class="d-flex">
                           
                        </div>
                    </div>
                    
                </div>
               
            </div>

           
        </div>

<!-- time table Modal -->
<div class="modal fade" id="exampleModalCenterLevel" tabindex="-1" role="dialog"
  aria-labelledby="exampleModalCenterLevelTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-length" role="document">
    <div class="modal-content">

      <div class="modal-head mb-4">
        <div class="d-flex justify-content-between align-items-center ">
          <h6 class="modal-title fc-lblue"></h6>
          <img src="assets/images/svg/close-modal.svg" alt="modal close button" id="close" data-dismiss="modal"
            aria-label="Close" class="close">

        </div>

      </div>
      <div class="modal-body client-modal">
        <form >


          
         
          <div class="form-group mb-4">
            <label for="level" class="">Subject </label>
            <select name="" id="level" class="form-control" (change)="getTeacherBySubjectId($event.target.value)" required>
              <option value=""> Select</option>
              <option [value]="subject.id" *ngFor="let subject of subjectList">{{subject.subject}}</option>

            </select>
          </div>
          <div class="form-group mb-4">
            <label for="level" class="">Teacher </label>
            <select name="" id="level" class="form-control" [(ngModel)]= "addCell.teacherClassSubjectId" name = "teacherClassSubjectId"   required>
              <option value=""> Select</option>
              <option [value]="teacher?.id" *ngFor="let teacher of teachersList">{{teacher?.teacher}}</option>

            </select>
          </div>
          <div class="custom-control custom-checkbox" (change)="checkVirtual($event.target.checked)">
            <input type="checkbox" class="custom-control-input" id="customCheckTh"  [(ngModel)]= "addCell.HasVirtual" name = "HasVirtual">
            <label class="custom-control-label" for="customCheckTh">Vitual Classroom</label>
          </div>
          <!-- <div class="form-group mb-4">
            <label for="level" class="">Facilty </label>
            <select name="" id="level" class="form-control"  required>
              <option value=""> Select</option>
            </select>
          </div>
          <div class="form-group mb-4">
            <label for="level" class="">Type </label>
            <select name="" id="level" class="form-control"  required>
              <option value=""> Select</option>
            </select>
          </div>
          <div class="form-group mb-4">
            <label for="level" class="">Room </label>
            <select name="" id="level" class="form-control"  required>
              <option value=""> Select</option>
            </select>
          </div> -->
          
          


          <div class="d-flex justify-content-center mb-3">
            <button type="button " class="btn btn-outline-orange  px-5 mb-4 mt-3  mb-3 mr-3 "
              data-dismiss="modal">Cancel
            </button>
            <button class="btn btn-orange-two px-5 mb-4 mt-3" (click)="addCellToTimeTable()"> Add Class</button>
          </div>
        </form>
      </div>



    </div>
  </div>
</div>
<!-- end of time table modal -->