<div class="">
    <div class="login">
        <img src="assets/images/svg/school-login-logo.svg" alt="" class="school-logo">
        <div class="container">
            <div class="row">

                <div class="col-lg-5 m-auto">
                    <div class="whitediv d-flex justify-content-center align-items-center p-lg-5 p-3 mt-lg-5">
                        <div class="row">
                            <div class="col-lg-12 d-flex justify-content-center mb-5">
                               
                                <h6 class="fs-30 ">Admin Login</h6>
                            </div>
                            <div class="col-lg-12 mb-3">
                                <p for="" class="fs-16 ff-n fw-6 fc-dark m-0">Username </p>
                                <small class="fs-12 ff-n fc-dark mb-3">Please enter your username in the box
                                    below.</small>
                                <input type="text" class="form-control reg-form">
                            </div>
                            <div class="col-lg-12 mb-3">
                                <p for="" class="fs-16 ff-n fw-6 fc-dark m-0">Password</p>
                                <small class="fs-12 ff-n fc-dark mb-3">Please enter your password in the box
                                    below.</small>
                                <input type="password" class="form-control reg-form mb-2">
                                <p class="text-right">
                                    <a routerLink="/forgotpassword" class="fc-lblue fs-14 fw-6 ff-n">Forgot
                                        Password?</a>
                                </p>
                            </div>
                            <div class="col-lg-12 mb-3">
                                <button class="btn btn-blue w-100" [routerLink]="['/school']">
                                    Login
                                </button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="foot bg-dark py-3">
        <p class="fc-grey ff-a fs-12 m-0 text-center">© 2020. <span class="fw-6 ls-7">SchoolTrack</span> - All rights
            reserved </p>
    </div>
</div>