<div class="col-md-12 mt-5 mr-3">
    <section class="banner mb-4 pb-3">
        <div class="pt-5 pl-3 content ">
          <h6 class="banner__text-primary fw-6 "> Class Schedule </h6>
          <p class=""> Time table and schedule </p>
        </div>
    
      </section>

      <section class="search mt-5 mb-3">
        <div class="search__input has-search">
            <span class="fa fa-search form-control-feedback"></span>
            <input type="text" class="form-control" placeholder="Search">
        </div>
        
      </section>
    
</div>