.banner {
    width: 100%;
    background: url("../../../assets/images/svg/assignment-bg.svg") top left no-repeat, url("../../../assets/images/svg/assignment-bg2.svg") top left no-repeat;
    background-repeat: no-repeat;

    background-size: cover;
    background-position: center;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0 1.5rem;
    color: #ffffff;
    position: relative;
    background-blend-mode: multiply;
    mix-blend-mode: multiply;
    backdrop-filter: opacity(.4);
}



.banner__text-primary {
    font-size: 36px;
}


.btn-orange-two {
    background: #fb882c;
    border-radius: 5px;
    height: 44px;
    font-family: Nunito;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    color: #ffffff;
}


.search {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

input[type="text"] {
    width: 125%;
}