<div class="container-fluid">
    <div class="row">
        <div class="col-md-9 pl-5  pt-5 pr-4">
            <div class="file mb-4">
                <div class="file-hero d-flex justify-content-between align-items-center bg-white px-3 pt-4 pb-3 item">
                    <div>
                        <h5 class="fs-32 fc-lblue intro-text">File Manager</h5>
                        <p>You can assess all uploaded files and class recordings.</p>
                    </div>
                    <img src="assets/images/svg/assignment-student.svg" alt="new client" class=" mr-4 ">
                </div>

                <div class="file-card bg-white px-3 item">

                </div>
            </div>
        </div>
        <div class="col-md-3 bg-white">

        </div>
    </div>
</div>