<div class="container-fluid">
    <div class="row">
        <div class="col-md-9 pl-5  pt-5 pr-5">
            <div class="file mb-4">
                <div class="file-hero d-flex justify-content-between align-items-center bg-white px-3 pt-4 pb-3 item">
                    <div>
                        <h5 class="fs-32 fc-lblue intro-text">File Manager</h5>
                        <p>You can access all uploaded files and class recordings.</p>
                    </div>
                    <img src="assets/images/svg/assignment-student.svg" alt="new client" class=" mr-4 ">
                </div>

                
            </div>

            <div class="file-cards mb-5">
                

                <div class="files px-3 pt-3 pb-4 " *ngFor = "let subject of subjectList"  >
                    <p class="mb-0 "  > {{subject?.subject | titlecase}}</p>
                    <p class="last"  *ngIf="subject?.filesCount === 0"></p>
                    <p class="last cursor-pointer"  routerLink = "/student/file-storage/{{subject.id}}" *ngIf="subject?.filesCount >= 1">Click to view file(s)</p>
                    <span class="notice-pane fw-6" *ngIf="subject?.filesCount >= 1">{{subject?.filesCount}}</span>
                </div>
                
                <!-- <div class="files px-3 pt-3 pb-4 cursor-pointer">
                    <p class="mb-0"> English language</p>
                    <p>Click to view files</p>
                </div> -->
                
            </div>
        </div>
        <div class="col-md-3 bg-white">

        </div>
    </div>
</div>