<section id="foot">
    <div class="container py-2 py-lg-5">
        <div class="row">
            <div class="col-lg-5 col-sm-6">
                <div class="row">
                    <div class="col-12">
                        <p class="fs-32 fw-9 fc-grey2 ff-n m-0">Quick Links</p>
                        <div class="mb-3"><img src="assets/images/svg/divider.svg" alt=""></div>
                    </div>
                    <div class="col-lg-6 col-sm-6">
                        <p class="fc-grey2 ff-n fs-14"><a class="fc-grey2 ff-n fs-14 quicklink"
                                routerLink="/about-us">About us</a></p>
                        <p class="fc-grey2 ff-n fs-14"><a class="fc-grey2 ff-n fs-14 quicklink"
                                routerLink="/aboutus">Testimonials</a></p>
                        <p class="fc-grey2 ff-n fs-14"><a class="fc-grey2 ff-n fs-14 quicklink"
                                routerLink="/FAQs">FAQs</a></p>
                        <p class="fc-grey2 ff-n fs-14"><a class="fc-grey2 ff-n fs-14 quicklink"
                                routerLink="/about-us">Privacy Policy</a></p>
                        <p class="fc-grey2 ff-n fs-14"><a class="fc-grey2 ff-n fs-14 quicklink"
                                routerLink="/about-us">Terms of Use</a></p>
                    </div>
                    <div class="col-lg-6 col-sm-6">
                        <p class="fc-grey2 ff-n fs-14"><a class="fc-grey2 ff-n fs-14 quicklink"
                                routerLink="/about-us">Downloads</a></p>
                        <p class="fc-grey2 ff-n fs-14"><a class="fc-grey2 ff-n fs-14 quicklink"
                                routerLink="/about-us">Archives</a></p>
                        <p class="fc-grey2 ff-n fs-14"><a class="fc-grey2 ff-n fs-14 quicklink"
                                routerLink="/about-us">Online Learning Center</a></p>
                        <p class="fc-grey2 ff-n fs-14"><a class="fc-grey2 ff-n fs-14 quicklink"
                                routerLink="/about-us">Sample Reports</a></p>
                        <p class="fc-grey2 ff-n fs-14"><a class="fc-grey2 ff-n fs-14 quicklink"
                                routerLink="/about-us">Speak Out</a></p>
                    </div>
                </div>


            </div>
            <div class="col-lg-7 col-sm-6">
                <div class="row">
                    <div class="col-lg-6">
                        <p class="fc-grey2 ff-n fs-16 fw-9 mt-lg-3">CONTACT US</p>
                        <p class="fc-orange fs-14 fw-6 ff-n">Address:</p>
                        <p class="fc-grey2 fs-14 ff-n">Suit 16B Block B, 2nd Floor, LSPC Complex, 131 Obafemi Awolowo Way, Alausa, Ikeja, Lagos, Nigeria</p>

                        <p class="fc-orange fs-14 fw-6 ff-n">Phone Numbers:</p>
                        <p class="fc-grey2 fs-14 ff-n">
                            +234 802 323 8729 <span class="float-right">+234 812 825 2895</span><br>
                            +234 706 784 6954
                            <!-- <span class="float-right">+234 702 5223 954 </span><br> -->
                            <!-- +234 802 323 8729 -->
                        </p>

                        <p class="fc-orange fs-14 fw-6 ff-n">Email:</p>
                        <p class="fc-grey2 fs-14 ff-n">info@myschooltrack.com  <br>  </p>
                    </div>
                    <div class="col-lg-1"></div>
                    <div class="col-lg-5">
                        <p class="fc-grey2 ff-n fs-16 fw-9 mt-lg-3">WE ARE SOCIAL</p>
                        <p>
                            <a class="quicklink"><img src="assets/images/svg/Facebook.svg" alt=""></a>
                            <a class="quicklink ml-3"><img src="assets/images/svg/Twitter.svg" alt=""></a>
                            <a class="quicklink ml-3"><img src="assets/images/svg/Instagram.svg" alt=""></a>
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<div class="foot bg-dark py-3">
    <p class="fc-grey ff-a fs-12 m-0 text-center">© {{getYear()}}. <span class="fw-6 ls-7">MySchoolTrack</span> - All rights
        reserved </p>
</div>